<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>News | Free Software Australia</title><link>http://www.freesoftware.org.au/blog/</link><description>&amp;nbsp;&amp;nbsp;</description><atom:link rel="self" href="http://www.freesoftware.org.au/blog/author/michaelv/feeds/rss/"></atom:link><language>en</language><category>Article</category><category>Brisbane</category><category>Free Software Brisbane</category><category>Free Software Melbourne</category><category>Free Software Sydney</category><category>Meeting</category><category>Melbourne</category><category>News</category><category>Sydney</category><lastBuildDate>Sun, 15 Nov 2020 00:25:41 +0000</lastBuildDate><item><title>Apple&amp;#39;s Sunset on Freedom</title><link>http://www.freesoftware.org.au/blog/apples-sunset-on-freedom/</link><description>Apple's Sunset on Freedom
&lt;p&gt;
&lt;p&gt;
On the 9th November 2020, Tim Cook the current CEO of Apple, posted a picture on Twitter of a sunset from the Apple Park Campus in Cupertino. The text said "One more sleep". This was in relation to the online event the next day. While the direct message was essentially two dimensional corporate marketing, the deeper meaning that one could gather from this is much more significant.
&lt;p&gt;
On 10th November, Apple announced their new in-house designed M1 processors for their laptops and eventually desktop computers. For all the hype surrounding the technical features and the specifications, with this move they will also very quietly disallow you to load in an operating system of your choice. Apple computers in future will run only Apple operating systems and Apple approved software. You have no choice any more. The slow creep of hostility towards real choice has finally given Apple total control over the machines the users purchase.
&lt;p&gt;
To highlight just how bad this can be, in what could be considered bad timing for Apple, on the 12th November 2020 there was a server outage on their Apple Certificate Validation server. Normally if a server goes out it can be a little inconvenient in terms of grabbing data but this was an exceptional circumstance. The server was responsible for app authorisation on MacOS. As a part of the 'Gatekeeper' security technology in MacOS, every time you run an application, it needs to be verified by Apples online serves to ensure that it is secure. That is, every time you open an application that is installed on the local machine, Apple knows what you are launching, where and when you are doing it. If there is an internet connection, it will check it every single time you launch the application and if it cannot get through to the Apple server - it will not allow you to open the program. 
&lt;p&gt;
If a server goes down on the opposite side of the world, you cannot use the programs you have installed on your computer right in front of you.  
&lt;p&gt;
Gate Keeper as a technology is not a bad idea. It essentially does a check of your software to make sure that it is still the same piece of software you originally installed. It protects against malware changing it without your knowledge. But by adding in the near mandatory online check to this function, Apple has essentially weaponized a decent technology and turned it into a massive spying system at the same time. 
&lt;p&gt;
Credit to the Apple OS team - at least there was a work around. If the users disabled their Wifi or access to the authorisation server, MacOS would fall back into an offline state for running these programs. While that works for know, how long until even that option becomes obsolete? And if you buy one of Apples new Laptops with the M1 processor, you will have absolutely no options against using this. 
&lt;p&gt;
Apple have been actively hostile against folks using their computers as they wish for a long time. The GPL code that we fight for in ensuring the users have the freedom to use, share, modify and share modified - is forbidden on their app stores. The bulk of GPL code that was in MacOS has either been replaced with proprietary code, removed all together or left untouched since 2006. 
&lt;p&gt;
NOTE: Apple uses some GPL 2 code in the form of GNU GCC and GNU Bash which were last updated in 2006. Apple will not use the newer GPL 3 code because it offers the users too much freedom over the rest of their machines. 
&lt;p&gt;
If these issues with Apple were just limited to Apple machines, it wouldn't be such a large issue. It would be awful but not the end of computing in freedom as we know it. The issue is Apple has a tendency to leading the pack in regards to other manufacturers and software vendors decisions. As more custom hardware is being implemented in the name of performance and security, there is more incentive for manufacturers to lock down these machines for "competitive advantages". Custom hardware that limits users choices are becoming much more prevalent. Microsoft has started making laptops that use Microsoft specific processors which cannot have custom operating systems installed and Windows 10 has a near identical feature to the Apple authorisation certificates. This is a trend I do not see going away any time soon, so long as people keep buying these devices.
&lt;p&gt;
You as the users still have control however. You do not have to buy these restrictive machines or use their oppressive software. By buying hardware that respects your freedoms, that allows you to install the software you wish, you vote with your money on which way you want to see computing go in the future. Buy using a Free/Libre operating system like GNU/Linux, you are voting against the surveillance systems and the control that the big players are forcing on to individuals. By telling others about these options and how they can benefit the users, you are actively helping in fighting against the unwanted slide towards dystopia. We the users ultimately still hold the power, we just need to use it for good.
&lt;p&gt;
The sunset Tim Cook was posting wasn't just a sunset for an event the next day, it was a sunset on digital freedoms. The day when the last light of freedom was finally cast into the shadows of history... at least from Apples perspective. From your perspective you can choose otherwise, you can choose a path to freedom.
&lt;p&gt;
NOTE : I did not link to the post from Tim Cook because to use Twitter is to use a non-free service that tracks the users and it executes non-free java script.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sun, 15 Nov 2020 00:25:41 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/apples-sunset-on-freedom/</guid><category>Article</category></item><item><title>Update on browser standards</title><link>http://www.freesoftware.org.au/blog/update-on-browser-standards/</link><description>About a year ago we warned about the issues of the Chromium/Blink web rendering engine and how Google is essentially dictating the direction of web technology to their advantage.
&lt;p&gt;
&lt;a href="https://freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/"&gt;https://freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/&lt;/a&gt;
&lt;p&gt;
It now appears via multiple sources that this is becoming that case at least for their direct web services. 
&lt;p&gt;
&lt;a href="https://www.bleepingcomputer.com/news/google/google-now-bans-some-linux-web-browsers-from-their-services/"&gt;https://www.bleepingcomputer.com/news/google/google-now-bans-some-linux-web-browsers-from-their-services/&lt;/a&gt;
&lt;p&gt;
The short take on the story is that a lot of free software browsers, some of which happen to have provided the technology base of Chrome, are now being denied access under the guise of 'security'. While these browsers combined usage makes up less than 0.1% of Internet traffic, that Google has gone out of the way to deny the users access is a dangerous precident. To make matters worse, if you make these browsers report to Google that they are 'Google Chrome' - Googles own proprietary browser, then these sites work as intended making the whole idea look more preposterous.  
&lt;p&gt;
While this warning has not been seen universally by users and it appears to be in the trail stage, this is a very worrying for the free and open internet and the software that we use on it. Essentially the software maker, being Google, is able to dictate what people can use online using their software platform and online websites. 
&lt;p&gt;
Google has now made a few actions that are determined to control how the internet is used for their own gain.
&lt;p&gt;
Chrome is designed to dictate the technology base that people have to use, by having technology that can only be rendered properly by their browser, this sets the standards by which most web developers will aim to hit. This is to the detriment of anyone using non-google technology. 
&lt;p&gt;
It may be small user base browsers today, in future it might be things like Firefox and eventually all non-Chrome browsers - even ones that use the same 'open-source' code base. This is the situation we found the internet in at the end of the last decade with Microsoft's Internet Explorer dominating how internet technology would be shaped. It took the efforts of Mozilla and the Firefox project to finally break free from this situation.
&lt;p&gt;
Google is also directly dictating to web content providers to use their systems such as AMP technology so that run websites on their servers, making them load faster than they typically would and this is enhanced when using their browsers so that any competition looks bad by comparison.
&lt;p&gt;
Google uses many other techniques but these main ones are used to direct you into Googles profit machine at the expense of your choice of software and thus your privacy.
&lt;p&gt;
Over the last few years it has become apparent that more web browser technology is being dictated down from Google and less about letting technology find its own place via dis-census. That is, it is being designed rather than evolving. Technology is being used to squeeze out competition and free software based browsers are clearly being targeted. Google has misused API's to make performance run slowly on other browsers, dictated how DRM should be implemented online so that others cannot support the same standards and in general just made a technology target that favors it over other agreed standards.
&lt;p&gt;
The best solution to a problem is to prevent the problem in the first place. While we do not have much influence over standards committees, that doesn't mean you are powerless. This means having to avoid using these controlling technologies and to support those that have your back covered. By supporting free software and open standards that is what you are doing. Every time you use a Free-software browser and a website doesn't work properly, let the sites admin know about it. If they don't want to fix it - don't use it. You are better off not being forced into a compromised position. 
&lt;p&gt;
In the coming decade this will only get worse. With the increasing profit needs of Google, increasing operations costs, decline in return on computer hardware improvements, ever increasing demand so of users and the apathy of those same users that makes them accept these changes with little questioning, we are slowly walking down a road that is very difficult to recover from. It took almost a decade to turn it around last time with Firefox and that was through the arrogance of Microsoft not keeping their eye on the ball and assuming that they could never fall. This time it may not be possible as it is a very deliberate and targeted attack on users choices. If we don't try to fight this then we have lost already. If we wait until it is unbearable, it will be near impossible to overcome in any meaningful way.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Tue, 17 Dec 2019 02:57:24 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/update-on-browser-standards/</guid><category>Article</category></item><item><title>December Meetup - 6:30pm Friday 13th December 2019</title><link>http://www.freesoftware.org.au/blog/december-meetup-630pm-friday-13th-december-2019/</link><description>&lt;p&gt;The Christmas puddings at Coles are now being heavily discounted because they have been on the shelf for over 3 months, you know what that means... Christmas is just around the corner and with that it is also the end of another great year for Free Software Australia! As is tradition, the last meetup of the year is casual affair with dinner at Char Sui House in North Melbourne. No talks or pre-planned agenda, just an excuse to get together talk and have a great meal. Talk about the great things that have happened, things that concerned you and then move on to the great things that lay ahead in the world of free software in the new decade.&lt;/p&gt;&lt;p&gt;Dinner will be at 6:30pm on Friday 13th December at Char Siu House - 37 Errol St, North Melbourne. If you are lost on the night I can be contacted via mobile on 0433 96 96 77.&lt;/p&gt;&lt;p&gt;https://www.openstreetmap.org/way/480586195&lt;/p&gt;&lt;p&gt;- Michael&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sat, 16 Nov 2019 09:19:18 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/december-meetup-630pm-friday-13th-december-2019/</guid></item><item><title>Submission to the Review of the Telecommunications and Other Legislation Amendment (Assistance and Access) Act 2018</title><link>http://www.freesoftware.org.au/blog/submission-to-the-review-of-the-telecommunications-and-other-legislation-amendment-assistance-and-access-act-2018/</link><description>&lt;b&gt;
Below is the text of our submission in regards to the Telecommunications and Other Legislation Amendment (Assistance and Access) Act 2018.
&lt;/b&gt;
&lt;p&gt;
&lt;p&gt;
Free Software Melbourne is an organization of free software users and advocates and we represent the Australian network of Free Software users and developers. Part of our work involves raising awareness of the benefits of strong encryption and teaching people how to use encryption, it is in that capacity that we make this submission and would like make our strong opposition known to the Australian Federal Government, the opposition, other political parties and everyone within the community.
&lt;p&gt;
The Access Assistance and Bill, or Telecommunications and Other Legislation Amendment (Assistance and Access) Act as legislated in December 2018, is a badly-put together piece of legislation that will not only have negative consequences for Australian technologists and IT companies both financially and in terms of reputation but also puts Australia at the forefront of disrespecting and eroding privacy, free speech and citizens' rights. 
&lt;p&gt;
There are many points to address, sadly the government has given its constituents a very brief time to respond and so we would like to make a few salient points, although this is by no means an exhaustive list: 
&lt;p&gt;
- The current government has chosen to introduce some of the most regressive and damaging legislation in the Western World. This will position Australia as a model of anti-democratic and repressive forces. It has done so despite wide condemnation and concern by industry and various bodies such as, for example, the Australian Human Rights Commission. 
&lt;p&gt;
- The legislation aims to compel companies and individuals to act as spies at the behest of  the government and its various agencies such as ASIO, Department of Home Affairs, Federal Police and the Australian Signals Directorate. This list is sure to increase just as it did when the Telecommunications (Interception and Access) Amendment (Data Retention) Act 2015 was passed.
&lt;p&gt;
- Australia, for example, has condemned Chinese companies like Huawei and will not allow them to work on national infrastructure  projects but is itself using similar practices.
&lt;p&gt;
- Due to the uncertainties of the current and potentially future requirements on companies operating from Australia, this bill makes Australia substantially less attractive for tech companies, which may choose to not operate from, or in, Australia as a result.
&lt;p&gt;
- The legislation will weaken security and privacy for most users, for example, by introducing malware in the guise of operating system updates which makes all operating system updates suspicious and leaves users/the public vulnerable to security exploits. On the other hand, perhaps those who are being targeted can review and manage their own packages and not picking up these updates, thus rendering the whole operation void. These more sophisticated users are still free to move to other platforms that they have control over.
&lt;p&gt;
- Other organizations in Australia have also publicly expressed concern over the legislation, such as the Australian Information Industry Association (AIIA). AIIA CEO Ron Gauci recently stated “The Act is likely to negatively impact the competitiveness of Australian software and hardware manufacturers in international markets. We believe this could result in declining employment and export revenue, and consequently a significant reduction in local R&amp;amp;D and manufacturing"
&lt;p&gt;
- The Electronic Frontiers Australia (EFA) have also noted that "Future jobs aren't coming from manufacturing, they will come from tech - Australian tech can be world class, but not if people don't trust us."
&lt;p&gt;
While there are many more legal, economic, moral and feasibility reasons to object to this legislation, unfortunately the time available for preparing our submission for this review is limited and we have been compelled to submit our objections as they stand.
&lt;p&gt;
We ask therefore that the Committee to consider our objections and those raised by other industry groups and experts, and not to do so lightly.
&lt;p&gt;
Yours sincerely,
&lt;p&gt;
Free Software Melbourne Membership&lt;p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sun, 25 Aug 2019 00:37:00 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/submission-to-the-review-of-the-telecommunications-and-other-legislation-amendment-assistance-and-access-act-2018/</guid><category>Free Software Melbourne</category></item><item><title>FSM August 15th 2019 - Favorite Free Software</title><link>http://www.freesoftware.org.au/blog/fsm-august-15th-2019-favorite-free-software/</link><description>The world is always changing and so is the Free Software world, it can be difficult for folks to figure out what software is really worth looking into. With that we are having a 'Favorite Free Software' event. From distro's to audio/video software and heavy lifting work programs. For software for your top end PC down to your older phones, there is always something great in Free Software that can help you do more of what you want. We will show you some of the great free software available and hope that you will show us something great as well.
&lt;p&gt;
This is a no cost non-technical event and everyone is welcome. Bring a friend it you want, the more the merrier. Bring a computer or just bring yourself.
&lt;p&gt;
Event will be at Electron Workshop, 31 Arden Street - North Melbourne. Doors open at 6pm with the event starts at 6:30pm. Afterwards will be the usual Dinner in North Melbourne were we can continue the discussion were ever it may go.&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Mon, 05 Aug 2019 09:22:30 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/fsm-august-15th-2019-favorite-free-software/</guid></item><item><title>DRM in Action</title><link>http://www.freesoftware.org.au/blog/drm-in-action/</link><description>DRM in action
&lt;p&gt;
It has recently come to our attention a good example of how proprietary software combined with DRM (Digital Rights Restrictions) can directly impact the programs that people use.
&lt;p&gt;
Here is a blog entry titled &lt;a "="" blog.samuelmaddock.com="" google-widevine-blocked-my-browser="" href"https:="" posts=""&gt;'I tried creating a web browser, and Google blocked me'.&lt;/a&gt;
&lt;p&gt;
This is in relation the use of Widevine technology. It is a non-free technology that powers DRM for online streaming video (dis)services. It powers the likes of Netflix, Facebook, Amazon etc. It is used to take away your rights to view the works as you wish and forces you to use non-free programs on your machines. 
&lt;p&gt;
The overall issue is that a developer is trying to make a web browser but they are limited in functionality because Google will not give them the rights to implement the Widevine technology via a non-free addon. Of note is the comment from Google Support, "I'm sorry but we're not supporting an open source solution like this". This brings up two distinct issues. 
&lt;p&gt;
Firstly that they are actively not willing to work with a program that is non-free, thus forcing people to produce programs that restrict the users and their ability to run the programs. Essentially unless you produce a program that Google doesn't approve of then you will not be allowed to make it as you wish.
&lt;p&gt;
Secondly, that open source is not free software. If Google had allowed this program to use the Widevine technology, the program could still be technically considered open-source with a 3rd party proprietary add-on. If this was free software, putting this add-on in would make it non-free and would be in violation of the licenses put in place to protect you the user.
&lt;p&gt;
We have previously mentioned the issue of mono-culture in limiting Internet standards, the last case of this was with Microsoft adoption the Chromium standard for their Edge browser thus reducing the available pool of technology available to the users and giving more control to Google. This is another example of browser functionality being limited. While others are free to make web browsers, the likes of Google can control the technology so that no others can easily compete with their version of the standards. This is essentially a monopoly strong arming the competition out of the way be dictating the rules to other competitors. Developers and users should never be forced into this position and we must demand to be able to use our technology without giving up our freedoms.
&lt;p&gt;
Even if the developers of this program were not restricted by Google, we would never recommend a program that would use this kind of restrictive functionality. Not just because it is non-free software, but because it encourages more creative works providers to use DRM to lock down their services. If people do not push back and refuse to use these restrictive systems, it will only get worse for us. 
&lt;p&gt;
We do not recommend anything other than entirely free software. When it comes to media we do not recommend the use of anything that uses DRM as it is not only needs non-free software to run but it also encourages you to give up your rights. If works are locked behind DRM, we say it is not worth it regardless of the subject matter.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Thu, 04 Apr 2019 03:34:36 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/drm-in-action/</guid><category>News</category></item><item><title>Melbourne meetup - 21st February 2019 - All about Mastodon</title><link>http://www.freesoftware.org.au/blog/melbourne-meetup-14th-february-2019-all-about-mastedon/</link><description>All about Mastodon
&lt;p&gt;
A lot of people have not heard of Mastodon, it is a social media service similar to Twitter that you can self host. Its various separately operated user bases are federated across many different sites and its de-centralised nature can mean it will potentially be a lot more resilient compared with other online services. We will show you through it all and why you might be interested in using it.
&lt;p&gt;
We will also have the Gnews as usual and discussion about the 'Assistance and Access Bill' that will impact all of us.
&lt;p&gt;
This is a non-technical event and all are welcome.
&lt;p&gt;
The event is on 6:30PM - Thursday 21st February 2019 at Electron Workshop; 31 Arden Street North Melbourne.
&lt;p&gt;
Doors open at 6pm and the event will go through to 8pm. Afterwards we will have dinner in North Melbourne as usual and we can continue any discussion that will have arisen.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Thu, 07 Feb 2019 07:52:26 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/melbourne-meetup-14th-february-2019-all-about-mastedon/</guid><category>Free Software Melbourne</category></item><item><title>Keeping up with the giants</title><link>http://www.freesoftware.org.au/blog/keeping-up-with-the-giants/</link><description>Keeping up with the giants
&lt;p&gt;
The title is a word play on the term 'Keep up with the jones' the idea that for people to be happy then they have to emulate their neighbors in terms of achievements and assets or fear being left behind socially.
&lt;p&gt;
A criticism of free software I hear frequently is "This (proprietary software) costs $(x) million dollars to make. How can people give away the same quality software at no cost?". It may seem like a valid argument initially but there are a few issues with statements like these.
&lt;p&gt;
The most obvious, you are free to charge for software. There are no restrictions on making money on free software. While there is a very good chance that the software will become no-cost after people have purchased it and used the freedom to redistribute; regardless, this is still a good contribution of society. Generally if the software is good and you have a means of payment, people will support it to keep the working going. In that sense, free software could be one of the most pure examples of basic capitalism at work. Supply and demand without restriction.
&lt;p&gt;
The bigger issue is that, to think purely along the lines of 'x money = x output' is to blind ourselves to the potential of communities over a non-free business structure. There are many non-free programs that have hundreds of millions of dollars of development time, Adobe Photoshop is a good example. Despite the huge amount of work put into projects like that, free software with similar functions such as GIMP or Krita have produced similar results with less that 1/100th the money backing them up. They did not sell out their morals to produce the same functional results but infinitely better ethical results.
&lt;p&gt;
The idea that a video game needs a Hollywood action movie like budget to be 'fun' - is to miss the point of what games can be. When a perfectly viable an entertaining game can be made on a fraction of the budget while respecting your freedom is possible.
&lt;p&gt;
It is possible to have excellent output without needing the budget backing of a small nation. 
&lt;p&gt;
When we compare free software with non-free software, to make the argument about budget is to miss the point. If we were to let the big players dictate the rules on how to engage people in software, free software would have never happened. In terms of the money we would think it takes millions of dollars to achieve anything and in terms of software ethics, we would think we would have to perform a power play an restrict the users in order to release software.
&lt;p&gt;
The psychological factor to this is the idea that more money has been put into a project somehow means it is a better product and yet there is no basis for this. Money is not the issue, it is how the program treats the users. Money is a tool, not a quality measurement device.
&lt;p&gt;
If we restricted our thinking to these lines, we would have never even tried to make an alternative. The GNU operating system is a excellent example of what happens when one person (Richard Stallman) goes out and tries to make a difference in the world to then find many like minded people to help achieve something amazing.  
&lt;p&gt;
There has potentially been billions of dollars in free-software development but it has been diffused over many decades and tens of thousands of projects, all the while turning out amazing results without restricting the user in the process. This should be considered one of the great achievements of the 20th century and beyond.
&lt;p&gt;
Even with that amount of money, it is only a small fraction of money that non-free software has controlled directly and untold amounts that are not accounted for by restricting the users. Without that money, software that respects you would still be made out of the pure passion for creation and sharing.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Thu, 24 Jan 2019 00:24:59 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/keeping-up-with-the-giants/</guid><category>Article</category></item><item><title>When the Cloud bites</title><link>http://www.freesoftware.org.au/blog/when-the-cloud-bites/</link><description>When the Cloud bites
&lt;p&gt;
&lt;p&gt;
It has come to light that Google has raised the price of their online 'G Suite' service.  &lt;a href="https://mspoweruser.com/google-raises-g-suite-prices-by-20-percent/"&gt;Google Raises G Suite Prices&lt;/a&gt;
&lt;p&gt;
This is an excellent example of how if you use an online service that you do not control - you are at the mercy of the provider. Cloud companies have a track record of both raising prices and suddenly withdrawing services. For some people this can be an annoyance, for others they are running key infrastructure on system they do not control. Amazon Web Services (AWS) are a good example. As of 2017, AWS accounted for &lt;a href="https://awsinsider.net/articles/2017/08/01/aws-market-share-3x-azure.aspx"&gt;34% of all Cloud services &lt;/a&gt;- any change they make can disrupt large amount of the online digital world. It is only a matter of time until this happens.
&lt;p&gt;
There are other big issues with cloud computing that you can read here &lt;a href="https://freesoftware.org.au/cloud-computing/"&gt; Cloud Computing&lt;/a&gt;
&lt;p&gt;.
We recommend self hosting while using free software to avoid these issues. It can be a little more difficult to do initially but it keeps you the user in total control of the system you own and can allow you to protect the people you serve. It also means that you have the ability to personally fix issues if they arise rather than just waiting, powerless, on the owner of a hosting service to eventually fix these issues - if they fix them.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Fri, 18 Jan 2019 22:43:28 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/when-the-cloud-bites/</guid><category>News</category></item><item><title>Pure OS Store</title><link>http://www.freesoftware.org.au/blog/pure-os-store/</link><description>It has been announced by Purism that they will be bringing an App store to their Pure OS (Operating System). While the details are light at the moment this does bring up some very important issues in regards to free software.
&lt;p&gt;
&lt;a href="https://puri.sm/posts/purism-announces-pureos-store/"&gt;Pure OS App Store Announcement&lt;/a&gt;
&lt;p&gt;
Before that a small disclaimer. While we support Purism's Pure OS as it is 100% Free Software, we do not approve of their Laptop hardware. While they are trying to be as privacy aware and Free software powered as possible, their machines still contain the Intel Management Engine - an embedded backdoor into the hardware. Purism have tried to neuter this hardware as much as possible but it is still unknown just how potent what is left in the machine.
&lt;p&gt;
The Pure OS app store however will be a interesting idea if is modeled off the popular proprietary app model that a lot of big companies produce. If they are to maintain their RYF - Respect Your Freedom certification from the Free Software Foundation in the US, then this store must provide on 100% Free Software.
&lt;p&gt;
This brings up the issue of having apps you have to pay for. While the initial assumption that Free software is talking about price, this is never an issue that needs to addressed. While most free software has no cost, it is not a requirement. You are completely free (as in freedom) to sell any of this software to others so long as you respect the four essential freedoms.
&lt;p&gt;
1. Freedom to Study the program&lt;p&gt;
2. Freedom to Redistribute the program&lt;p&gt;
3. Freedom to Modify the program&lt;p&gt;
4. Freedom to Redistribute the Modified Program&lt;p&gt;

If Pure OS app store conforms to this then there is a lot of potential for developers to gain from such an arrangement.
&lt;p&gt;
If Purism were to charge for this software and were to split the revenue between Purism for hosting and the developer for developing the software, this has the potential to be a very potent means for funding free software. 
&lt;p&gt;
Hypothetically, say a program like Krita were to be sold for $10 with a 7:3 split on the revenue. The user gets the program and the source code as per the terms of free software. Purism would get $3 for hosting and the developer would get $7 to contribute to their project. It has the potential to be a big win for all involved.
&lt;p&gt;
This is just conjecture for the moment but we do hope that this is a model that Purism is considering. If Free Software even had 1/100th the funding of publicly used proprietary software then there would be a big push to develop this software to be even better than it is today.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Fri, 18 Jan 2019 04:06:51 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/pure-os-store/</guid><category>News</category></item><item><title>On Microsoft Edge and the Chromium Engine</title><link>http://www.freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/</link><description>It has been confirmed in the last week that Microsoft will be changing their Edge web browser to use a free-software/open source render engine in the form of Chromium/Blink. 
&lt;p&gt;
The rendering engine is the base system that handles a large part of the functionality of the web browser. It typically draws the website for display on the screen and runs the Java script to animate and process the website content.
&lt;p&gt;
On the surface this looks like a win for the free software community - however, this is just another move to deeper entrench proprietary technology into free software.
&lt;p&gt;
While Microsoft is moving to a more open standard please beware that this new browser is no better than the one provided now. It still uses non-free components that you cannot study, share, modify and share the modified; and it still has a lot of spy ware in the form of website behavior tracking for which Microsoft collects. 
&lt;p&gt;
There is also the issue that Google has been implementing a lot of functionality into the Chromium system that effectively binds it to non-free programs and functions built by Google. This is Google trying to force dependence on their services and their user tracking. This should not be tolerated. 
&lt;p&gt;
With Microsoft now adopting this technology base it has further closed the gap on how browser standards are treated. With only two players left in the browser standards field, FireFox and the Chromium based browsers there is the real possibility of Microsoft/Google strong arming a monopoly on technology standards that depend on these non-free components - effectively locking the world wide web into a restrictive system. 
&lt;p&gt;
While Firefox has a lot of privacy issues, it still uses a free software base renderer that is being heavily developed. The variants of Firefox that strip out the anti-features are still viable and must be supported for a free and open Internet. The are projects like GNU IceCat, A-Browser on Trisquel and Pure Browser on Pure OS - browsers that treat the users right. 
&lt;p&gt;
Do not support this push towards mono-standards as it will only hurt us long term even if it is the easy path now.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Mon, 17 Dec 2018 01:27:36 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/</guid><category>Article</category></item><item><title>Melbourne December Dinner - 21st December 2018</title><link>http://www.freesoftware.org.au/blog/melbourne-december-dinner-21st-december-2018/</link><description>Free Software Melbourne December Dinner
&lt;p&gt;
It is the end of yet another great year and as tradition we will be doing away with the formalities and be having an end of year dinner. No Gnews, no talks, no worries! Going against tradition, we will be doing it on a Friday rather than the typical Thursday meetings. That way if you have a Monday to Friday job then you will not have to worry about having to get up early the next day and can just enjoy a good meal and good chat for the end of the week.
&lt;p&gt;
Staying close to our normal meetup and dining location we will meet at 7pm at Char Su House on Errol St. This is an event for everyone and new comers are more than welcome to come along.
&lt;p&gt;
Friday 21st December 7PM 
&lt;p&gt;
Address: 37 Errol St, North Melbourne Victoria 3051, Australia
&lt;p&gt;
http://www.charsiuhouse.com&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sun, 02 Dec 2018 07:29:01 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/melbourne-december-dinner-21st-december-2018/</guid><category>Free Software Melbourne</category></item><item><title>Show and Tell / Committee Voting</title><link>http://www.freesoftware.org.au/blog/show-and-tell-committee-voting/</link><description>&lt;p&gt;
Alan Watts once said "You know you are wearing a comfortable pair of shoes when you are aware of the comfort" or something to that degree. In the same essence, when you know you have a good piece of free software you know how good it is and you just want to share it with the world!
&lt;p&gt;

In that essence, it is time for 'Free software Show and tell' when you can show off the great software you use or even some you have built yourself! Discuss what you see or provide recommendations to other. 
&lt;p&gt;

We will also be conducting our annual committee elections to vote in or out those that help organize Free Software Melbourne/Australia every month. If you are interesting in running then please step forward. Have a nomination for someone, that is all good as well. Maybe I will be pushed out of my spot? Anyones guess nowadays. 
&lt;p&gt;

This is a non-technical event and all are welcome.
&lt;p&gt;

The event is on 6:30PM - Thursday 15th November 2018 at Electron Workshop; 31 Arden Street North Melbourne. 
&lt;p&gt;

Doors open at 6pm and the event will go through to 8pm. Afterwards we will have dinner in North Melbourne as usual and we can continue any discussion that will have arisen.
&lt;p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Fri, 09 Nov 2018 00:31:37 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/show-and-tell-committee-voting/</guid><category>Free Software Melbourne</category></item><item><title>October 18th 2018 - Spring Libre Games Night</title><link>http://www.freesoftware.org.au/blog/october-18th-2018-spring-libre-games-night/</link><description>&lt;p&gt;
Greetings fellow freedom lovers, it is that time of the month again. We might not be Druids celebrating the change of the seasons but we do celebrate a similar quarterly event - our Libre Games Night! 
&lt;p&gt;
Time once again to come together and have a good time as we complete and co-operate in all manner of games both free and libre. We can show you new titles to try out or just have fun with your current favorites. If you need help installing some on your own machine then we are more than happy to help out and get you playing.
&lt;p&gt;
If you don't have your own computer we will try and provide you with one for the evening. This is a non-technical event and all are welcome.
&lt;p&gt;
The event is on 6:30PM - Thursday 18th October 2018 at Electron Workshop; 31 Arden Street North Melbourne. Doors open at 6pm and the event will go through to 8pm. Afterwards we will have dinner in North Melbourne as usual and we can continue any discussion that may (Almost definitely!) have arisen.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Wed, 03 Oct 2018 00:36:54 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/october-18th-2018-spring-libre-games-night/</guid><category>Free Software Melbourne</category></item><item><title>Melbourne Meetup - Free Software/Open Source licences and why do they matter</title><link>http://www.freesoftware.org.au/blog/melbourne-meetup-free-softwareopen-source-licences-and-why-do-they-matter/</link><description>&lt;p&gt;Hey there freedom lovers, &lt;br/&gt;&lt;br/&gt;It is that time of the month again where we get together to dig deep into all things digital freedom. &lt;br/&gt;&lt;br/&gt;This month Ben Minders will be talking about Open Source licences and why do they matter. It is one thing to make the worlds best program, it is another issue to inform the users how they are allowed to use it. If you don't know what license is best for your work and how the users can use it; you can be left in the lurch. Can you share with others? Are modifications allowed? Can you even use it with other programs? This is a talk that can guide you to allocate a license for a project or if you are just using the programs, to help you choose programs that treat you fairly. &lt;br/&gt;&lt;br/&gt;There will also be the usual Gnews of the month followed by dinner and discussion at KL Bunga Raya after the event.&lt;br/&gt;&lt;br/&gt;Doors open at 6pm with the main event starting at 6:30pm and dinner to follow in North Melbourne after 8:00 pm.&lt;br/&gt;&lt;br/&gt;This is a non-technical event and all guest are welcome. &lt;br/&gt;&lt;br/&gt;Thursday 16th August, 2018 6:30-8:00pm&lt;br/&gt;Electron Workshop - 31 Arden St, North Melbourne, Victoria, 3051&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434"&gt;http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434&lt;/a&gt;&lt;br/&gt;Travel tips by Electron Workshop: &lt;a href="http://www.electronworkshop.com.au/map/"&gt;http://www.electronworkshop.com.au/map/&lt;/a&gt;&lt;br/&gt;Running late or can't find us? Call 0419 390 496 or  0433 96 96 77&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sat, 11 Aug 2018 10:13:33 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/melbourne-meetup-free-softwareopen-source-licences-and-why-do-they-matter/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category></item><item><title>Free as in Freedom</title><link>http://www.freesoftware.org.au/blog/free-as-in-freedom/</link><description>&lt;p&gt;While we are not directly affiliated with the Free Software Foundation in the US, it is very obvious how much we are infulenced by their work.&lt;/p&gt;
&lt;p&gt;In particular is the works of Richard Stallman and as a part of this is the three books that have been produced by the Free Software Foundation - "Free as in Freedom".&lt;/p&gt;
&lt;p&gt;The first version of this was released in 2002 by Sam Williams. It profiles the founder of the Free software movement and the motivations for producing the movement. It is done mostly in a 'summer read' biography style about the founder and less about the works that where produced.&lt;/p&gt;
&lt;p&gt;The second version is a revised version of the book by Richard Stallman. It is a unique piece of work in that it is a biography has been produced both by a biographer and said subject.&lt;/p&gt;
&lt;p&gt;Third edition is a complete summary of Stallmans essays from GNU.org and is a great piece of work that shoudl be given to people that want to learn about the free software movement. While this is titled "Free Software Free Society" it is considered version 3.&lt;/p&gt;
&lt;p&gt;Over the last decade or so it has become somewhat difficult to find copies of these books, even online. For those who it may concern, we have compiled these books so that they are all in one place.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://freesoftware.org.au/static/media/uploads/faif-1.0.pdf"&gt;Free as in Freedom Version 1&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://freesoftware.org.au/static/media/uploads/faif-2.0.pdf"&gt;Free as in Freedom Version 2&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://freesoftware.org.au/static/media/uploads/faif-3.0.pdf"&gt;Free as in Freedom Version 3 AKA Free Software Free Society.&lt;/a&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Wed, 13 Jun 2018 11:47:49 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/free-as-in-freedom/</guid><category>Article</category></item><item><title>Melbourne - May 2018 Meetup - Contribute to Wikipedia</title><link>http://www.freesoftware.org.au/blog/melbourne-may-2018-meetup-contribute-to-wikipedia/</link><description>&lt;p&gt;Melbourne Meetup - 17th May 2018 - Contribute to Wikipedia&lt;/p&gt;
&lt;p&gt;Jimmy Wales is a mad man. Not in the same vein as those that launch cars with dodgy power trains into space on a Rocket for marketing glory; but mad in that he decided to put his chips into crowd sourcing information at no cost. To trust in the community to make the most diverse and accurate encyclopedia than had ever been created. Wikipedia has proved that what sounds ‘pie-in-the-sky’ unlikely can sometimes work and produce the best results. They forked the idea of GNUpedia and made it happen. Now you can learn how to contribute to this great library.&lt;/p&gt;
&lt;p&gt;Ben Minerds will guide you on how to contribute to Wikipedia and improve it for all to use. With a brief introduction we might even have you contributing on the very night and grow this information community just a little bit more.&lt;/p&gt;
&lt;p&gt;Afterwards we will have the monthly Gnews followed by dinner in North Melbourne.&lt;/p&gt;
&lt;p&gt;This is a non-technical event and all are welcome to join in.&lt;/p&gt;
&lt;p&gt;Do note that we have adjusted our starting time due to Winter and the ever increasing Melbourne traffic.&lt;/p&gt;
&lt;p&gt;Event is held at Electron Workshop at 31 Arden Street on 17th May 2018 and will now be opening doors at 6:30pm with start of proceedings at 7pm.&lt;/p&gt;
&lt;p&gt;Here is a link to the &lt;a href="https://freesoftware.org.au/static/media/uploads/wikipedia_workshop.pdf"&gt;presentation in pdf format&lt;/a&gt;.&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Mon, 14 May 2018 00:48:25 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/melbourne-may-2018-meetup-contribute-to-wikipedia/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category></item><item><title>March Meetup - Libre Games Night!</title><link>http://www.freesoftware.org.au/blog/march-meetup-libre-games-night/</link><description>&lt;p&gt;Computer games are great fun! What can make them even better is when they are free as in freedom! Games that have the potential to be changed in anyway you and your friends wish. Because it is fun, this month’s meet-up we will be going over and playing games that treat you right.&lt;br/&gt;&lt;br/&gt;If you have no idea what is out there then come a long and there might be something you like. If you know of something that others would be interested in then come along and enlighten us.&lt;br/&gt;&lt;br/&gt;Doors open at 6pm with the main event starting at 6:30pm and dinner to follow in North Melbourne after 8:30 pm.&lt;br/&gt;&lt;br/&gt;All are welcome.&lt;br/&gt;&lt;br/&gt;Thursday 15th March, 2018 6:30-8:30pm&lt;br/&gt;Electron Workshop - 31 Arden St, North Melbourne, Victoria, 3051&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434"&gt;http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434&lt;/a&gt;&lt;br/&gt;Travel tips by Electron Workshop: &lt;a href="http://www.electronworkshop.com.au/map/"&gt;http://www.electronworkshop.com.au/map/&lt;/a&gt;&lt;br/&gt;Running late or can't find us? Call 0419 390 496&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sun, 11 Mar 2018 06:50:29 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/march-meetup-libre-games-night/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category></item><item><title>Oculus does not serve you</title><link>http://www.freesoftware.org.au/blog/oculus-does-not-serve-you/</link><description>&lt;p&gt;On 7&lt;sup&gt;th&lt;/sup&gt; March 2018 all Oculus Virtual Reality headsets were rendered effectively useless.&lt;/p&gt;
&lt;p&gt;The reason for this was because of “an issue with our software certification…”. Essentially to get programs certified on Windows you can to be given permission by Microsoft to allow you to run the program on their operating system. Because of issues like this, it is possible for permission to use programs to be removed at any time by Microsoft for whatever reason they see fit or for the certification to expire because the developer did not update it or Microsoft will not or cannot issue a new one.&lt;/p&gt;
&lt;p&gt;In this case it is because the certificates that allows to program to run has expired. This is due to an oversight on the developers part on how the time stamps are formed. As much as it is considered an easy fix for the developers, it is a near impossible local fix for the users. It is an excellent example of how you the user are not in control of your software. As much as certification has the sole purpose of controlling the users. If you run a whole free software system this is not possible as you have the final control over your machines, the software they run and the hardware that relies on it. If a certificate program is created in free software, you are free to remove it.&lt;/p&gt;
&lt;p&gt;When it comes to hardware like the Oculus, you should not buy it. Doing so supports this system of oppression and only encourages other companies to do the same. Unless you can study, share, modify and redistribute the software freely, it is not working for you but someone else.&lt;/p&gt;
&lt;p&gt;You can read more over at Tech Crunch - &lt;a href="https://techcrunch.com/2018/03/07/all-of-oculuss-rift-headsets-have-stopped-working-due-to-an-expired-certificate"&gt;https://techcrunch.com/2018/03/07/all-of-oculuss-rift-headsets-have-stopped-working-due-to-an-expired-certificate&lt;/a&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Thu, 08 Mar 2018 03:07:33 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/oculus-does-not-serve-you/</guid><category>News</category></item><item><title>Rendering PDFs into Text/HTML with Free Software</title><link>http://www.freesoftware.org.au/blog/rendering-pdfs-into-texthtml-with-free-software/</link><description>&lt;p&gt;Hey there freedom lovers,&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;It is that time of the month again where we get together to discuss all things digital freedom. This month Tatiana Lenz is going to be talking about her experience as a Fellow with Code for Australia, working within the Victorian State Government's digital innovation program "Code for Victoria II - Women in Tech." Tatiana will touch on a couple of things:- the idea of civic tech, the inclusion program that was specifically aimed at recruiting women, building capability and empathy within the Public Service and the use of FOSS software.&lt;/p&gt;
&lt;p&gt;Technically Tatiana will walk through the solution the team came up with, using free software, for rendering PDFs into text and HTML in order to make them accessible.&lt;/p&gt;
&lt;p&gt;There will also be the usual Gnews of the month followed by dinner and discussion at KL Bunga Raya after the event Doors open at 6pm with the main event starting at 6:30pm and dinner to follow in North Melbourne after 8:30 pm.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;All are welcome. Thursday 15th February, 2018 6:30-8:30pm&lt;/p&gt;
&lt;p&gt;Electron Workshop - 31 Arden St, North Melbourne, Victoria, 3051&lt;/p&gt;
&lt;p&gt;Map: http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434&lt;/p&gt;
&lt;p&gt;Travel tips by Electron Workshop: http://www.electronworkshop.com.au/map/ Running late or can't find us? Call 0419 390 496&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">michaelv</dc:creator><pubDate>Sun, 11 Feb 2018 10:49:38 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/rendering-pdfs-into-texthtml-with-free-software/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category></item></channel></rss>