<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>News | Free Software Australia</title><link>http://www.freesoftware.org.au/blog/</link><description>&amp;nbsp;&amp;nbsp;</description><atom:link rel="self" href="http://www.freesoftware.org.au/blog/author/UnitTester/feeds/rss/"></atom:link><language>en</language><category>Article</category><category>Brisbane</category><category>Free Software Brisbane</category><category>Free Software Melbourne</category><category>Free Software Sydney</category><category>Meeting</category><category>Melbourne</category><category>News</category><category>Sydney</category><lastBuildDate>Sun, 01 Aug 2021 01:37:13 +0000</lastBuildDate><item><title>Licence controversies: Elastic Search and Audacity</title><link>http://www.freesoftware.org.au/blog/licence-controversies-elastic-search-and-audacity/</link><description>&lt;h3&gt;Licence controversies: Elastic Search and Audacity&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Please note updated venue:&lt;/strong&gt; &lt;a href="https://j.luv.asn.au/fsm"&gt;https://j.luv.asn.au/fsm&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;While we might have spent a lot of 2021 not doing much it's certainly been an exciting time for software licensing. Recently some big Free and Open Source projects have made licensing and related changes that could affect their communities for a long time to come and we're going to be talking about them this month at Free Software Melbourne.&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;After being acquired by Muse Group the GPL2-licensed Audacity has added a controversial Contributor License Agreement, introduced controversial features and made controversial changes to their privacy agreement. There is also some uncertainty about whether GPLv3 will be the next licence for Audacity.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;Another well known (formerly Open Source) project Elastic Search has recently adopted the SSPL which, while based on the GPLv3, is not recognised by the OSI or the FSF as a Free and Open licence. Would the AGPL have been a better solution, or is this an indicator of SSPLs success?&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;We'll present the news and reports about these issues, explore what impact this might have on us and look at alternatives and forks that are currently available. We will also have a discussion about what this means for these projects and their communities.&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;This will be a non technical event and all are welcome to join in the conversation or just listen in. We look forward to seeing you all online!&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Details&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li style="margin-bottom: 0cm; line-height: 100%;"&gt;Thursday, 19th August 2021, 7:30pm-9:00pm&lt;/li&gt;
&lt;li style="margin-bottom: 0cm; line-height: 100%;"&gt;Join us at: &lt;a href="https://j.luv.asn.au/fsm"&gt;https://j.luv.asn.au/fsm&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;strong&gt;Meeting Tips&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li style="margin-bottom: 0cm; line-height: 100%;"&gt;Be sure to test your audio on the way in. Your mic will be muted when you join the room.&lt;/li&gt;
&lt;li style="margin-bottom: 0cm; line-height: 100%;"&gt;Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li style="margin-bottom: 0cm; line-height: 100%;"&gt;Code of Conduct: &lt;a href="https://freesoftware.org.au/code-of-conduct"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">UnitTester</dc:creator><pubDate>Sun, 01 Aug 2021 01:37:13 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/licence-controversies-elastic-search-and-audacity/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>News</category></item><item><title>A show and tell about NextCloud</title><link>http://www.freesoftware.org.au/blog/a-show-and-tell-about-nextcloud-and-data-sovereignty-with-a-look-at-an-actual-instance/</link><description>&lt;h1&gt;A show and tell about NextCloud&lt;/h1&gt;
&lt;h2&gt;Data sovereignty with a look at an actual instance&lt;/h2&gt;
&lt;p&gt;The extensive use of Software as a Service (SaaS) and cloud infrastructure in modern times raises serious questions around data sovereignty and ownership: where does the data reside? who owns it? who has access and control of it? and what does that mean for me?&lt;/p&gt;
&lt;p&gt;This month at Free Software Melbourne we will be discussing alternatives to the big SaaS providers and in particular how we can use NextCloud to become our own self service SaaS providers. We'll discuss how NextCloud is built to deal with the General Data Protection Regulation (GDPR) and why that is important, even here in Australia. Like all Free Software, NextCloud has a community and we will also take a look at why it's so large and fast-growing.&lt;/p&gt;
&lt;p&gt;Advantages of NextCloud:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Can be self-hosted&lt;/li&gt;
&lt;li&gt;Can have full disk encryption&lt;/li&gt;
&lt;li&gt;General Data Protection Regulation (GDRP) compliant&lt;/li&gt;
&lt;li&gt;Fast-growing and friendly community&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;We will be leaving ample time at the end for questions and discussions so please feel welcome to engage fully.&lt;/p&gt;
&lt;p&gt;We’ll be meeting virtually via Big Blue Button at 7:30pm on Thursday the 15th. This is a non-technical event and all are welcome to listen in or join the discussion.&lt;/p&gt;
&lt;br/&gt;&lt;br/&gt;
&lt;p&gt;&lt;h2&gt;Details:&lt;/h2&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Thursday 15th October, 7:30-8:30pm&lt;/li&gt;
&lt;li&gt;Join us at: https://freesoftwareau.bigbluemeeting.com/pau-9ti-iea&lt;/li&gt;
&lt;li&gt;Short video intro to Big Blue Button (BBB): https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/li&gt;
&lt;li&gt;Meeting Tips:  Be sure to test your audio on the way in. 
        Your mic will be muted when you join the room. 
        Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li&gt;Code of Conduct: &lt;a href="http://freesoftware.org.au/code-of-conduct/"&gt;http://freesoftware.org.au/code-of-conduct/&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">UnitTester</dc:creator><pubDate>Thu, 08 Oct 2020 03:10:11 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/a-show-and-tell-about-nextcloud-and-data-sovereignty-with-a-look-at-an-actual-instance/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category></item><item><title>FSM Meeting, Thursday 21st May 2020, Staying connected with Free Software - Jami and Signal</title><link>http://www.freesoftware.org.au/blog/fsm-staying-connected-with-free-software-jami-and-signal/</link><description>&lt;p&gt;&lt;b&gt;FSM Staying connected with Free Software — Jami and Signal&lt;/b&gt;&lt;/p&gt;
&lt;br/&gt;
&lt;p&gt;
&lt;img alt="Jami on laptop and phone" src="https://freesoftware.org.au/static/media/uploads/jami_laptop_phone.png" width="620"/&gt;
&lt;/p&gt;&lt;br/&gt;
&lt;p&gt;The COVID-19 pandemic as upended the lives of billions of people
around the world. To prevent transmission of the virus, we have been
asked to stay at home, practice social distancing and avoid crowds.
As such, 100’s of millions of people have started using chat and
conferencing software to see friends, family and conduct business.
Unfortunately, many of the popular options in this space are
proprietary and most users are unaware of the privacy and security
issues that proprietary software brings into our lives. However Free
and Open Source software has us covered with many options for
communications software.&lt;/p&gt;
&lt;br/&gt;
&lt;p&gt;As a part of this year's theme of de-FAANG (removal of predatory
big tech companies from your life), we are exploring the world of
online communications and presenting Free/Libre and Open Source
solutions to keeping in touch and connecting with people. Instead of
using proprietary messaging apps on our mobile and PC’s such as
WhatsApp, Line and Viber. We will take a look at two great freedom
respecting messaging apps, Jami (&lt;a href="https://jami.net/"&gt;https://jami.net&lt;/a&gt;)
and Signal (&lt;a href="https://signal.org/"&gt;https://signal.org/&lt;/a&gt;)
and how we can use these to keep connected through the crisis.&lt;/p&gt;
&lt;br&gt;
&lt;p&gt;Never has the need for robust, auditable and trusted communication
software been more important. Not only for our privacy, but also for
the privacy and security of your friends and loved ones. The recent
media coverage of privacy and security concerns in conferencing and
communications software demonstrates why we need to be able to trust
our software with our personal and confidential communications.&lt;/p&gt;
&lt;br/&gt;
&lt;p&gt;We’ll be meeting virtually via Jitsi (a freedom respecting video
conferencing app we've discussed before) at 6:30pm on Thursday the
21st of May.&lt;/p&gt;
&lt;br/&gt;
&lt;p&gt;Details:&lt;/p&gt;
&lt;p&gt;Thursday 21st May, 6:30-8:00pm&lt;/p&gt;
&lt;p&gt;Jitsi Meet Room: &lt;a href="https://jitsi.puzzleduck.org/FSM"&gt;https://jitsi.puzzleduck.org/FSM&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;u&gt;Meeting Tips&lt;/u&gt;: Please mute your mic when joining and
headsets are recommended to reduce feedback.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;&lt;/br&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">UnitTester</dc:creator><pubDate>Sat, 09 May 2020 14:42:30 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/fsm-staying-connected-with-free-software-jami-and-signal/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category><category>News</category></item><item><title>Free Software Melbourne Meeting, Thursday 16th April 2020: Staying connected with Free Software</title><link>http://www.freesoftware.org.au/blog/free-software-melbourne-meeting-thursday-16th-april-2020-staying-connected-with-free-software/</link><description>&lt;h1&gt;FSM Apr 16th — Staying connected with Free Software — Signal and Jitsi&lt;/h1&gt;
&lt;p&gt;As COVID-19 has most of us held up in our homes, social distancing 
and avoiding crowds — never has the need for Free and Open 
communications with each other been more important.&lt;/p&gt;
&lt;p&gt;As much as folks may want to rush out and grab a proprietary solution to talk to 
friends and family. Stop! Don't do it! Not only for the privacy of 
yourself but for your friends and loved ones. The recent media coverage 
of privacy and security concerns is demonstrating why we need trusted 
and secure software for our personal and confidential 
communications.&lt;/p&gt;
&lt;p&gt;As a part of this year's theme of de-FAANG 
(removal of predatory big tech companies from your life), we are 
exploring the world of online communications and presenting some 
Free/Libre and Open Source solutions to keeping in touch.&lt;/p&gt;
&lt;p&gt;Again we'll be meeting via an online video web chat called Jitsi. We will 
demonstrate some neat alternatives to allow you to communicate with 
others and respect everyone's freedoms. From text messaging on your 
phone that is encrypted end-to-end, through to voice and video chat 
that can allow that ear-to-ear and face-to-face connection that we 
sometimes need, Free Software has you covered.&lt;/p&gt;
&lt;p&gt;Event starts at 6:30pm on Thursday 16th April 2020.&lt;/p&gt;
&lt;h3&gt;Details:&lt;/h3&gt;
Thursday 16th April, 6:30-8:00pm&lt;br/&gt;
Jitsi Meet Room: https://jitsi.puzzleduck.org/FSM&lt;br/&gt;
Meeting Tips: Mute your mic when joining or not talking&lt;br/&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">UnitTester</dc:creator><pubDate>Mon, 13 Apr 2020 12:35:09 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/free-software-melbourne-meeting-thursday-16th-april-2020-staying-connected-with-free-software/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>News</category></item></channel></rss>