<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en"><title>News | Free Software Australia</title><link rel="alternate" href="http://www.freesoftware.org.au/blog/"></link><link rel="self" href="http://www.freesoftware.org.au/blog/author/benm/feeds/atom/"></link><id>http://www.freesoftware.org.au/blog/</id><updated>2022-03-07T13:48:11+00:00</updated><subtitle>&amp;nbsp;&amp;nbsp;</subtitle><category term="Article"></category><category term="Brisbane"></category><category term="Free Software Brisbane"></category><category term="Free Software Melbourne"></category><category term="Free Software Sydney"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category><category term="Sydney"></category><entry><title>Favorite Free Software for 2021</title><link href="http://www.freesoftware.org.au/blog/favorite-free-software-for-2021/" rel="alternate"></link><published>2021-11-14T09:09:25+00:00</published><updated>2022-03-07T13:45:33+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/favorite-free-software-for-2021/</id><summary type="html">&lt;p&gt;Hi all,&lt;/p&gt;
&lt;p&gt;Last month videos night was fun and great to see some highlights from Software Freedom Day.&lt;/p&gt;
&lt;p&gt;As this month is our last regular meeting for the year it would be great to look back at the year and what Free and Open Source Software we found useful and helpful over the last year.&lt;/p&gt;
&lt;p&gt;We will go around the group and everyone will have a chance to talk about their favourite Free and Open Source Software. It can be anything from a short shout out or personal recommendation, a quick demonstration of how you use the software or a full run down of the features and benefits of your tool of choice.&lt;/p&gt;
&lt;p&gt;At the moment our committee numbers are currently lower than we like so we are looking for anyone interested to join the committee. In addition to our regular meetings the committee also meets up for an hour or two every month and beyond that you can contribute as much or as little time as you have to share. We could use people with all sorts of skill sets.&lt;/p&gt;
&lt;p&gt;Come along and celebrate 2021 and all the great Free and Open Source Software it has brought us.&lt;/p&gt;
&lt;p&gt;Details&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Thursday, 18th November 2021, 7:30pm-9:00pm&lt;/li&gt;
&lt;li&gt;Join us at: https://venue.electronworkshop.com.au/b/fsm-7fm-etn-vj8&lt;/li&gt;
&lt;li&gt;Join the FSM mailing list to be notified of events: https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Meeting Tips:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Be sure to test your audio on the way in. Your mic will be muted when you join the room.&lt;/li&gt;
&lt;li&gt;Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li&gt;Code of Conduct: https://freesoftware.org.au/code-of-conduct&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>SFD Video Previews and Free Software Video Night</title><link href="http://www.freesoftware.org.au/blog/sfd-video-previews-and-free-software-video-night/" rel="alternate"></link><published>2021-10-18T03:09:50+00:00</published><updated>2022-03-07T13:45:35+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/sfd-video-previews-and-free-software-video-night/</id><summary type="html">&lt;p class="ace-line" id="magicdomid55"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;Hey everyone,&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid57"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;Thanks to everyone who logged in to another awesome Software Freedom Day last month. If you weren't able to make it to the event live then hold tight because we are working on creating videos for each of the presentations.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid59"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;One ex&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;ce&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;ption to that is No&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;é&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;mi&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;'&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;s final talk about Searx. Unfortunat&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;e&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;ly the audio was not recorded, so unless someone from the audience recorded the audio and is happy to share it with us we unfortunat&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;e&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;ly won't be able to put together a video for that one.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid61"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;This month we're having a Free Software Video Night. We thought it would be fun to have a sneak peak &lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;at&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt; the "Best of SFD 2021" where we preview and discuss a few minutes of each of the speaker&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;'&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;s talks.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid115"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;Keeping with the Video Night theme we'll finish off the evening with a Blender movie or two from the many available. We'll have a vote on the night and the top movies will win.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid65"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;Just to refresh your memory&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;:&lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt; the Blender movies we'll be picking from are Coffee Run, Spring, Hero, Daily Dweebs, Agent 327: Operation Barbershop, Caminandes 3: Llamigos, Glass Half, Cosmos Laundromat, Caminandes 2: Gran Dillama, Caminandes 1: Llama Drama, Tears of Steel, Sintel, Big Buck Bunny, Elephants Dream&lt;/span&gt;&lt;span class="author-a-z68zdz69zo8cdz86zyz82zz77zz72ziz80zor"&gt;.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid67"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;Details&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid68"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;    Thursday, 21st October 2021, 7:30pm-9:00pm&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid69"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;    Join us at: &lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt url"&gt;&lt;a href="https://venue.electronworkshop.com.au/b/fsm-7fm-etn-vj8" rel="noreferrer noopener"&gt;https://venue.electronworkshop.com.au/b/fsm-7fm-etn-vj8&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid70"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;    Join the FSM mailing list to be notified of events: &lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt url"&gt;&lt;a href="https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb" rel="noreferrer noopener"&gt;https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid71"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;    Meeting Tips:&lt;/span&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid72"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;        Be sure to test your audio on the way in. Your mic will be muted when you join the room.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid73"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;        Headsets are recommended to reduce any feedback.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid74"&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt"&gt;        Code of Conduct: &lt;/span&gt;&lt;span class="author-a-z90zz66zz90z7z74zz72zz79zz88zz72zqdiimz78zt url"&gt;&lt;a href="https://freesoftware.org.au/code-of-conduct" rel="noreferrer noopener"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary></entry><entry><title>User Freedom on the Web</title><link href="http://www.freesoftware.org.au/blog/user-freedom-on-the-web/" rel="alternate"></link><published>2021-07-05T12:18:06+00:00</published><updated>2022-03-07T13:45:40+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/user-freedom-on-the-web/</id><summary type="html">&lt;p class="ace-line" id="magicdomid82"&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;&lt;b&gt;*NOTE CHANGE OF MEETING URL*&lt;/b&gt; Free software is defined by the four user freedoms and &lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;for a long time these freedoms have been &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;ensured by&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; Free Software&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt; licenses&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; like the GPL. While not perfect these licen&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;s&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;es help preserve the four freedoms for the kinds of applications we use on our desktop computers&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt; that do not involve other computers&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;. Things start to get a bit more&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt; complicate&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;d when we start making software available over a network&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt; and using such software&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;. Mix in the popularity of the &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;W&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;orld &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;W&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;ide &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;W&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;eb and it &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;makes it tricky to preserve these freedoms.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid84"&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;In this talk I will give an introduction to t&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;he topic of &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;user freedom&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; on the &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;W&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;eb&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;. I will talk about the issues on server-side (&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;that is the&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;ASP loophole and SaaSS) and &lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;also from the &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;client-side (&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;i.e.&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;the javascript trap)&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;. I will also cover some of today&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;'&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;s popular&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt; solutions and mitigations&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; to these problems&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt; &lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;like &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;the &lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;AGPL&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;,&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; self-hosted services and &lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt;the &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;LibreJS&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt; browser&lt;/span&gt;&lt;span class="author-a-iz90zz89zo9z68zz84zfefz80zz72z69qg"&gt; extension&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid86"&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt;We look forward to seeing you at the online meeting!&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid88"&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;P.S. meetup.com is not required for following FSM updates. If you are reading this announc&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;e&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt;ment through meetup.com, the speaker advises that you reduce your dependency on proprietary software required for using meetup.com, by signing up to the FSM mailing list at &lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z url"&gt;&lt;a href="https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb" rel="noreferrer noopener"&gt;https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb&lt;/a&gt;&lt;/span&gt;&lt;span class="author-a-lz66z0z87zz84zgz80zz81zwbrz69z4hz66zz81z"&gt; for all FSM announcements.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid91"&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt;Details&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid92"&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt;    Thursday, 1&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;5&lt;/span&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt;th Ju&lt;/span&gt;&lt;span class="author-a-gz89z3z65z5pz78ziz87zz90zz85zz70zz69zz87zwt"&gt;ly&lt;/span&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt; 2021, 7:30pm-9:00pm&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid93"&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt;    Join us at: &lt;/span&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z url"&gt;&lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu" rel="noreferrer noopener"&gt;https://j.luv.asn.au/fsm&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid99"&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z"&gt;        Code of Conduct: &lt;/span&gt;&lt;span class="author-a-z76z9z78zz81zk8yz122z9z73zz89zz82zz86zz65zsz89z url"&gt;&lt;a href="https://freesoftware.org.au/code-of-conduct" rel="noreferrer noopener"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Everyday Hardware for Free Software: Mobile Phones, Laptops, and more</title><link href="http://www.freesoftware.org.au/blog/everyday-hardware-for-free-software-mobile-phones-laptops-and-more/" rel="alternate"></link><published>2021-06-12T08:47:25+00:00</published><updated>2022-03-07T13:45:41+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/everyday-hardware-for-free-software-mobile-phones-laptops-and-more/</id><summary type="html">&lt;p class="ace-line" id="magicdomid108"&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;Free Software is owned by its community of users and creators, for the benefit of that community, and of human society in general.  Free Software respects the autonomy and privacy of its users — especially important in this age when so many companies base their business on control and surveillance of their customers.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid110"&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;But &lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;all &lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;software runs on hardware, and similar considerations apply.  &lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;In order to maintain controll over our software &lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;we also need hardware devices that respect the autonomy and privacy of their users.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid112"&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;This is a vast topic.  My goal for this talk is more modest: A tour of some hardware that's friendly to Free Software, in the hope that you might learn about something you can use.  My main focus will be on devices for everyday use: mobile phones, laptops, and single-board computers usable as desktop computers or as home servers, some of which I own and can therefore demonstrate live in the talk, and can speak of from my own experience.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid114"&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;Devices I plan to talk about: Pinephone, Pinebook Pro, SOPINE A64 (from Pine64); Librem5 phone and Librem laptops (from Purism); Odroid-XU4, Odroid-H2+, Odroid Home Cloud devices (from HardKernel); Raspberry Pi 4; and possibly the MNT Reform laptop and GNUBee PC-1.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid116"&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;Also, if you have some favorite &lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;privacy respecting or open&lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt; hardware&lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt; you would like to demonstrate or show off&lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;, you're welcome to join in at the meeting and do a brief lightning talk about it, especially if you have it at hand for show'n'tell.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid118"&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;We look forward to seeing you at the online meeting!&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid121"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;Details&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid122"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;    Thursday&lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;,&lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt; &lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;17&lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;th &lt;/span&gt;&lt;span class="author-a-z69zz69zz87ziz86zbz85zkz65zh5upe5z76z"&gt;June 2021&lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;, 7:30pm-9:00pm&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid123"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;    Join us at: &lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z url"&gt;&lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu" rel="noreferrer noopener"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid124"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;    Short video intro to Big Blue Button (BBB): &lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z url"&gt;&lt;a href="https://www.yewtu.be/watch?v=uYYnryIM0Uw" rel="noreferrer noopener"&gt;https://www.y&lt;/a&gt;&lt;/span&gt;&lt;span class="author-a-iz73zz73z7qwz74zez83znoyz75zz82zsd url"&gt;&lt;a href="https://www.yewtu.be/watch?v=uYYnryIM0Uw" rel="noreferrer noopener"&gt;ewtu.be&lt;/a&gt;&lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z url"&gt;&lt;a href="https://www.yewtu.be/watch?v=uYYnryIM0Uw" rel="noreferrer noopener"&gt;/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid125"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;    Meeting Tips:&lt;/span&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid126"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;        Be sure to test your audio on the way in.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid127"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;        Your mic will be muted when you join the room.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid128"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;        Headsets are recommended to reduce any feedback.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid129"&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z"&gt;        Code of Conduct: &lt;/span&gt;&lt;span class="author-a-z71zz81zz68zsz68zt7w43az83zz72zz87zz78zz73z url"&gt;&lt;a href="https://freesoftware.org.au/code-of-conduct" rel="noreferrer noopener"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="ace-line" id="magicdomid130"&gt;&lt;/div&gt;
&lt;div class="ace-line" id="magicdomid131"&gt;&lt;span class="author-a-21z88z4z77zalz66zz66zlz74zz87zz65zedz70z"&gt;Stay in touch by joining the Free Software Melbourne mailing list: &lt;/span&gt;&lt;span class="author-a-21z88z4z77zalz66zz66zlz74zz87zz65zedz70z url"&gt;&lt;a href="https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb" rel="noreferrer noopener"&gt;https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb&lt;/a&gt;&lt;/span&gt;&lt;/div&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>FSM Wiki Working Bee</title><link href="http://www.freesoftware.org.au/blog/fsm-wiki-working-bee/" rel="alternate"></link><published>2021-05-11T16:52:49+00:00</published><updated>2022-03-07T13:45:40+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/fsm-wiki-working-bee/</id><summary type="html">&lt;p class="ace-line" id="magicdomid79"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;Hi Folks,&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid80"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid81"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;Sorry if we've seemed a bit quiet, it appears that recently the committee email address was accidentally removed from the mailing list causing our messages to go un-posted. I think we've managed to fix the issue, so hopefully all is well and you'll be reading this announcement.&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid82"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid83"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;Thanks to everyone who managed to find us last month and participate in the discussion around Privacy and Free Software. I have attached the updated slides incorporating every ones feedback to this months email and we're really grateful for the feedback and input.&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid84"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid85"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;This month we're going to be trying something different with our first (maybe annual) FSM Wiki Working Bee.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid86"&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid87"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;First up we'll be having a review of the wiki and some discussion around what we want to keep, what we want to improve and what we can archive or remove. After that discussion we'll work on some of the items we think we can tackle in small groups or collaborative sessions. We'll try to finish off the night with a show and tell of what we've been able to complete (or what we hope to have finished soon).&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid88"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid89"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;So come along and have a your say about what happens to our wiki. We’ll be meeting virtually via Big Blue Button at 7:30pm. This will be a non technical event so feel free to join the initial discussion and find out how easy it can be to contribute to a wiki.&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid90"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid91"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;Details&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid92"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;    Thursday 20th May, 7:30pm-9:00pm&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid93"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;    Join us at: &lt;/span&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z url"&gt;&lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu" rel="noreferrer noopener"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid94"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;    Short video intro to Big Blue Button (BBB): &lt;/span&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z url"&gt;&lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw" rel="noreferrer noopener"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid95"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;    Meeting Tips:&lt;/span&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid96"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;        Be sure to test your audio on the way in.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid97"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;        Your mic will be muted when you join the room.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid98"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;        Headsets are recommended to reduce any feedback.&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid99"&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z"&gt;        Code of Conduct: &lt;/span&gt;&lt;span class="author-a-z86zebz81zz88z16mitz65zz76zce6z72z url"&gt;&lt;a href="https://freesoftware.org.au/code-of-conduct" rel="noreferrer noopener"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Free Software and Privacy Discussion Night</title><link href="http://www.freesoftware.org.au/blog/free-software-and-privacy-discussion-night-1/" rel="alternate"></link><published>2021-04-05T13:59:17+00:00</published><updated>2022-03-07T13:45:44+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/free-software-and-privacy-discussion-night-1/</id><summary type="html">&lt;p&gt;Hi Folks,&lt;/p&gt;
&lt;p&gt;This month we'll be getting together for an informal chat about Free Software and Privacy (sorry about the last minute cancellation last month). We'll discuss how Free Software helps preserve our freedoms, Free Software tools for privacy and the privacy consequences of using proprietary software. We'll also have a think about what we are going to do for Privacy Awareness week in May and just catch-up and talk Free Software in general.&lt;/p&gt;
&lt;p&gt;So come along and have a chat with us about Privacy. We’ll be meeting virtually via Big Blue Button at 7:30pm. This will be a non technical event so feel free to join the discussion, make suggestions or just listen in.&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Details&lt;/li&gt;
&lt;li&gt;Thursday 15th April, 7:30pm-9:00pm&lt;/li&gt;
&lt;li&gt;Join us at: &lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Short video intro to Big Blue Button (BBB): &lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Meeting Tips:
&lt;ul&gt;
&lt;li&gt;Be sure to test your audio on the way in.&lt;/li&gt;
&lt;li&gt;Your mic will be muted when you join the room.&lt;/li&gt;
&lt;li&gt;Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li&gt;Code of Conduct: https://freesoftware.org.au/code-of-conduct&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Free Software and Privacy Discussion Night</title><link href="http://www.freesoftware.org.au/blog/free-software-and-privacy-discussion-night/" rel="alternate"></link><published>2021-03-15T06:36:53+00:00</published><updated>2022-03-07T13:48:11+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/free-software-and-privacy-discussion-night/</id><summary type="html">&lt;p&gt;Hi Folks,&lt;/p&gt;
&lt;p&gt;This month we'll be getting together for an informal chat about Free Software and Privacy. We'll discuss how Free Software helps preserve our freedoms, Free Software tools for privacy and the privacy consequences of using proprietary software. We'll also have a think about what we are going to do for Privacy Awareness week in May and just catch-up and talk Free Software in general.&lt;/p&gt;
&lt;p&gt;So come along and have a chat with us about Privacy. We’ll be meeting virtually via Big Blue Button at 8:00pm. This will be a non technical event so feel free to join the discussion, make suggestions or just listen in.&lt;/p&gt;
&lt;p&gt;Note the later than usual start time at 8:00pm.&lt;/p&gt;
&lt;p&gt;Details&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Thursday 18th March, 8:00pm-9:00pm&lt;/li&gt;
&lt;li&gt;Join us at: &lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Short video intro to Big Blue Button (BBB): &lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Meeting Tips:
&lt;ul&gt;
&lt;li&gt;Be sure to test your audio on the way in.&lt;/li&gt;
&lt;li&gt;Your mic will be muted when you join the room.&lt;/li&gt;
&lt;li&gt;Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li&gt;Code of Conduct: https://freesoftware.org.au/code-of-conduct&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category></entry><entry><title>Campaign and activities planning for 2021</title><link href="http://www.freesoftware.org.au/blog/campaign-and-activities-planning-for-2021/" rel="alternate"></link><published>2021-02-11T12:20:48+00:00</published><updated>2022-03-07T13:45:42+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/campaign-and-activities-planning-for-2021/</id><summary type="html">&lt;p&gt;Hi Freedom Lovers,&lt;/p&gt;
&lt;p&gt;Thanks to every one who came along to our meetup about a Right to Repair submission to the enquiry. We got a sold draft knocked out and had shaped it into a great submission by the weekend. I've posted a copy of the submission on our wiki: https://freesoftware.org.au/wiki/RightToRepairProductivityCommission and I was able to track down our pdf submission on the Productivity Commission website: https://www.pc.gov.au/__data/assets/pdf_file/0005/272318/sub043-repair.pdf&lt;/p&gt;
&lt;p&gt;This month we're going to put our heads together and plan out the campaigns for the year ahead. Do you want more hardware reviews, more campaigns like Right to Repair or just more games. Which campaigns should we continue our involvement in and what other campaigns are emerging that we could lend our weight to? Now's your chance to have your say about how the this year at Free Software Melbourne will be.&lt;/p&gt;
&lt;p&gt;We'll all take a look at the campaigns we are currently running and what we can do next. We'll also look at what we need to do to plan for and participate in events like Melbourne Knowledge Week and Privacy Week. If you're aware of any other events we could participate in come along and tell us about it or make suggestions on the mailing list before the meetup.&lt;/p&gt;
&lt;p&gt;So come along and help set course for this year at Free Software Melbourne. We’ll be meeting virtually via Big Blue Button at 7:30pm. This will be a non technical event so feel free to join the discussion, make suggestions or just listen in.&lt;/p&gt;
&lt;h3&gt;Details&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;Thursday 18th February, 7:30-9:00pm&lt;/li&gt;
&lt;li&gt;Join us at: &lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Short video intro to Big Blue Button (BBB): &lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Meeting Tips:
&lt;ul&gt;
&lt;li&gt;Be sure to test your audio on the way in.&lt;/li&gt;
&lt;li&gt;Your mic will be muted when you join the room.&lt;/li&gt;
&lt;li&gt;Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li&gt;Code of Conduct: https://freesoftware.org.au/code-of-conduct&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Article"></category><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Discussion on Right to Repair and preparation of submission material</title><link href="http://www.freesoftware.org.au/blog/discussion-on-right-to-repair-and-preparation-of-submission-material/" rel="alternate"></link><published>2021-01-19T14:16:46+00:00</published><updated>2022-03-07T13:45:45+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/discussion-on-right-to-repair-and-preparation-of-submission-material/</id><summary type="html">&lt;p class="ace-line" id="magicdomid97"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;Welcome to 2021 everyone, hope you've had a great holiday season and are getting back into the swing of things.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid99"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;While we were enjoying the season the Australian Government has been busy publishing an issue paper and soliciting public submissions relating to our Right to Repair. The papers focus is on "consumers’ ability to repair faulty goods and to access repair services at a competitive price" and "barriers and enablers of competition in repair markets and the costs and benefits of a regulated ‘right to repair’, including facilitating access to embedded software"&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid101"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;This looks like it's right up our alley and it would be great to kick off the year with another submission. During the meetup we'll review the issue paper and jointly prepare our own submission. We could also create micro-blog templates to help people get the word out. Submissions are due by Monday 1 February 2021.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid103"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;For anoyone wanting to check it out before the meeting or write your own submission you can find further information here:&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt url"&gt;&lt;a href="https://www.pc.gov.au/inquiries/current/repair/issues" rel="noreferrer noopener"&gt;https://www.pc.gov.au/inquiries/current/repair/issues&lt;/a&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid105"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;We’ll be meeting virtually via Big Blue Button at 7:30pm on Thursday the 21st. No prior technical knowledge is required so feel free to join the discussion, make suggestions or just listen in.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid107"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;Details:&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid108"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;    Thursday 21st January, 7:30-9:00pm&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid109"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;    Join us at:&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt url"&gt;&lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu" rel="noreferrer noopener"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid110"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;    Short video intro to Big Blue Button (BBB):&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt url"&gt;&lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw" rel="noreferrer noopener"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid111"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;    Meeting Tips: &lt;/span&gt;
&lt;ul&gt;
&lt;li class="ace-line" id="magicdomid112"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;        Be sure to test your audio on the way in. &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid113"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;        Your mic will be muted when you join the room. &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid114"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;        Headsets are recommended to reduce any feedback. &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid115"&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt"&gt;        Code of Conduct:&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-xz77zz72zz72zz69ziz77zpz75zz66zz73zz79zz77zz78zz71zt url"&gt;&lt;a href="https://freesoftware.org.au/code-of-conduct" rel="noreferrer noopener"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Favourite Free Software 2020</title><link href="http://www.freesoftware.org.au/blog/favourite-free-software-2020/" rel="alternate"></link><published>2020-12-13T06:12:25+00:00</published><updated>2022-03-07T13:47:09+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/favourite-free-software-2020/</id><summary type="html">&lt;p class="ace-line" id="magicdomid43"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;Things are looking up in Melbourne now and next year we'll probably be back to our regular meetups at Electron Workshop. Lets catch up online one last time in true 2020 style... online.&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid44"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid83"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;We'll take a look back at the events we ran this year including an epic Software Freedom Day, share a festive drink and have an chat about everyones favourite&lt;span&gt; &lt;/span&gt;Free and Open Source Software for 2020.&lt;/span&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid46"&gt;&lt;/div&gt;
&lt;p class="ace-line" id="magicdomid47"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;There will be time for questions and discussions so please feel welcome to make suggestions. We’ll be meeting virtually via Big Blue Button at 7:30pm on Thursday the 19th. No prior technical knowledge is required so feel free to join the discussion or just listen in.&lt;/span&gt;&lt;/p&gt;
&lt;p class="ace-line" id="magicdomid48"&gt;&lt;/p&gt;
&lt;div class="ace-line" id="magicdomid49"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;Details:&lt;/span&gt;&lt;/div&gt;
&lt;ul&gt;
&lt;li class="ace-line"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;    Thursday 17th November, 7:30-8:30pm&lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid51"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;   Join us at:&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z url"&gt;&lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu" rel="noreferrer noopener"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt; &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid52"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;   Short video intro to Big Blue Button (BBB):&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z url"&gt;&lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw" rel="noreferrer noopener"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt; &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid53"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;   Meeting Tips: &lt;/span&gt;
&lt;ul&gt;
&lt;li class="ace-line"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;       Be sure to test your audio on the way in. &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid55"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;       Your mic will be muted when you join the room. &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid56"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;       Headsets are recommended to reduce any feedback. &lt;/span&gt;&lt;/li&gt;
&lt;li class="ace-line" id="magicdomid57"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z"&gt;       Code of Conduct:&lt;span&gt; &lt;/span&gt;&lt;/span&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z url"&gt;&lt;a href="https://freesoftware.org.au/code-of-conduct"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt; &lt;a href="https://freesoftware.org.au/code-of-conduct" rel="noreferrer noopener"&gt;&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="ace-line"&gt;&lt;span class="author-a-gz72zz72zz73zspz87zw4mhz83zwpz68zz75z url"&gt;&lt;/span&gt;&lt;/div&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Installation and Walkthrough of Pop!_OS</title><link href="http://www.freesoftware.org.au/blog/installation-and-walkthrough-of-pop_os/" rel="alternate"></link><published>2020-11-14T01:38:10+00:00</published><updated>2022-03-07T13:47:10+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/installation-and-walkthrough-of-pop_os/</id><summary type="html">&lt;p&gt;Pop!_OS is an interesting distribution that we thought might be worth exploring and demonstrating with the group. While Pop!_OS is primarily built to be bundled with the computers built by System76, we can download it and install it on a variety of computers. While Pop!_OS is not "Free Software" as fully bundled operating system, Sytem76 are big supporters of the GPL and many of the components of it are.&lt;/p&gt;
&lt;p&gt;This month at Free Software Melbourne we will be demonstrating a live install of Pop!_OS, and then we'll take it for a test drive and look at what features and changes it offers over a stock Ubuntu install. Some of the features we're interested in exploring are the new window management, GPU support, encryption, keyboard remapping and power management. There is a lot to take in and we'll also try to explore the community around Pop!_OS and System76 who maintains the distribution.&lt;/p&gt;
&lt;p&gt;There will be time at the end for questions, discussions or experiments to run so please feel welcome to make suggestions. We’ll be meeting virtually via Big Blue Button at 7:30pm on Thursday the 19th. No prior technical knowledge is required so feel free to join the discussion or just watch the install.&lt;/p&gt;
&lt;p&gt;
Details:
&lt;ul&gt;
&lt;li&gt;Thursday 19th November, 7:30-8:30pm&lt;/li&gt;
&lt;li&gt;Join us at: https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/li&gt;
&lt;li&gt;Short video intro to Big Blue Button (BBB): https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/li&gt;
&lt;li&gt;Meeting Tips: 
&lt;ul&gt;
&lt;li&gt;Be sure to test your audio on the way in. &lt;/li&gt;
&lt;li&gt;Your mic will be muted when you join the room. &lt;/li&gt;
&lt;li&gt;Headsets are recommended to reduce any feedback. &lt;/li&gt;
&lt;li&gt;Please grok our Code of Conduct at https://freesoftware.org.au/code-of-conduct&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;/p&gt;&lt;/p&gt;</summary></entry><entry><title>Software Freedom Day - 19th of September 2020</title><link href="http://www.freesoftware.org.au/blog/software-freedom-day-19th-of-september-2020/" rel="alternate"></link><published>2020-09-03T14:39:21+00:00</published><updated>2022-03-07T13:47:11+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/software-freedom-day-19th-of-september-2020/</id><summary type="html">&lt;br/&gt;
&lt;h1&gt;Celebrating Software Freedom Day 2020&lt;/h1&gt;
&lt;p&gt;&lt;img alt="SFD Logo" src="https://freesoftware.org.au/static/media/uploads/sfdlogo_622wide.png" width="620"/&gt;&lt;/p&gt;
&lt;p&gt;Free Software Melbourne and Linux Users Victoria are celebrating the 17th annual Software Freedom Day celebrations in Melbourne. We will present a range of leaders in the Free-Software community that will talk about the importance of Free-Software to a free society.&lt;/p&gt;
&lt;p&gt;The SFD celebration will kickoff with what is "Free and Open Source Software" and why is it so important for a modern, digital society. We'll be hearing from leading contributors and organizers of companies building businesses around Free and Open Source projects. We're also going to talk about the ethics of software development and the advantages of building a prosthetic using open hardware. There is also the opportunity for networking opportunities in our general FLOSS chat room during the day.&lt;/p&gt;
&lt;p&gt;&lt;bold&gt;Time Table:&lt;/bold&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;10:00am - Welcome and Introductions&lt;/li&gt;
&lt;li&gt;10:15am - What is Free Software?&lt;/li&gt;
&lt;li&gt;11:00am - Dr Morgan Leigh - &lt;em&gt;&lt;a href="http://freesoftware.org.au/blog/author/benm/feeds/atom/#convenience"&gt;Give Me Convenience Or Give Me Death&lt;/a&gt;&lt;/em&gt;&lt;/li&gt;
&lt;li&gt;12:00pm - FLOSS Chat Room&lt;/li&gt;
&lt;li&gt;1:30pm - Lightning Talks&lt;/li&gt;
&lt;li&gt;2:30pm - Kathy Reid - &lt;em&gt;&lt;a href="http://freesoftware.org.au/blog/author/benm/feeds/atom/#goodbetterbreast"&gt;Good, better, breast: Building a sensing mastectomy prosthetic with open hardware&lt;/a&gt;&lt;/em&gt;&lt;/li&gt;
&lt;li&gt;3:30pm - Frank Karlitschek - &lt;em&gt;&lt;a href="http://freesoftware.org.au/blog/author/benm/feeds/atom/#nextcloud"&gt;How Nextcloud stayed productive during COVID-19 and how others did the same&lt;/a&gt;&lt;/em&gt;&lt;/li&gt;
&lt;li&gt;4:30pm - Mike Saunders &amp;amp; Italo Vignoli - &lt;em&gt;&lt;a href="http://freesoftware.org.au/blog/author/benm/feeds/atom/#libreoffice"&gt;LibreOffice: great history, great future&lt;/a&gt;&lt;/em&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Participation is both free and liberating. Software Freedom Day is a family friendly event welcoming to anyone, pass on the word to help make it a great day. We have a code of conduct available on our website, but in short: Be respectful, Be inclusive and Be aware.&lt;/p&gt;
&lt;p&gt;Hope to see you all online for our most exciting Software Freedom Day yet!&lt;/p&gt;
&lt;br/&gt;&lt;br/&gt;
&lt;p&gt;&lt;h2&gt;Details:&lt;/h2&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Date: Saturday the 19th of September 2020&lt;/li&gt;
&lt;li&gt;Time: Talks starting at 10:00am and wrapping up about 6:00pm&lt;/li&gt;
&lt;li&gt;Location: Online with Big Blue Button&lt;/li&gt;
&lt;li&gt;Main Talk Room: &lt;a href="https://bbb.freesoftware.org.au/b/fsm-hbo-gf9-43s"&gt;https://bbb.freesoftware.org.au/b/fsm-hbo-gf9-43s&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Community Chat Room: &lt;a href="https://bbb.freesoftware.org.au/b/fsm-dxk-cs1-2ct"&gt;https://bbb.freesoftware.org.au/b/fsm-dxk-cs1-2ct&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Meeting Tips: Mute microphone when not speaking. Headsets recommended to reduce feedback if you will be speaking. If you are having difficulty hearing or being heard there is a chat stream available. If you want to ask a question during the presentation either ask it in the chat or use the “raise hand” button.&lt;/li&gt;
&lt;li&gt;Code of Conduct: &lt;a href="http://freesoftware.org.au/code-of-conduct/"&gt;http://freesoftware.org.au/code-of-conduct/&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br/&gt;&lt;br/&gt;
&lt;p&gt;&lt;h2&gt;Links:&lt;/h2&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Blog: &lt;a href="https://freesoftware.org.au/blog/software-freedom-day-19th-of-september-2020"&gt;https://freesoftware.org.au/blog/software-freedom-day-19th-of-september-2020/&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;SFD Global: &lt;a href="http://wiki.softwarefreedomday.org/2020/Australia/Victoria/Melbourne/FSM-and-LUV"&gt;http://wiki.softwarefreedomday.org/2020/Australia/Victoria/Melbourne/FSM-and-LUV&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;SFD Australia: &lt;a href="http://www.sfd.org.au"&gt;http://www.sfd.org.au&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Meetup: &lt;a href="https://www.meetup.com/en-AU/Free-Software-Melbourne/events/273068374/"&gt;https://www.meetup.com/en-AU/Free-Software-Melbourne/events/273068374/&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Digital Innovation Futures Victoria &lt;a href="https://dif.vic.gov.au/event/11988836-a/software-freedom-day-2020"&gt;https://dif.vic.gov.au/event/11988836-a/software-freedom-day-2020&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;SFD is sponsored by: Linux Australia&lt;/p&gt;
&lt;h2&gt;About the Talks and our Speakers&lt;/h2&gt;
&lt;h3 id="convenience"&gt;Give Me Convenience Or Give Me Death&lt;/h3&gt;
&lt;h4&gt;About the Speaker&lt;/h4&gt;
&lt;p&gt;&lt;img align="left" alt="Picture of Dr Morgan Profile" hspace="20" src="https://freesoftware.org.au/static/media/uploads/drmorganleigh_profile.png" vspace="20" width="100"/&gt;Dr Morgan Leigh lives on a farm in sunny Tasmania where she ponders the ontological status of cyberspace and raises tasty animals. She is a pagan theologian, farmer, virtual world developer, and has a tragic science fiction addiction. Morgan's work centers on the ontological status of the remixes we call reality. 

&lt;p&gt;Having pondered about cyberspace a lot, she did a PhD about it. It’s called Virtually Real: Being in Cyberspace, and you can see it at &lt;a href="https://eprints.utas.edu.au/22422/"&gt;https://eprints.utas.edu.au/22422/&lt;/a&gt;. It's all about how things that happen online aren't "just games" or "not real" or "only code", but are real, actual things that people really care about and that affect the meatspace world.&lt;/p&gt;
&lt;p&gt;Morgan is deeply concerned about copyright and its destructive effect on our society, especially in the academy. She even has a theological argument against it! Ask her, she'll tell you all about it. She thinks current copyright law is a destructive illusion that we can't afford to entertain.&lt;/p&gt;
&lt;h3 id="goodbetterbreast"&gt;Good, better, breast: Building a sensing mastectomy prosthetic with open hardware&lt;/h3&gt;
&lt;h4&gt;Abstract&lt;/h4&gt;
&lt;p&gt;In Australia every year, around 18,000 women are diagnosed with breast cancer. Many will go on to have breast removal surgery, called a mastectomy. Only 12% of women who have a mastectomy will have reconstruction, and will instead opt to wear a silicon-based prosthetic.&lt;/p&gt;
&lt;p&gt;These prosthetics are "dumb" - they're just silicone. They have 0 USB ports. What a great opportunity for open hardware!&lt;/p&gt;
&lt;p&gt;As part of her term project in the Masters of Applied Cybernetics at the 3A Institute at The Australian National University, Kathy Reid, herself a breast cancer survivor, developed a prototype called "SenseBreast" - a sensing, smart, mastectomy prosthetic based on an RPi 3B+ and a Sense HAT. This was a "mucking around" project to learn Python, and she didn't expect it to work, but it did!&lt;/p&gt;
&lt;p&gt;In this poignant, funny, challenging, technical, entertaining and irreverent presentation, she explores;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;motivations for the project, including a desire to keep sensor data private and personal - after all, who's watching?&lt;/li&gt;
&lt;li&gt;hardware design and sensor challenges in open hardware and Python&lt;/li&gt;
&lt;li&gt;prosthetic design and how to build a fake breast to contain hardware&lt;/li&gt;
&lt;li&gt;lived experience wearing a smart prosthetic&lt;/li&gt;
&lt;li&gt;implications for this technology, such as in post-mastectomy recovery&lt;/li&gt;
&lt;li&gt;and reflections on the broader landscape of wearable technology&lt;/li&gt;
&lt;/ul&gt;
&lt;h4&gt;About the Speaker&lt;/h4&gt;
&lt;p&gt;&lt;img align="left" alt="Picture of Kathy Reid" hspace="20" src="https://freesoftware.org.au/static/media/uploads/kathyreid_small.png" vspace="20" width="100"&gt; &lt;a href="https://kathyreid.com.au"&gt;Kathy Reid&lt;/a&gt; works at the intersection of open source, emerging technologies and technical communities. She is a former Director of Developer Relations at Mycroft.AI, former President of Linux Australia and former Digital Platforms and Operations Manager at Deakin University. In 2019, she was of 16 people from across the world chosen to undertake a Masters of Applied Cybernetics at the Australian National University's 3A Institute.&lt;/img&gt;&lt;/p&gt;
&lt;h3 id="firsthand"&gt;First hand experience: How Nextcloud stayed productive during COVID-19 and how others did the same.&lt;/h3&gt;
&lt;h4&gt;Abstract&lt;/h4&gt;
&lt;p&gt;We're all now experiencing how remote working and virtual conferencing are important tools to staying connected. Not just in the current circumstances but also looking at the future.&lt;/p&gt;
&lt;p&gt;Unfortunately millions of people have adopted the proprietary online tools like GoogleDocs, Office365 and Zoom. All of which have well know privacy and security problems. As well as the loss of data sovereignty by users. That's why it's important to offer an easy-to-use, efficient, and quick free-software based replacement to these proprietary online tools. &lt;a href="https://nextcloud.com/"&gt;Nextcloud&lt;/a&gt; is just such a replacement.&lt;/p&gt;
&lt;p&gt;Nextcloud is a platform for online collaboration and communication and can help people, businesses and communities to quickly adapt and stay connected. Because Nextcloud is free-software, users freedoms are respected and protected, avoiding vendor lock-in.&lt;/p&gt;
&lt;p&gt;Nextcloud is built by Nextcloud GmbH that has employees in home-offices across 11 countries and the Nextcloud Community which is spread all over the world. This talk gives an inside look at how Nextcloud GmbH works together with the Nextcloud community to develop and maintain the Nextcloud software platform.&lt;/p&gt;
&lt;p&gt;The talk covers different communication channels that work for synchronous and asynchronous communication. How distributed teams are coordinated and how effective and efficient collaboration using shared documents is possible. Additionally, a very important topic to share is  the challenges and solutions on how to successfully work across different countries, timezones, languages, and cultures.&lt;/p&gt;
&lt;h4&gt;About the Speaker&lt;/h4&gt;
&lt;p&gt;&lt;img align="left" alt="Picture of Frank Karlitschek" hspace="20" src="https://freesoftware.org.au/static/media/uploads/frank-small2.png" vspace="20" width="100"/&gt;Frank Karlitschek is a long time open source developer and former board member of the KDE e.V. In 2016 he founded Nextcloud to create a fully open source and decentralized alternative to big centralized US cloud companies. In 2012 he initiated the User Data Manifesto to define basic human rights regarding personal data. Frank was an invited expert at the W3C to help to create the ActivityPub internet standard. Frank has spoken at MIT, CERN, Harvard and ETH and keynoted several conferences. Frank is the founder and CEO of Nextcloud GmbH. He is also a fellow of Open Forum Europe and an advisor to the United Nations regarding Intellectual Property and Open Source.&lt;/p&gt;
&lt;h3 id="libreoffice"&gt;LibreOffice: great history, great future&lt;/h3&gt;
&lt;h4&gt;Abstract&lt;/h4&gt;
&lt;p&gt;In 2020, &lt;a href="https://www.libreoffice.org/"&gt;LibreOffice&lt;/a&gt; celebrates its 10th anniversary in late September. So, the presentation is a good opportunity to recap 10 years of history, look at the recent &lt;a href="https://blog.documentfoundation.org/blog/2020/08/05/announcement-of-libreoffice-7-0/"&gt;LibreOffice 7.0 announcement&lt;/a&gt;, and provide some insights into the future of the project.&lt;/p&gt;
&lt;h4&gt;About the Speakers&lt;/h4&gt;
&lt;div&gt;&lt;p&gt;&lt;img align="left" alt="Picture of Mike Saunders" hspace="20" src="https://freesoftware.org.au/static/media/uploads/mike_small.png" vspace="20" width="100"/&gt;Mike Saunders has been a Linux and FOSS user, advocate and journalist since the late '90s, and today works in marketing and community outreach at The Document Foundation. He lives in Munich, Germany.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;&lt;/div&gt;
&lt;div&gt;&lt;p&gt;&lt;img align="left" alt="Picture of Italo Vignoli" hspace="20" src="https://freesoftware.org.au/static/media/uploads/italo-osismall2.png" vspace="20" width="100"/&gt;Italo Vignoli is one of LibreOffice founders, and has managed marketing and helped with community outreach since day one. He is a FOSS and open standards advocate, is a consultant at The Document Foundation, and a board member at Open Source Initiative. He lives in Milan, Italy.&lt;/p&gt;&lt;/div&gt;&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>FLOSS and The Commons</title><link href="http://www.freesoftware.org.au/blog/floss-and-the-commons/" rel="alternate"></link><published>2020-08-15T14:09:48+00:00</published><updated>2022-03-07T13:47:13+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/floss-and-the-commons/</id><summary type="html">&lt;p&gt;Hey all,&lt;/p&gt;
&lt;p&gt;The concept of the Commons has been coming up at a few meetups recently and we thought it might be interesting to explore the topic during this months meetup. The Commons is a broad and diverse topic so we'll just be looking at a small slice of it and discuss how it might relate to Free and Open Source Software.&lt;/p&gt;
&lt;p&gt;We'll have a few short prepared talks about the history and philosophy of the commons, how this concept has been interpreted in the context of software licensing and then we'll probably have some time for more general discussion around the topic.&lt;/p&gt;
&lt;p&gt;Please note the later than usual starting time, we're experimenting around the new online experience so please give feedback on what you think in the meetup chat. As usual we'll be meeting up on Big Blue Meeting, so all you need is your browser, and all are welcome.&lt;/p&gt;
&lt;p&gt;Details:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Thursday 20th August, 7:30-8:30pm&lt;/li&gt;
&lt;li&gt;BBB Room: https://freesoftwareau.bigbluemeeting.com/pau-9ti-iea&lt;/li&gt;
&lt;li&gt;Short video intro to BBB: https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/li&gt;
&lt;li&gt;Meeting Tips: Be sure to test your audio on the way in. Your mic will be muted when you join the room. Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Software Freedom Day 2020 - Call for Speakers</title><link href="http://www.freesoftware.org.au/blog/software-freedom-day-2020-call-for-speakers/" rel="alternate"></link><published>2020-07-18T05:17:26+00:00</published><updated>2022-03-07T00:51:22+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/software-freedom-day-2020-call-for-speakers/</id><summary type="html">&lt;p&gt;Software Freedom Day is an annual worldwide celebration of Free Software and here at Free Software Melbourne we are currently organising Software Freedom Day 2020 on Saturday 19th September.&lt;/p&gt;
&lt;p&gt;Is there a burning issue in Free Software you'd like to present? Is there a cool demo you'd like to show off? Or have you got a tutorial guiding users on the use of a great Free Software package?&lt;/p&gt;
&lt;p&gt;If so we'd love to get in touch to try and include you in this years line up! Just reply, dm or get in touch on the web: https://freesoftware.org.au/contact-us/&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Free and Open Source Software Show and Tell</title><link href="http://www.freesoftware.org.au/blog/free-and-open-source-software-show-and-tell/" rel="alternate"></link><published>2020-07-11T07:56:52+00:00</published><updated>2022-03-07T13:47:14+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/free-and-open-source-software-show-and-tell/</id><summary type="html">&lt;p&gt;Hi everyone,&lt;/p&gt;
&lt;p&gt;With the dramatic changes to how we go about our day-to-day business over the past months there have also been dramatic changes to the software we use and rely upon every day. So this month we are going to catch up for a 'Free Software Show and Tell' event where we all take a turn talking about our favourite Free or Open Source project at the moment and discuss your favourite features or why it’s so useful.&lt;/p&gt;
&lt;p&gt;From your favourite audio player right up to your favourite new distros or even mobile software from F-Droid and friends, we want to know what Free Software is doing for you. There is always something new and exciting in Free and Open Source Software that can help us all to keep excited and optimistic for the future.&lt;/p&gt;
&lt;p&gt;We will talk about some of the great free software helping us through this pandemic and hope that you will join in and talk about what software has been helping you. This event is open to all and no technical expertise is required.&lt;/p&gt;
&lt;p&gt;Details:
&lt;ul&gt;
&lt;li&gt;Thursday 16th July, 6:30-8:00pm&lt;/li&gt;
&lt;li&gt;BBB Room: https://freesoftwareau.bigbluemeeting.com/pau-9ti-iea&lt;/li&gt;
&lt;li&gt;Short video intro to BBB: https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/li&gt;
&lt;li&gt;Meeting Tips: Be sure to test your audio on the way in. Your mic will be muted when you join the room. Headsets are recommended to reduce any feedback.&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>FSM Jun 18 - Running a small businesson Free Software — The Sandstorm Platform</title><link href="http://www.freesoftware.org.au/blog/fsm-jun-18-running-a-small-businesson-free-software-the-sandstorm-platform/" rel="alternate"></link><published>2020-06-13T11:56:54+00:00</published><updated>2022-03-07T13:47:15+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/fsm-jun-18-running-a-small-businesson-free-software-the-sandstorm-platform/</id><summary type="html">&lt;p&gt;As Australia starts to ease restrictions and some businesses are opening up again while many continue to operate online we thought it might be a good time to look at what Free and Open Source Software is available for running a small business or personal productivity. Luckily for us there is the all-in-one solution that is Sandstorm.&lt;/p&gt;
&lt;p&gt;Sandstorm describes itself as a self-hostable web productivity suite.It is an easy to install and maintain server-side platform that provides seamless access to dozens of productivity and office applications. Sandstorm provides a secure platform and takes care of authentication, authorization, installation and space management so you can start being productive from the moment you get it set up. It does require you to have existing hosting or to run it locally using something like Docker, but it allows for simple authentication and installation of many applications once it's setup.&lt;/p&gt;
&lt;p&gt;There is also a rich ecosystem of applications supported which we'll talk about including EtherPad for collaborative editing, Draw.io for graphics, HackerSlides for presentations, Wekan for project tracking, FileDrop for secure file sharing and Collections for tying it all together... and that's just scratching the surface of applications and alternatives available!&lt;/p&gt;
&lt;p&gt;We’ll be meeting virtually via Big Blue Button (an open source video conferencing system we'll probably cover in the near future) at 6:30pm on Thursday the 18th of June.&lt;/p&gt;
&lt;p&gt;Details:&lt;/p&gt;
&lt;p&gt;Thursday 18th June, 6:30-8:00pm&lt;/p&gt;
&lt;p&gt;BBB Room: https://freesoftwareau.bigbluemeeting.com/pau-9ti-iea&lt;/p&gt;
&lt;p&gt;Short video intro to BBB: https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/p&gt;
&lt;p&gt;Meeting Tips: Mute your mic when joining or not talking and headsets are recommended to reduce feedback.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Inclusion Policy update proposal and FSM for 2020</title><link href="http://www.freesoftware.org.au/blog/inclusion-policy-update-proposal-and-fsm-for-2020/" rel="alternate"></link><published>2020-01-27T06:21:57+00:00</published><updated>2022-03-07T00:50:23+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/inclusion-policy-update-proposal-and-fsm-for-2020/</id><summary type="html">&lt;p&gt;Hey Folks,&lt;/p&gt;&lt;p&gt;Although many people might consider the topic of Inclusion Policies to be a bit dry, I found this months meetup interesting and learned something from most of the examples we looked at. In particular I would recommend checking out the Atlassian playbook and the concepts of team health as a foundation on which values like inclusivity and diversity can be built (https://www.atlassian.com/team-playbook/health-monitor). As always the presentation slides are available online if you want to check out any of the resources: https://free-software-melbourne.github.io/Inclusivity-2020-January/&lt;/p&gt;&lt;p&gt;For our own short to mid term needs I have proposed updating our Code of Conduct to better line up with the Linux Conf Au and Linux Users of Victoria policies. I see this as having the immediate benefit of updating and modernising our language and guidelines. I also think it will better harmonise our policies with the groups we are likely to run events with like Software Freedom Day. I also think it would be a good idea to provide specialist contact details in the form of BeyondBlue and/or HeadSpace for people with serious concerns or ongoing issues. Please provide any feedback to the mailing list (or myself at puzzleduck@gmail.com) over the next week and after any feedback or revisions we'll update the Free Software website with the new policies.&lt;/p&gt;&lt;p&gt;The other major topic of discussion was getting involved with other groups and promoting the group to a broader audience. In particular we should start using libre platforms like LibrePlanet, Mastodon and Diaspora to get our message out there. Also this year we will make an effort to get involved in community events like Melbourne Knowledge Week and we will also propose a session for Linux Conf Au discussing FLOSS licencing.&lt;/p&gt;&lt;p&gt;~~ Ben&lt;br/&gt;&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>FSM Jan 16th - Discussion on inclusion policies &amp;amp; FSM campaigns for 2020</title><link href="http://www.freesoftware.org.au/blog/fsm-jan-16th-discussion-on-inclusion-policies-fsm-campaigns-for-2020/" rel="alternate"></link><published>2020-01-07T13:35:37+00:00</published><updated>2022-03-07T13:47:21+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/fsm-jan-16th-discussion-on-inclusion-policies-fsm-campaigns-for-2020/</id><summary type="html">Welcome to 2020 everyone,
&lt;br/&gt;
&lt;br/&gt;

We're kicking off the decade by giving you the chance to choose your own 2020 at Free Software Melbourne. Do you want more games nights, hardware reviews, campaigns or just more pizza! Which campaigns should we continue our involvement in and what other campaigns are emerging in the new decade we could lend our weight to? Now's your chance to come along and have your say about how the next year at Free Software Melbourne will look. This will be a non technical event and all are welcome to attend and contribute.
&lt;br/&gt;
&lt;br/&gt;

We'll all take a look at the campaigns we are currently running like the AABill and what we can do next. We'll also look at what we need to do to plan for and participate in events like Melbourne Knowledge Week and Privacy Week. If you're aware of any other events we could participate in come along and tell us about it or make suggestions on the mailing list before the meetup.
&lt;br/&gt;
&lt;br/&gt;

As discussed in last years October meeting we will be looking at our options for an Inclusion policy and deciding on candidates for adoption. While were adding another policy this seems like an optimal time to review our current policies and how we present them on the website. Are there better ways to convey our policies, should they all be grouped together, are they up to date and serving the functions they are intended to? We'd be interested to hear ayones experience with inclusion policies or opinions of good (or bad) inclusion policies you've come across.
&lt;br/&gt;
&lt;br/&gt;

So come along to discuss inclusion policies, and help set course for 2020 at Free Software Melbourne. After the meeting we will continue our discussions over dinner in North Melbourne a short walk away and all are welcome to join us. Thanks again to Electron Workshop for hosting Free Software Melbourne and Software Freedom Day for another year.
&lt;br/&gt;
&lt;br/&gt;

Details
&lt;br/&gt;
Thursday 16th January, 6:30-8:00pm
&lt;br/&gt;
Electron Workshop: 31 Arden St, North Melbourne, Victoria, 3051
&lt;br/&gt;
Map: http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434
&lt;br/&gt;
Travel Tips: http://www.electronworkshop.com.au/map/</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Free Software Melbourne October Wrap-up</title><link href="http://www.freesoftware.org.au/blog/free-software-melbourne-october-wrap-up/" rel="alternate"></link><published>2019-10-23T04:17:01+00:00</published><updated>2022-03-07T02:08:55+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/free-software-melbourne-october-wrap-up/</id><summary type="html">Just reposting a meeting summary from the mailing list I forgot to post at the time.
&lt;br/&gt;
&lt;br/&gt;

Thanks everyone for coming along to this months Free Software Melbourne discussion around the resignation of Stallman from the FSF and MIT, what a great turnout for what could so easily be an uncomfortable discussion. It's a difficult topic to come to terms with as someone who has been an inspiration and household name in our community has had to resign under such circumstances. As much as we might wish that our movements founder was could champion the cause forever, the reality is that no one could, and we must move on. The consensus seemed to be that we keep up our support for the cause of Free Software and the Free Software Foundation while we wait on tender hooks to see who the FSF will appoint as their new president. The major point of concern now seems to be with the GNU project stewardship and how this might reflect on the community and the inclusiveness of our cause.
&lt;br/&gt;
&lt;br/&gt;

One thing that came up during the discussion was inclusion policies, and unfortunately I think that we don't have one for FSM. I'd appreciate any suggestions or feedback on the idea from the group. Are there good (or bad) examples you've seen around? Then maybe at our next meetup we could take a look at the suggestions and evaluate what kind of inclusion policy we want for our group.
&lt;br/&gt;
&lt;br/&gt;

I also observed that there are still lots of inspirational people left in our community like Bradley Kuhn and Matthew Garrett who came up during our discussions. There are also great people (technically outside the FSF) like Deb Nicholson who often speaks about software freedom, Bryan Lunduke who has reached many people with his enthusiasm for freedom and Allison Randal at the Free Software Conservancy. So I'd also recommend taking a look at the FSF board as it now stands and taking some time to get to know a board member you didn't know about before :D
&lt;br/&gt;
&lt;br/&gt;

Then the other big topics of discussion were Open Hardware and Meetup.com. With meetup.com thankfully backing down, for the time being, from putting a price per head on meetup attendance. We were reflecting on our communication tools and processes, and how we might want to better document the process in the future. We also identified Libre Planet as an untapped resource for new membership and it is a platform we rarely keep up to date. So that's something the committee will be trying to make an improvement on before we start fresh next year.
&lt;br/&gt;
&lt;br/&gt;

On a few internal matters, we also picked a date for our December dinner, so save the date: December 13th... but we'll post an announcement for that soon. We also decided to go back to monthly meetups next year and to trial some remote and/or recorded talks using FOSS tools through the year. So stay tuned!
&lt;br/&gt;
&lt;br/&gt;

~~ Ben
&lt;br/&gt;
&lt;br/&gt;

Slides from the meetup:
&lt;br/&gt;
&lt;br/&gt;
https://free-software-melbourne.github.io/Future-2019-October/</summary><category term="Free Software Melbourne"></category><category term="Melbourne"></category></entry><entry><title>FSM October 17th - The Future of Free Software Culture</title><link href="http://www.freesoftware.org.au/blog/fsm-october-17th-the-future-of-free-software-culture/" rel="alternate"></link><published>2019-10-12T11:02:33+00:00</published><updated>2022-03-07T13:47:23+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/fsm-october-17th-the-future-of-free-software-culture/</id><summary type="html">Hi folks,
&lt;br/&gt;
It's certainly turbulent times for the Free Software Foundation and for the community in general. With an unexpected change of leadership at the Foundation underway we thought it would be a good time to get together and discuss the possible outcomes and ramifications of the current crisis as well as the possible impacts it could have on us.
&lt;br/&gt;

Along with every crisis we are also presented with opportunities, and in this case maybe our opportunity is to reflect on our own public image as an organisation and reassess where we stand and what we stand for. We will be talking about how are we currently using social media and how we might be able to better reach the wider public and communicate or message about the importance of Free Software.
&lt;br/&gt;

See you all there
&lt;br/&gt;
&lt;br/&gt;

Event details:
&lt;br/&gt;
Thursday 17th October, 6:30-8:00pm
&lt;br/&gt;
31 Arden St, North Melbourne, Victoria, 3051
&lt;br/&gt;
Map: http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434
&lt;br/&gt;
Travel tips by Electron Workshop: http://www.electronworkshop.com.au/map/
&lt;br/&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry></feed>