<div class="docBox  " id="urf-chapter-description">
    <div class="groupDesc docSection" id="groupDesc">
    <p>LibrePlanet Brisbane is a group focused on free software activism, advocacy and education. We meet on the first Thursday of each month, at The Edge, a facility of the State Library of Queensland in South Brisbane.</p>
    <p>Join our <a class="linkified" href="http://lists.softwarefreedom.com.au/mailman/listinfo/free-software-bris" target="_blank" title="http://lists.softwarefreedom.com.au/mailman/listinfo/free-software-bris">mailing list</a> to find out about meetings, join discussions and lend your support.</p>
    <h2>A short history<strong><br /></strong></h2>
    <p><strong>March 2012</strong>: Fraser Tweedale hosted the first Brisbane meet-up at the state library. Libre Planet Brisbane has continued to meet monthly.</p>
    </div>
    </div>
    