<p>Most modern web browsers allow users to install add-ons. These are effectively small programs that run on top of the browser that allows extra functionality to be applied outside of normal browsers function. This is an easy and convenient way to add in a new function without having to rebuild the entire browser program or have an excessive amount of bloat get added in to an existing program.</p>
<p>The base functionality of add-ons is not the key issue as it solves a potentially complicated function by allowing easy additions to software at the cost of performance. These add-ons get access to a large amount of your browing information; it is an intergral part of their function that they operate in this fashion.</p>
<p>Because of the sensitive nature of the information they handle, add-ons are libable for exploitation by malicious players. They can potentially get access to browsing paterns, passwords, and all manner of data without your knowledge. While they are not full executable stand alone programs, they should be treated as so. Just because there is an extra step of loading them into a web browser does not make them any different than other programs.</p>
<p>If the add-ons are proritary then users do not have the right to study and see what these add-ons are truly doing. They can say they are doing one thing while actually doing something else in the background. For someone to have any trust in these add-ons then they must be Free Software and respect the four freedoms.</p>
<ul>
<li>
<p>Freedom to study the code</p>
</li>
<li>
<p>Freedom to modify the code</p>
</li>
<li>
<p>Freedom to make copies</p>
</li>
<li>
<p>Freedom to redistrobute modifications</p>
</li>
</ul>
<p>If people other than developers cannot do any one (or many) of these things then the program is stamping on your freedoms. This would mean that you would be defenceless against any malicious actions of the developers. Considering the sensitive nature of the information that is handled, you cannot take any risks on a non-free add-on just for the sake of convienence. What is appears to be convienent and hrmless today could be used against you in future.</p>
<p>Browsers do their best to limit the possible exploitation of users information but this is no gurantee. The best thing to do is to use software that doesn&rsquo;t even attempt to do nasty things. Before downloading an add-on despite how much you trust the provider, check to make sure it uses a licence favourable to free software (GPL is prefered). If the source code is not availabel to be studied, shared, modified and redistrobuted then you cannot trust it and must insist on using only free software.</p>
