<div class="carousel-inner" role="listbox"><center><img src="https://freesoftware.org.au/static/media/uploads/g5000.png" /></center>
    <div class="item active"><em>&nbsp;</em></div>
    <div class="item active"><em>A network of Australians working together to advance free software and free culture for social justice.</em></div>
    <h2>Upcoming events Melbourne</h2>
    <ul>
    <li><strong>Thursday 20th January 2022</strong> &mdash; <a href="https://freesoftware.org.au/blog/fsm-jan-20th-agm-and-committee-elections-planning-fsa/">FSM Jan 20th &mdash; AGM and Committee Elections + planning FSA</a></li>
    </ul>
    <h2>Past events</h2>
    <ul>
    <li><strong>Thursday 18th November 2021</strong> -&nbsp;<a href="https://freesoftware.org.au/blog/favorite-free-software-for-2021/">Favorite Free Software for 2021</a></li>
    <li><strong>Thursday 21st October 2021</strong> -&nbsp;<a href="https://freesoftware.org.au/blog/sfd-video-previews-and-free-software-video-night/">SFD Video Previews and Free Software Video Night</a></li>
    <li><strong>Saturday 18th September 2021 -&nbsp;<a href="https://freesoftware.org.au/blog/software-freedom-day/" title="Software Freedom Day">Software Freedom Day online</a></strong></li>
    <li><strong>Thursday 19th August 2021</strong> - <a href="https://freesoftware.org.au/blog/licence-controversies-elastic-search-and-audacity/" title="Licence controversies: Elastic Search and Audacity">Licence controversies: Elastic Search and Audacity</a></li>
    <li><strong>Thursday 15th July 2021</strong> -&nbsp;<a href="https://freesoftware.org.au/blog/user-freedom-on-the-web/">User Freedom on the Web</a></li>
    <li><strong>Thursday 17th June 2021</strong> - <a href="https://freesoftware.org.au/blog/everyday-hardware-for-free-software-mobile-phones-laptops-and-more/">Everyday Hardware for Free Software: Mobile Phones, Laptops, and more</a></li>
    <li><strong>Thursday 20th May 2021</strong> - <a href="https://freesoftware.org.au/blog/fsm-wiki-working-bee/">FSM Wiki Working Bee</a></li>
    <li><strong>Thursday 15th April 2021</strong> - <a href="https://freesoftware.org.au/blog/free-software-and-privacy-discussion-night-1/">Free Software and Privacy Discussion Night</a></li>
    <li><strong>Thursday 18th Febuary 2021</strong> - <a href="https://freesoftware.org.au/blog/campaign-and-activities-planning-for-2021/">Campaign and activities planning for 2021</a></li>
    <li><strong>Thursday 21st January 2021</strong> - <a href="https://freesoftware.org.au/blog/discussion-on-right-to-repair-and-preparation-of-submission-material/">Discussion on Right to Repair and preparation of submission</a></li>
    <li><strong>Thursday 17th December 2020</strong> - <a href="https://freesoftware.org.au/blog/favourite-free-software-2020/">Favourite Free Software for 2020</a></li>
    <li><strong>Thursday 19th November 2020</strong> - <a href="https://freesoftware.org.au/blog/installation-and-walkthrough-of-pop_os/">Installation and Walkthrough of Pop!_OS</a></li>
    <li><strong>Thursday 15th October 2020</strong> - <a href="https://freesoftware.org.au/blog/a-show-and-tell-about-nextcloud-and-data-sovereignty-with-a-look-at-an-actual-instance/">A show and tell about NextCloud</a></li>
    <li><strong>Saturday 19th September 2020</strong> - <a href="https://freesoftware.org.au/blog/software-freedom-day-19th-of-september-2020/">Software Freedom Day 2020</a></li>
    <li><strong>Thursday 20th August 2020</strong> - <a href="https://freesoftware.org.au/blog/floss-and-the-commons/">FLOSS and The Commons (Online Event)</a></li>
    <li>Thursday 16th July 2020 - <a href="https://freesoftware.org.au/blog/free-and-open-source-software-show-and-tell/">Free and Open Source Software Show and Tell (Online Event)</a></li>
    <li>Thursday 18th June 2020 - <a href="https://freesoftware.org.au/blog/fsm-jun-18-running-a-small-businesson-free-software-the-sandstorm-platform/">Running a small business on Free Software &mdash; The Sandstorm Platform (Online Event)</a></li>
    <li>Thursday 21st May 2020 - <a href="https://freesoftware.org.au/blog/fsm-staying-connected-with-free-software-jami-and-signal/">Staying connected with Free Software - Jami and Signal (Online Event)</a></li>
    <li>Thursday 16th April 2020- <a href="https://freesoftware.org.au/blog/free-software-melbourne-meeting-thursday-16th-april-2020-staying-connected-with-free-software/">Online Event - Staying connected with Free Software</a></li>
    <li>Thursday 19th March 2020 - <a href="https://freesoftware.org.au/blog/free-software-melbourne-march-2020-meeting-how-to-unfriend-facebook/">Online Event - Jitsi Meet</a></li>
    <li>Thursday 16th January 2020 - <a href="https://freesoftware.org.au/blog/fsm-jan-16th-discussion-on-inclusion-policies-fsm-campaigns-for-2020/">Discussion on inclusion policies &amp; FSM campaigns for 2020</a></li>
    <li>Friday 13th December 2019 - <a href="https://freesoftware.org.au/blog/december-meetup-630pm-friday-13th-december-2019/">End of Year Dinner</a></li>
    <li>Thursday 17th October 2019 - <a href="https://freesoftware.org.au/blog/fsm-october-17th-the-future-of-free-software-culture/">The Future of Free Software Culture</a></li>
    <li>Saturday 17th October 2019 - <a href="https://freesoftware.org.au/blog/software-freedom-day-21st-of-september-2019/">Software Freedom Day 2019!</a></li>
    </ul>
    <h2>About Free Software</h2>
    <p><i><b> "Once men turned their thinking over to machines in the hope that this would set them free. But that only permitted other men with machines to enslave them." </b></i> - Frank Herbert (Dune)</p>
    <p align="justify">Our society has become completely dependent on the use of computers and software for many activities. From buying groceries, playing music, conducting business and keeping in contact with friends and family.</p>
    <p align="justify">For a society to enjoy freedoms of associate, expression and privacy, people need to have control over the technology they use in their homes, schools, businesses and government. For society to control technology, it needs to use software that respects the users' freedom. This means that the user can run, copy, distribute, study, change and improve the software. Thus, &ldquo;free software&rdquo; is a matter of liberty, not price<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym"></a><sup>1</sup>.</p>
    <p align="justify">Free software ensures equal rights of the programs to their users.</p>
    <div id="sdfootnote1">
    <p><a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc"></a>1 <a href="https://www.gnu.org/philosophy/free-sw.html">https://www.gnu.org/philosophy/free-sw.html</a></p>
    <p><strong>We are not focused on the technology but the ethics and morals of how software is used. </strong></p>
    </div>
    <p>We are a passionate free software group dedicted to supporting the community. While there are plenty of computing meet-ups and user groups in Australia (which we also attend), most are about the technology rather than the social issues like freedom and privacy. We feel there is a clear niche for people wanting less technical and more ethics flavoured meet-ups.</p>
    <p>We hold physical meet-ups to work and socialise with other free software activists. We share the values of the <a href="https://www.fsf.org/">Free Software Foundation</a> and the <a href="https://www.gnu.org/">GNU Project</a>&nbsp; - a worldwide network of free software groups. We also work alongside other local and national GNU/Linux groups to spread the word about software freedom.</p>
    <p>We are always looking for new members to help spread knowledge of free software. Helping others to use it in their lives. Please join us at our phsical meetings or contact us via this sites <a href="/contact-us/" title="Contact us">Contact us</a> form.</p>
    <center>
    <h3><strong><a href="https://freesoftware.org.au/hardware-and-software-recommendation/">Hardware and Software Recommendation</a></strong></h3>
    <h3><strong>Issues exsist in the following areas.</strong></h3>
    <p><strong><a href="/privacy/" title="Privacy">Privacy</a> - <a href="/digital-rights-management/" title="Digital Rights Management">Digital Rights Management</a> - <a href="/environment-issues/" title="Environment Issues">Environment</a> - <a href="/restrictive-hardware/" title="Restrictive Hardware">Restictive hardware</a> - <a href="https://freesoftware.org.au/cloud-computing/">Cloud computing &amp; Streaming Services</a> -&nbsp; <a href="https://freesoftware.org.au/free-speech/" title="Free Speech">Free Speech</a> -<a href="https://freesoftware.org.au/internet-of-things/"> IoT (Internet of things)</a> -<a href="https://freesoftware.org.au/free-software-in-education/"> Education</a> - <a href="https://freesoftware.org.au/free-software-in-government">Government</a> - <a href="/java-script-issues/" title="Java Script Issues">Java Script Issues</a> - <a href="/browser-add-ons/" title="Browser Add ons">Browser Add-ons</a> </strong></p>
    <h2>What is free software?</h2>
    <p><video width="480" height="360" style="width: 512px;" src="https://audio-video.gnu.org/video/TEDxGE2014_Stallman05_LQ.webm" type="video/webm" poster="https://static.fsf.org/nosvn/rms-photos/20140407-geneva-01.png" preload="none" controls="controls"> <track label="Frnech" srclang="fr" src="https://static.fsf.org/nosvn/rms-tedx-subtitles/rms-ted-talk.fr.vtt" default="default" /> </video></p>
    <p align="justify">Free-software that respects and protects users freedoms provides the following &ldquo;four freedoms&rdquo;</p>
    <p align="justify">1. Freedom to <b>run</b> the program as you wish.</p>
    <p align="justify">2. Freedom to <b>study</b> how the program works.</p>
    <p align="justify">3. Freedom to <b>redistribute</b> copies so you can help your neighbour.</p>
    <p align="justify">4. Freedom to <b>distribute</b> copies of your modified versions to others.</p>
    <p align="justify">These four freedoms help a society to be free to share, collaborate and help others. Otherwise, the technology society uses can be used to infringe on peoples privacy, liberty and freedoms.</p>
    <p align="justify">The FSA values the freedoms of all software users to run, copy, distribute and change software that enables society to improve, evolve and achieve great things.</p>
    <p><em>For more information, read <a href="https://www.fsf.org/resources/what-is-fs">What is free software</a>, by the Free Software Foundation.</em></p>
    <p><strong><em>Disclaimer - Free Software Australia is not linked to the Free Software Foundation in any fashion. While we share the same ideals and goals, all works presented here represent Free Software Australia only. If we reference the Free Software Foundation, a link will be provided to their works.</em></strong></p>
    <p><em>&nbsp;</em></p>
    <p><img src="/static/media/uploads/fsmlogo.png" /></p>
    <h2>Latest News</h2>
    <p><a href="https://freesoftware.org.au/blog/apples-sunset-on-freedom/">November 2020 - Apples Sunset on Freedom</a></p>
    <p><a href="https://freesoftware.org.au/blog/update-on-browser-standards/">December 2019 - Update on Browser Standards</a></p>
    <p><a href="https://freesoftware.org.au/blog/submission-to-the-review-of-the-telecommunications-and-other-legislation-amendment-assistance-and-access-act-2018/">September 2019 - Submission in regards to the Telecommunications and Other Legislation Amendment (Assistance and Access) Act 2018.</a></p>
    <p><a href="https://freesoftware.org.au/blog/drm-in-action/">April 2019 - DRM in Action</a></p>
    <p><a href="https://freesoftware.org.au/blog/when-the-cloud-bites/">January 2019 - When the Cloud bites</a></p>
    <p><a href="https://freesoftware.org.au/blog/pure-os-store/">January 2019 - Pure OS Store</a></p>
    <p><a href="/blog/on-microsoft-edge-and-the-chromium-engine/">December 2019 - On Microsoft and the Chromium Engine</a></p>
    <p><a href="/blog/free-as-in-freedom/">June 2018 - Free as in Freedom</a></p>
    <p><a href="/blog/oculus-does-not-serve-you/" title="March 2018 - Oculus does not serve you">March 2018 - Oculus does not serve you</a></p>
    <p><a href="/blog/amazon-echos-to-big-brother/" title="January 2018 - Amazon Echo&rsquo;s to big brother">January 2018 - Amazon Echo's to big brother</a></p>
    <p><a href="/blog/on-meltdown-and-spectre-exploits/">January 2018 - On Meltdown and Spectre exploits</a></p>
    <p><a href="/blog/amazon-fire-tv-has-youtube-blocked-by-google" title="January 2018 - Amazon Fire TV has Youtube Blocked by Google">January 2018 - Amazon Fire TV has Youtube Blocked by Google</a></p>
    <h2><a href="/blog/">Click here to see more<br /></a></h2>
    </center>
    <p>Subscribe to our&nbsp;<a href="/blog/feeds/atom/">news feed</a>.</p>
    <h2>Local discussion groups</h2>
    <p>Local discussion groups are a great way to meet others who share your interest in free software. Please let us know if you'd like to start a free software discussion group in your area.</p>
    <div class="row">
    <div class="col-sm-6">
    <h3><a href="/melbourne/">Free Software Melbourne</a></h3>
    <p>Every third Thursday evening we meet to discuss current news in free software, perhaps a talk from a member or a visitor, followed by some group discussion. It's very relaxed and informal with no prior knowledge expected. For those able, we also follow on for tasty dinner at a nearby restaurant.</p>
    <p>More about&nbsp;<a href="/melbourne/">Free Software Melbourne</a></p>
    <h3><a href="/sydney/">Free Software Sydney</a></h3>
    <p>A Free Software Activist group that is currently being organised by Andri Effendi and Olivier Mehani.</p>
    <p>More about&nbsp;<a href="/sydney/">Free Software Sydney</a></p>
    </div>
    <div class="col-sm-6">
    <h3><a href="/brisbane/">LibrePlanet Brisbane</a></h3>
    <p>LibrePlanet Brisbane is a group focused on free software activism, advocacy and education. We meet on the first Thursday of each month, at The Edge, a facility of the State Library of Queensland in South Brisbane.</p>
    <p>More about&nbsp;<a href="/brisbane/">LibrePlanet Brisbane</a></p>
    </div>
    </div>
    </div>