<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"><!-- Indicators -->
    <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <div class="item active"><img alt="" src="/static/media/uploads/IMG_6098.JPG" /></div>
    <div class="carousel-caption"></div>
    <div class="carousel-caption"></div>
    <div class="item"><img alt="" src="/static/media/uploads/IMG_1781.JPG" />
    <div class="carousel-caption"></div>
    </div>
    <div class="item"><img alt="" src="/static/media/uploads/IMG_1779.JPG" />
    <div class="carousel-caption"></div>
    </div>
    <div class="item"><img alt="" src="/static/media/uploads/IMG_6104.JPG" />
    <div class="carousel-caption"></div>
    </div>
    <div class="item"><img alt="" src="/static/media/uploads/IMG_1789.JPG" />
    <div class="carousel-caption"></div>
    </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div>
    <h2><img src="/static/media/uploads/fsmlogo.png" width="238" height="80" /></h2>
    <h2>Attend our monthly discussion group</h2>
    <p>Every third Thursday evening we meet to discuss current news in free software, perhaps a talk from a member or a visitor, followed by some group discussion. It's very relaxed and informal with no prior knowledge expected. For those able, we also follow on for tasty dinner at a nearby restaurant.</p>
    <p>Third Thursday of the month, 6:30-8:30pm (doors open 6pm)<br />Electron Workshop<br />31 Arden St, North Melbourne, Victoria, 3051<br /><a href="http://osm.org/go/uG4HWyqEz?m=&amp;node=2556615434">Map</a><a href="http://www.electronworkshop.com.au/map/"><br />Travel tips</a> by Electron Workshop</p>
    <h2>Upcoming events</h2>
    <ul>
    <li><strong>Thursday 20th January 2022</strong> &mdash; <a href="https://freesoftware.org.au/blog/fsm-jan-20th-agm-and-committee-elections-planning-fsa/">FSM Jan 20th &mdash; AGM and Committee Elections + planning FSA</a></li>
    </ul>
    <h2>Past events</h2>
    <ul>
    <li><strong>Thursday 18th November 2021</strong> -&nbsp;<a href="https://freesoftware.org.au/blog/favorite-free-software-for-2021/">Favorite Free Software for 2021</a></li>
    <li><strong>Thursday 21st October 2021</strong> -&nbsp;<a href="https://freesoftware.org.au/blog/sfd-video-previews-and-free-software-video-night/">SFD Video Previews and Free Software Video Night</a></li>
    <li><strong>Thursday 15th July 2021</strong> - <a href="https://freesoftware.org.au/blog/user-freedom-on-the-web/">User Freedom on the Web</a></li>
    <li><strong>Thursday 17th June 2021</strong> - <a href="https://freesoftware.org.au/blog/everyday-hardware-for-free-software-mobile-phones-laptops-and-more/">Everyday Hardware for Free Software: Mobile Phones, Laptops, and more</a></li>
    <li><strong>Thursday 20th May 2021</strong> - <a href="https://freesoftware.org.au/blog/fsm-wiki-working-bee/">FSM Wiki Working Bee</a></li>
    <li><strong>Thursday 15th April 2021</strong> - <a href="https://freesoftware.org.au/blog/free-software-and-privacy-discussion-night-1/">Free Software and Privacy Discussion Night</a></li>
    <li><strong>Thursday 18th Febuary 2021</strong> - <a href="https://freesoftware.org.au/blog/campaign-and-activities-planning-for-2021/">Campaign and activities planning for 2021</a></li>
    <li><strong>Thursday 21st January 2021</strong> - <a href="https://freesoftware.org.au/blog/discussion-on-right-to-repair-and-preparation-of-submission-material/">Discussion on Right to Repair and preparation of submission</a></li>
    <li><strong>Thursday 17th December 2020</strong> - <a href="https://freesoftware.org.au/blog/favourite-free-software-2020/">Favourite Free Software for 2020</a></li>
    <li><strong>Thursday 19th November 2020</strong> - <a href="https://freesoftware.org.au/blog/installation-and-walkthrough-of-pop_os/">Installation and Walkthrough of Pop!_OS</a></li>
    <li><strong>Thursday 15th October 2020</strong> - <a href="https://freesoftware.org.au/blog/a-show-and-tell-about-nextcloud-and-data-sovereignty-with-a-look-at-an-actual-instance/">A show and tell about NextCloud</a></li>
    <li><strong>Saturday 19th September 2020</strong> - <a href="https://freesoftware.org.au/blog/software-freedom-day-19th-of-september-2020/">Software Freedom Day 2020</a></li>
    <li><strong>Thursday 20th August 2020</strong> - <a href="https://freesoftware.org.au/blog/floss-and-the-commons/">FLOSS and The Commons (Online Event)</a></li>
    <li>Thursday 16th July 2020 - <a href="https://freesoftware.org.au/blog/free-and-open-source-software-show-and-tell/">Free and Open Source Software Show and Tell (Online Event)</a></li>
    <li>Thursday 18th June 2020 - <a href="https://freesoftware.org.au/blog/fsm-jun-18-running-a-small-businesson-free-software-the-sandstorm-platform/">Running a small business on Free Software &mdash; The Sandstorm Platform (Online Event)</a></li>
    <li><strong>Thursday 21st May 2020</strong> - <a href="https://freesoftware.org.au/blog/fsm-staying-connected-with-free-software-jami-and-signal/">Staying connected with Free Software - Jami and Signal (Online Event)</a></li>
    <li><strong>Thursday 16th April 2020</strong> - <a href="https://freesoftware.org.au/blog/free-software-melbourne-meeting-thursday-16th-april-2020-staying-connected-with-free-software/">Online Event - Staying connected with Free Software</a></li>
    <li><strong>Thursday 19th March 2020</strong> - <a href="https://freesoftware.org.au/blog/free-software-melbourne-march-2020-meeting-how-to-unfriend-facebook/">Online Event - Jitsi Meet</a></li>
    <li><strong>Thursday 16th January 2020</strong> - <a href="https://freesoftware.org.au/blog/fsm-jan-16th-discussion-on-inclusion-policies-fsm-campaigns-for-2020/">Discussion on inclusion policies &amp; FSM campaigns for 2020</a></li>
    <li><strong>Friday 13th December 2019</strong> - <a href="https://freesoftware.org.au/blog/december-meetup-630pm-friday-13th-december-2019/">End of Year Dinner</a></li>
    <li><strong>Thursday 17th October 2019</strong> - <a href="https://freesoftware.org.au/blog/fsm-october-17th-the-future-of-free-software-culture/">The Future of Free Software Culture</a></li>
    <li><strong>Saturday 21st September 2019</strong> - <a href="https://freesoftware.org.au/blog/software-freedom-day-21st-of-september-2019/">Software Freedom Day 2019!</a></li>
    </ul>
    <h2>Stay in touch</h2>
    <p>Subscribe to our <a href="/blog/feeds/atom/">news feed</a>.</p>
    <p>Join our <a href="http://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb">discussion list</a> (<a href="http://lists.softwarefreedom.com.au/pipermail/free-software-melb/">archives</a>) to hear about upcoming meetings and talk to other members of the free software community.</p>
    <h2>A short history</h2>
    <p><em>Free Software Melbourne hosts activities each month, but here are a few highlights from our short history.</em></p>
    <p><strong>March 2017</strong>Committee structure flattened to allow a more dynamic range of contributions.<strong><br /></strong></p>
    <p><strong>August 2015</strong>: Ran a "Get started contributing to free software" workshop. Experienced mentors assisted participants to find a suitable project and begin on their first contribution to a project.<strong><br /></strong></p>
    <p><strong>February 2015</strong>: Held a casual dinner for vising guest Deb Nicholson of MediaGoblin and Open Invention Network (US).</p>
    <p><strong>August 2014</strong>: Held a casual dinner for visiting guest Andrea Casillas of the Linux Defenders program (US).</p>
    <p><strong><strong>June 2013</strong></strong>: Elected our first committee for Free Software Melbourne. Although Ben and Alex had been defacto organisers for a few of years, it was a great way encourage others to get involved. After that initial 6-month term, we've continued on with annual elections in March. Since we're remained unincorporated, elections aren't a formal requirement, just a way to share the load and keep the group vibrant.</p>
    <p><strong>January 2013</strong>: Hosted a barbeque with Pirate Party Australia. We really appreciated the light they were shining on privacy and copyright reform in the federal election and it was great to meet some of their members. We also raised money for End Software Patents.</p>
    <p><strong>March 2012</strong>: Organised a public lecture when FSF's Brett Smith was visiting for TPP negotiations. More than 70 people attended and a number followed on for an FSF fundraising dinner.</p>
    <p><strong>September 2012</strong>: Joined with Linux Users Victoria to run Software Freedom Day. We really appreciate the leadership that LUV has shown and continue to show in organising and promoting the event.</p>
    <p><strong>September 2012</strong>: Ran our first Free Software Melbourne games night. We had lots of fun with multi-player games such as Teeworlds and OpenArena.</p>
    <p><strong>September 2010</strong>: Supported Richard Stallman's speaking tour of Australia by providing accommodation, transport, promoting the events and selling FSF merchandise.</p>
    <p><strong><strong>June 2010</strong></strong>: Collected over 1000 signatories to an online letter to Senator Kim Carr calling for the abolition of software patents. We followed on with a paper petition to House of Representatives, also collecting over 1000 signatories from all over Australia. The petition was presented to the House and acknowledged in the government's Review of Patentable Subject Matter.</p>
    <p><strong>March 2010</strong>: Ben Sturmfels and Alex Fraser hosted the first Melbourne meet-up at Time Out Cafe in Federation Square. From there on Free Software Melbourne have continued to meet monthly to discuss interesting happenings in the free software world, host talks and various other events.</p>