<p>Following in the footsteps of Free Software Melbourne, we are trying to set up <a href="https://fsfe.org/about/basics/freesoftware.en.html">Free Software</a> related activities in Sydney.</p>
<p>The Sydney Based Free Software Movement is driven by Andri Effendi, with some help from Olivier Mehani and the continuing kindness and support from our friends at <a href="freesoftware.org.au/melbourne/">Free Software Melbourne</a>.</p>
<p>We all believe in the Free Software Foundation's <a href="https://www.fsf.org/about/">"worldwide mission to promote computer user freedom. We defend the rights of all software users"</a>.</p>
<p>If you believe in the <a href="https://fsfe.org/about/basics/freesoftware.en.html">4 Freedoms of Free Software</a>&nbsp; (Click to find out what they are).</p>
<p>In Addition to the 4 Freedoms, If you also believe in Freedom of opinion&nbsp;and expression, The right to encrypt, The right to tinker with your own systems, learning and sharing these values and knowledge with friends and neighbours&nbsp;then we are the activist group for you.</p>
<p>If you're interested in the Free Software Movement, please join our <a href="http://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/libreplanet-sydney">mailing list</a>, and don't forget to let us know by sending a note of introduction!</p>
<p>We are trying to have regular monthly gatherings where we can discuss freely all of these issues and host a range of different educational workshops, presentations and fun activities.</p>
<h2><a href="http://freesoftware.org.au/sydney/upcoming-events/">Upcoming Events</a></h2>
<ul>
<li>Free Software Workshop June 17th 2017.</li>
</ul>
<h2>Past Events</h2>
<p><a href="http://freesoftware.org.au/sydney/upcoming-events/the-birth-of-freedom-in-sydney-friday-31st-march-2017/"><strong>Fri 31st March 2017</strong></a></p>
<ul></ul>
<ul>
<li><a href="http://freesoftware.org.au/sydney/upcoming-events/the-birth-of-freedom-in-sydney-friday-31st-march-2017/"><strong></strong>Free Software Sydney Introductory Meeting.</a></li>
</ul>
<p><strong>Thu 10th Sep 2015</strong></p>
<ul>
<li>Let's Free Sydney Jitsi Meet</li>
<li>Watch a Replay of the Event... <a href="http://freesoftware.org.au/sydney/test-page/free-software-sydney-inagural-jitsi-meet-september-2015/">Watch Now</a></li>
</ul>
<h1><a href="https://emailselfdefense.fsf.org/en/"> <img style="vertical-align: baseline;" width="330" height="436" /></a><a href="https://www.torproject.org"><img style="vertical-align: baseline;" src="https://b2aeaa58a57a200320db-8b65b95250e902c437b256b5abf3eac7.ssl.cf5.rackcdn.com/media_entries/6231/Tor_Poster-001-1024.png" title="TOR Poster" width="300" height="436" /></a></h1>
