<h1><span class="mw-headline">Values</span></h1>
<p>The mission of Free Software Australia is to empower a global network and local groups of academics, project teams, interest-based work-groups, users and individuals all working together to advance free software and free culture as a movement for social justice.</p>
<h2><span class="mw-headline">Motivation</span></h2>
<p>Our society has become completely dependent on the use of computers and software for many activities. From buying groceries, playing music, conducting business and keeping in contact with friends and family.</p>
<p>For a society to enjoy freedoms of associate, expression and privacy, people need to have control over the technology they use in their homes, schools, businesses and government. For society to control technology, it needs to use software that respects the users' freedom. This means that the user can run, copy, distribute, study, change and improve the software. Thus, &ldquo;free software&rdquo; is a matter of liberty, not price.</p>
<h2><span class="mw-headline">Vision</span></h2>
<p>We wish for a future where society can freely use, study, copy, modify and redistribute software on all computer systems society has come to depend on. From smart watches, mobile phones and toys to car computer systems and super computers. These freedoms encourage sharing, collaboration and helping others in our communities.</p>
<h2><span class="mw-headline">Goals</span></h2>
<p>We aim to hold to our values and achieve our vision by a range of member led activities and programs. Because society and communities are made up of people from different ages, cultures, beliefs and backgrounds. These activities will be designed to engage with people from all walks of society, especially from non-technical backgrounds.</p>
<p>We will be a member driven organisation, where the goals and projects of the group will be decided in a participatory community. This ensures the needs and issues of the community and society are reflected in our actions.</p>
<p>Generally, our activities can be divided into several categories:</p>
<h3><span class="mw-headline">Education of the Community</span></h3>
<p>We will produce presentations and talks on the benefits of free software for society and how to use free software. We&rsquo;ll reach out to local communities and groups to help educate them on free software.</p>
<h3><span class="mw-headline">Empowerment of the Community</span></h3>
<p>We will provide support and guidance for people using and contributing to free software. This will include workshops on how to install and use free software.</p>
<h3><span class="mw-headline">Lead by Example</span></h3>
<p>We will adopt Free Software tools and principles wherever possible. This will help encourage the use of Free Software by members and the community at large.</p>
<h1><span class="mw-headline">Code of Conduct</span></h1>
<p>All attendees of Free Software Melbourne agree to be bound by this code of conduct.</p>
<p>Free Software Melbourne aims to provide fun, welcoming and professional environments so that diverse groups of people - regardless of age, race, gender identity or expression, background, disability, appearance, sexuality, walk of life, or religion - can get together to learn from and be inspired by each other about all things Free and Open Source.</p>
<p>Free Software Melbourne is committed to the ideals expressed in our Values Statement and ask all our members, speakers, volunteers, attendees and guests to adopt these principles. We are a diverse community. Sometimes this means we need to work harder to ensure we&rsquo;re creating an environment of trust and respect where all who come to participate feel comfortable and included.</p>
<p>We value your participation and appreciate your help in realising this goal.</p>
<h3><span class="mw-headline">Safety Team Contacts</span></h3>
<p>If at any time at a Free Software Melbourne you feel unsafe or want to report questionable behaviour, please contact a member of the safety team.</p>
<p>Find any committee member who will direct you to one of the following people, who you can also message or email directly.</p>
<p>Contact: Ben Minerds</p>
<p>Twitter: @puzzleduck</p>
<p>Email: puzzleduck@gmail.com<a href="mailto:puzzleduck@gmail.com"></a></p>
<p>SMS or Phone: 0419 390 496</p>
<h3><span class="mw-headline">Be respectful</span></h3>
<p>Respect yourself, and respect others. Be courteous to those around you. If someone indicates they don&rsquo;t wish to be photographed, respect that wish. If someone indicates they would like to be left alone, let them be. Our event venues and online spaces may be shared with members of the public; please be considerate to all patrons of these locations.</p>
<h3><span class="mw-headline">Be inclusive</span></h3>
<p>All presentation material should be suitable for people aged 12 and above.</p>
<p>Any public presentation which is part of any event, including but not limited to keynotes, presentations, lightning talks, addresses, mailing list posts and forums, is subject to this code of conduct and thus may not contain: sexual or violent imagery; exclusionary language; insults or ad-hominem attacks. Presenters are asked to avoid language which is not appropriate for an all-ages audience as much as possible.</p>
<p>If the subject matter of the presentation cannot be presented adequately without including language that could be considered offensive, this should be pointed out in advance, at the beginning of the talk and in the schedule.</p>
<p>If presenters are unsure whether their material is suitable, they are encouraged to show it to the conference&rsquo;s speaker liaison or mailing list/forum moderators before their session.</p>
<h3><span class="mw-headline">Be aware</span></h3>
<p>We ask everyone to be aware that we will not tolerate intimidation, harassment, or any abusive, discriminatory or derogatory behaviour by anyone at any event or online.</p>
<h3><span class="mw-headline">Complaints</span></h3>
<p>Complaints can be made to the organisers by contacting the registration desk or mailing list/forum moderators by contacting the relevant email addresses. All complaints made to event organisers will remain confidential and be taken seriously. The complaint will be treated appropriately with discretion. Should event organisers or moderators consider it appropriate, measures they may take include:</p>
<ul>
<li>the individuals may be told to apologise</li>
<li>the individuals may be told to stop/modify their behaviour appropriately</li>
<li>the individuals may be warned that enforcement action may be taken if the behaviour continues</li>
<li>the individuals may be asked to immediately leave the venue and/or will be prohibited from continuing to attend the event</li>
<li>the incident may be reported to the appropriate authorities</li>
</ul>
<p>What does that mean for me?</p>
<p>All participants, including event attendees and speakers must not engage in any intimidation, harassment, or abusive or discriminatory behaviour.</p>
<p>Here are some examples of behaviours that have occurred at past events which are not appropriate:</p>
<ul>
<li>offensive verbal or written remarks related to gender, sexual orientation, disability, physical appearance, body size, race or religion;</li>
<li>sexual or violent images in public spaces (including presentation slides);</li>
<li>deliberate intimidation;</li>
<li>stalking or following;</li>
<li>unwanted photography or recording;</li>
<li>sustained disruption of talks or other events;</li>
<li>intoxication at an event venue;</li>
<li>inappropriate physical contact;</li>
<li>unwelcome sexual attention;</li>
<li>sexist, racist, or other exclusionary jokes;</li>
<li>unwarranted exclusion from conference or related events based on age, gender, sexual orientation, disability, physical appearance, body size, race, religion;</li>
</ul>
<p>We want everyone to have a good time at our events.</p>
<h3><span class="mw-headline">Questions?</span></h3>
<p>If you&rsquo;re not sure about anything you&rsquo;ve just read please contact the organisers of Free Software Melbourne or the Linux Australia Council at council@linux.org.au<a href="mailto:council@linux.org.au"></a></p>
<p>This document is available to be re-used or modified under the terms of the Creative Commons Attribution-ShareAlike 3.0 Australia licence, available from <a href="http://CreativeCommons.org">CreativeCommons.org</a></p>
<p>Our values statement is based on the LibrePlanet mission statement in Febuary of 2020. We endorse the LibrePlanet Mission Statement and Code of Conduct. Our Code of Conduct is based on the Linux Conf Au and PyConf-Au Code of Conduct.</p>
