<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en"><title>News | Free Software Australia</title><link rel="alternate" href="http://www.freesoftware.org.au/blog/"></link><link rel="self" href="http://www.freesoftware.org.au/blog/author/scottj/feeds/atom/"></link><id>http://www.freesoftware.org.au/blog/</id><updated>2019-01-17T04:00:10+00:00</updated><subtitle>&amp;nbsp;&amp;nbsp;</subtitle><category term="Article"></category><category term="Brisbane"></category><category term="Free Software Brisbane"></category><category term="Free Software Melbourne"></category><category term="Free Software Sydney"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category><category term="Sydney"></category><entry><title>Learn Covert Communications and Email Self Defence</title><link href="http://www.freesoftware.org.au/blog/learn-covert-communications-and-email-self-defence/" rel="alternate"></link><published>2016-03-09T02:27:27+00:00</published><updated>2019-01-17T04:00:10+00:00</updated><author><name>Scott Junner</name><uri>http://www.freesoftware.org.au/blog/author/scottj/</uri></author><id>http://www.freesoftware.org.au/blog/learn-covert-communications-and-email-self-defence/</id><summary type="html">&lt;div&gt;&lt;b&gt;Everyone deserves privacy&lt;/b&gt;, whether or not their doing anything secret. &lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Sending secret messages SOUNDS like it's going to be hard. But you don't have to be Edward Snowden or Julian Assange to secret away encrypted messages to Friends, Family and Colleagues. The truth is, all the hard work has been done for you. &lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Along side that, you need to know how to make sure you're talking to the right person. What if you just told an impersonator all your dark secrets. Whoops!&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;So this monthly Free Software Melbourne Meetup is going to be a workshop about two things. How you can very easily send secret messages NO ONE else can read except you and your intended recipient.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;And how to protect yourself from rogue agents trying to intercept your digital privacy.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;It's surprisingly easy to gain quick competency in email Ninjitsu. You just need to learn a few simple commands and hey presto, even the worlds elite security and intelligence agencies are going to have a seriously hard time figuring out what you and your confidant are saying to each other, and you'll be able to see bad guys coming a mile off.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;In this workshop we're not going to rush, we're going to take our time, and even order in pizza so we have nowhere else to be.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Our very own Ben Finney is going to introduce us to a piece of software called GnuPG (free implementation of OpenPGP) which can be easily installed (and probably already is) on any Linux Distro, Mac or Microsoft machine. And then walk us through the steps of how to create secret and not so secret keys and then use them to lock up a message and unlock it at the other end.  &lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Actually, we'll be working through the &lt;a href="https://emailselfdefense.fsf.org/en/" target="_blank"&gt;Email Self Defence course&lt;/a&gt; created by Free Software Foundation. So if you can't make it, there's still a way for you to follow along at home in your own time. But doing it with a room full of people gives you a couple of huge benefits. &lt;/div&gt;
&lt;div&gt;
&lt;ul&gt;
&lt;li&gt;&lt;span style="line-height: 1.42857;"&gt;There's people to help immediately if you stumble into problems &lt;/span&gt;&lt;/li&gt;
&lt;li&gt;&lt;span style="line-height: 1.42857;"&gt;You can start to swap public keys in person to help build the web of trust (and learn what that means). &lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;div&gt;&lt;span style="line-height: 1.42857;"&gt;&lt;/span&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;You'll come out understanding enough about the topic of message and file encryption to be able to teach your cousin how to send encrypted email orders to their drug dealer...&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;...or something.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Whatever your need for private communications, you'll be able to handle it.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Once again we'll be at &lt;a href="http://www.electronworkshop.com.au/" target="_blank"&gt;Electron Workshop&lt;/a&gt;. We'll see you there.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Date: 17th March, 2016&lt;/div&gt;
&lt;div&gt;Time: 18:30 - 20:30&lt;/div&gt;
&lt;div&gt;Venue: 31 Arden St. North Melbourne.&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Link for GnuPG downloads: &lt;a href="https://www.gnupg.org/download/index.html" target="_blank"&gt;https://www.gnupg.org/&lt;wbr/&gt;download/index.html&lt;/a&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;Link to past FSM media: &lt;a href="https://media.freesoftware.org.au/" target="_blank"&gt;https://media.freesoftware.&lt;wbr/&gt;org.au/&lt;/a&gt;&lt;/div&gt;</summary><category term="Free Software Melbourne"></category><category term="Melbourne"></category><category term="News"></category></entry></feed>