<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en"><title>News | Free Software Australia</title><link rel="alternate" href="http://www.freesoftware.org.au/blog/"></link><link rel="self" href="http://www.freesoftware.org.au/blog/author/bens/feeds/atom/"></link><id>http://www.freesoftware.org.au/blog/</id><updated>2020-01-31T08:22:21+00:00</updated><subtitle>&amp;nbsp;&amp;nbsp;</subtitle><category term="Article"></category><category term="Brisbane"></category><category term="Free Software Brisbane"></category><category term="Free Software Melbourne"></category><category term="Free Software Sydney"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category><category term="Sydney"></category><entry><title>Show-and-tell plus committee elections, Thu 21 April</title><link href="http://www.freesoftware.org.au/blog/show-and-tell-plus-committee-elections/" rel="alternate"></link><published>2016-04-16T05:40:17+00:00</published><updated>2016-04-16T05:45:39+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/show-and-tell-plus-committee-elections/</id><summary type="html">&lt;p&gt;Hi Free Software Lovers,&lt;/p&gt;
&lt;p&gt;Tell us, what free software makes you smile? :D &amp;lt;-- You&lt;/p&gt;
&lt;p&gt;What favourite would you never be without? You won't guess mine! It's a electronic version of an object owned since you were five...&lt;/p&gt;
&lt;p&gt;More on that next Thursday, because this month we're looking to hear From you in our show-and-tell of the free software that you love. Feel free to show or just tell, no preparation required. Can't wait to hear what you come up with.&lt;/p&gt;
&lt;p&gt;In addition to our regular Gnews, we'll also be holding a brief committee election for the upcoming 12 months. Being an informal group, elections are quick and easy. Would you like to get involved and be a key part of making Free Software Melbourne awesome? We're looking for a President, Vice-President, Secretary and Treasurer.&lt;/p&gt;
&lt;p&gt;After the meet-up we'll be following on to dinner on Errol Street.&lt;/p&gt;
&lt;p&gt;See you there!&lt;br/&gt;&lt;br/&gt;Ben, Ben, Ben &amp;amp; Scott&lt;br/&gt;(The 2015-2016 Committee)&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 21 April, 6:30-8:30pm (doors open 6pm)&lt;br/&gt;31 Arden St, North Melbourne, Victoria, 3051&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434"&gt;http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434&lt;/a&gt;&lt;br/&gt;Travel tips by Electron Workshop: &lt;a href="http://www.electronworkshop.com.au/map/"&gt;http://www.electronworkshop.com.au/map/&lt;/a&gt;&lt;br/&gt;Running late or can't find us? Call Ben on 0458 925 588.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category></entry><entry><title>Surprise dinner with Molly de Blanc, this Thu 11 Feb</title><link href="http://www.freesoftware.org.au/blog/surprise-dinner-with-molly-de-blanc-this-thu-11-feb/" rel="alternate"></link><published>2016-02-09T05:49:01+00:00</published><updated>2019-01-17T04:00:08+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/surprise-dinner-with-molly-de-blanc-this-thu-11-feb/</id><summary type="html">&lt;p&gt;Hi Freedom Lovers,&lt;/p&gt;
&lt;p&gt;We have a surprise for you! Molly de Blanc is visiting Melbourne following her talk at LCA 2016 last week in Geelong. We're organising a casual dinner with Molly this Thursday. Please come along and join us!&lt;/p&gt;
&lt;p&gt;Aside from just hanging out being awesome, Molly is the Community Coordinator at edX (makers of the free courseware platform) and has also worked with the FSF. She spoke last week about education and the AGPL:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="http://linux.conf.au/schedule/30216/view_talk?day=wednesday"&gt;http://linux.conf.au/schedule/30216/view_talk?day=wednesday&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="http://linux.conf.au/schedule/30216/view_talk?day=wednesday"&gt;&lt;/a&gt;&lt;a href="http://mirror.linux.org.au/linux.conf.au/2016/03_Wednesday/Costa_Hall/Education_and_the_AGPL_A_Case_Study.webm"&gt;http://mirror.linux.org.au/linux.conf.au/2016/03_Wednesday/Costa_Hall/Education_and_the_AGPL_A_Case_Study.webm&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Look forward to seeing you.&lt;/p&gt;
&lt;p&gt;Ben&lt;/p&gt;
&lt;h2&gt;Dinner with Molly de Blanc&lt;/h2&gt;
&lt;p&gt;Thursday 11 February, 6:30pm&lt;br/&gt;&lt;br/&gt;The Standard Hotel, 293 Fitzroy St, Fitzroy (between Bell St &amp;amp; Moor St)&lt;br/&gt;Map: &lt;a href="http://www.openstreetmap.org/way/228466557"&gt;http://www.openstreetmap.org/way/228466557&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Nearest tram lines are Tram 96 to East Brunswick (stop 14 on Nicholson&lt;br/&gt;St) or Tram 112 West Preston (stop 15 on Brunswick St).&lt;br/&gt;&lt;br/&gt;RSVP to ben at stumbles.id.au so we don't surprise the restaurant.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Melbourne"></category></entry><entry><title>Ben Sturmfels on Preventing Cat-astrophes with GNU MediaGoblin</title><link href="http://www.freesoftware.org.au/blog/ben-sturmfels-on-preventing-cat-astrophes-with-gnu-mediagoblin/" rel="alternate"></link><published>2016-01-09T05:17:09+00:00</published><updated>2020-01-31T08:22:21+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/ben-sturmfels-on-preventing-cat-astrophes-with-gnu-mediagoblin/</id><summary type="html">&lt;p&gt;Happy GNU year!&lt;/p&gt;
&lt;p&gt;We thought we'd break with tradition this year and hold a meet-up in January. Despite being holiday time for many, there's a lot going on in the world of free software, so we have plenty of interesting things to talk about.&lt;/p&gt;
&lt;p&gt;This month I'll be presenting "Preventing Cat-astrophes with GNU MediaGoblin"; a talk about how MediaGoblin can give us some of the features of centralised media silos like YouTube, while avoiding the risk of the worlds' culture living or dying with one company. Ben Minerds will be presenting the Gnews.&lt;/p&gt;
&lt;p&gt;The other big news is that following the closure of the VPAC office in Victoria Street, we're moving our meet-ups to a new home at Electron Workshop in North Melbourne (map below). We're very grateful to VPAC for their support of the last few years.&lt;/p&gt;
&lt;p&gt;As usual, we'll follow on with dinner nearby (venue to be decided). Look forward to seeing you!&lt;/p&gt;
&lt;p&gt;Regards,&lt;br/&gt;Ben&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 21 January, 6:30-8:30pm (doors open 6pm)&lt;br/&gt;31 Arden St, North Melbourne, Victoria, 3051&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434"&gt;http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434&lt;/a&gt;&lt;br/&gt;Travel tips by Electron Workshop: &lt;a href="http://www.electronworkshop.com.au/map/"&gt;http://www.electronworkshop.com.au/map/&lt;/a&gt;&lt;br/&gt;Running late or can't find us? Call Ben on 0458 925 588.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category></entry><entry><title>December dinner, Thu 17 Dec, 7pm</title><link href="http://www.freesoftware.org.au/blog/december-dinner-thu-17-dec-7pm/" rel="alternate"></link><published>2015-12-14T22:19:47+00:00</published><updated>2019-01-17T03:59:58+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/december-dinner-thu-17-dec-7pm/</id><summary type="html">&lt;p&gt;Hi Folks,&lt;br/&gt;&lt;br/&gt;Come along for dinner this Thursday and celebrate the Free Software successes of the year and ring in the GNU year of Open Source opportunity and Distributed Joy.&lt;/p&gt;
&lt;p&gt;Join us at the imperial hotel for dinner, drinks or just a snack... all tastes should be catered for and we're looking forward to seeing you there!&lt;/p&gt;
&lt;p&gt;Regards,&lt;br/&gt;Ben, Ben, Ben &amp;amp; Scott&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 17 December, 7-10pm&lt;br/&gt;Imperial Hotel&lt;br/&gt;2-8 Bourke st Melbourne, Melbourne&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HazuT_?m="&gt;http://osm.org/go/uG4HazuT_?m=&lt;/a&gt;&lt;/p&gt;</summary></entry><entry><title>Tatiana Lenz on exploring free software influences</title><link href="http://www.freesoftware.org.au/blog/tatiana-lenz-on-exploring-free-software-influences/" rel="alternate"></link><published>2015-11-12T10:23:28+00:00</published><updated>2019-01-17T03:59:55+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/tatiana-lenz-on-exploring-free-software-influences/</id><summary type="html">&lt;p&gt;Hello Free Software Lovers!&lt;/p&gt;
&lt;p&gt;This month at Free Software Melbourne, Tatiana Len will be exploring her influences and motivations in free software. If you've had the opportunity to chat to her at past events and meet-ups, you'll know that she always has something really interesting to contribute. Tatiana has also asked that the we don't publish a recording, so you'll need to be there or miss out!&lt;br/&gt;&lt;br/&gt;Also this month, Michael Verrenkamp will be presenting the Gnews. After the organised part of the evening we'll follow on for dinner at the ever popular Big Mama's Korean.&lt;br/&gt;&lt;br/&gt;Look forward to seeing you there! Have I used enough exclamation marks?&lt;/p&gt;
&lt;p&gt;Regards,&lt;br/&gt;Ben&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 15 October, 6-8pm (followed by dinner at nearby restaurant)&lt;br/&gt;VPAC Head Office Training Room Level 1, Building 91, 110 Victoria Street&lt;br/&gt;Map: &lt;a class="moz-txt-link-freetext" href="http://osm.org/go/uG4HZ6JiV?m"&gt;http://osm.org/go/uG4HZ6JiV?m&lt;/a&gt;&lt;br/&gt;Running late or locked out? Call Ben on 0458 925 588.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category></entry><entry><title>Ben Minerds on Javascript frameworks, Ben Sturmfels on free software accounting</title><link href="http://www.freesoftware.org.au/blog/ben-minerds-on-javascript-frameworks-and-ben-sturmfels-on-free-software-accounting/" rel="alternate"></link><published>2015-07-10T06:31:35+00:00</published><updated>2019-01-17T03:59:43+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/ben-minerds-on-javascript-frameworks-and-ben-sturmfels-on-free-software-accounting/</id><summary type="html">&lt;p&gt;Great to see many new faces last month!&lt;/p&gt;
&lt;p&gt;This month, Ben Minerds will be looking into various Javascript frameworks, tools that make it feasible to build larger programs that run inside a web browser. This has some interesting free software aspects, to do with how you're running the programs simply by visiting the website.&lt;/p&gt;
&lt;p&gt;Now I don't admit this very often, but I have a fondness for bookkeeping. So, given it's tax time again, I'll be briefly talking about "Accounting in the Free World"; my experiences running my own small business accounting on free software. Bernie Schelberg will be presenting the Gnews. If you can join us, we'll follow on for dinner at &lt;a href="http://www.classiccurry.com/"&gt;Classic Curry&lt;/a&gt; on Elizabeth Street.&lt;/p&gt;
&lt;p&gt;If you're unable to be there in person, tune in to our &lt;a href="http://freesoftware.org.au/melbourne/streaming/"&gt;live audio stream&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;See you there!&lt;/p&gt;
&lt;p&gt;Regards,&lt;br/&gt;Ben Sturmfels&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;div itemscope="itemscope" itemtype="http://schema.org/Event"&gt;
&lt;p&gt;&lt;span itemprop="name"&gt;Free Software Melbourne&lt;/span&gt;&lt;br/&gt; &lt;time datetime="2015-07-16 18:00+10:00" itemprop="startDate"&gt;Thursday 16 July, 6pm&lt;/time&gt;-&lt;time datetime="2015-07-16 18:00+10:00" itemprop="endDate"&gt;8pm (followed by dinner at nearby restaurant)&lt;/time&gt;&lt;/p&gt;
&lt;p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"&gt;&lt;span itemprop="name"&gt;VPAC Systems Office&lt;/span&gt;&lt;br/&gt; &lt;span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"&gt; &lt;span itemprop="streetAddress"&gt;110 Victoria Street&lt;/span&gt;&lt;br/&gt; &lt;span itemprop="addressLocality"&gt;Carlton South&lt;/span&gt; &lt;span itemprop="addressRegion"&gt;VIC&lt;/span&gt;&lt;br/&gt;&lt;span itemprop="addressCountry"&gt;Australia&lt;/span&gt; Map: &lt;a href="http://osm.org/go/uG4HZ6JiV?m"&gt;http://osm.org/go/uG4HZ6JiV?m&lt;/a&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;Running late or locked out? Call Ben on &lt;a href="http://freesoftware.org.au/blog/author/bens/feeds/atom/tel:0458925588"&gt;0458 925 588&lt;/a&gt;.&lt;/p&gt;
&lt;/div&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category></entry><entry><title>Scott Junner on social networks, a herd of Gnews and Brian May, Melbourne 18 June</title><link href="http://www.freesoftware.org.au/blog/scott-junner-on-social-networks-a-herd-of-gnews-and-brian-may-melbourne-18-june/" rel="alternate"></link><published>2015-06-10T05:16:44+00:00</published><updated>2015-06-10T05:16:52+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/scott-junner-on-social-networks-a-herd-of-gnews-and-brian-may-melbourne-18-june/</id><summary type="html">&lt;p&gt;It was great to see so many of you last month! Following on from that discussion, you may be interested to know that GovHack registrations for Melbourne, Ballarat and Geelong are now open.&lt;/p&gt;
&lt;p&gt;This month I'm really looking forward to hearing Scott Junner talk about free software social networks. Should be really interesting. Ben M will be presenting the Gnews, our monthly wrap-up of free software current affairs and Brian May will tell us why free software is an important part of his life.&lt;/p&gt;
&lt;p&gt;We'll follow on afterwards to dinner around the corner at Big Mamas Korean restaurant.&lt;/p&gt;
&lt;p&gt;If you're unable to be there in person, tune in to our &lt;a href="http://freesoftware.org.au/melbourne/streaming/"&gt;live audio stream&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;See you there!&lt;/p&gt;
&lt;p&gt;Regards,&lt;br/&gt;Ben&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 18 June, 6-8pm (followed by dinner at nearby restaurant)&lt;br/&gt;VPAC Head Office Training Room&lt;br/&gt;Level 1, Building 91, 110 Victoria Street&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HZ6JiV?m"&gt;http://osm.org/go/uG4HZ6JiV?m&lt;/a&gt;&lt;br/&gt;Running late or locked out? Call Ben on 0458 925 588.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category></entry><entry><title>Alisha Ryans-Taylor on GovHack plus Russell Coker&amp;#39;s free software story, Melbourne 21 May</title><link href="http://www.freesoftware.org.au/blog/alisha-ryans-taylor-on-govhack-melbourne-21-may/" rel="alternate"></link><published>2015-05-14T03:02:55+00:00</published><updated>2015-05-21T12:38:40+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/alisha-ryans-taylor-on-govhack-melbourne-21-may/</id><summary type="html">&lt;p&gt;Please join us this month to hear about GovHack; an annual event to build things that use of publically available government data. Melbourne representative Alisha Ryans-Taylor will be telling us all about it. Scott will be giving us the Gnews, a current affairs wrap-up in the world of free software. For those who can make it, we'll also follow on for tasty dinner at Classic Curry on Elizabeth Street.&lt;/p&gt;
&lt;p&gt;If you haven't been to Free Software Melbourne before, please come along. The event is free of charge, non-technical and casual. If you're new to free software, we'd especially love to meet you. We've been running regular monthly events for about 5 years now. We usually have 10 to 15 people at our regular meet-ups where we hear a short presentation or two followed by some questions and chatter. Then optional dinner at a nearby restaurant and more chatter. If you know someone who might enjoy our group, please bring them along.&lt;/p&gt;
&lt;p&gt;[Update 21 May 2015] We also have Russell Coker joining us to talk about how he got into free software and why it's important to him.&lt;/p&gt;
&lt;p&gt;Look forward to seeing you!&lt;/p&gt;
&lt;p&gt;Regards,&lt;/p&gt;
&lt;p&gt;Ben, Ben, Ben and Scott&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 21 May, 6-8pm (followed by dinner at nearby restaurant)&lt;br/&gt;VPAC Head Office Training Room&lt;br/&gt;Level 1, Building 91, 110 Victoria Street&lt;br/&gt;Map: http://osm.org/go/uG4HZ6JiV?m&lt;br/&gt;Running late or locked out? Call Ben on 0458 925 588.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Adam and Andrew make Free Software Melbourne awesome</title><link href="http://www.freesoftware.org.au/blog/thanks-to-past-committee-members-adam-and-andrew/" rel="alternate"></link><published>2015-04-28T05:48:06+00:00</published><updated>2015-04-28T21:03:56+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/thanks-to-past-committee-members-adam-and-andrew/</id><summary type="html">&lt;p&gt;Free Software Melbourne is awesome because people like Adam Bolte and Andrew Spiers make it so. We thank you both for your time and effort organising the monthly meetups, finding interesting speakers, running Software Freedom Day, organising campaigns, hosting games nights and much more.&lt;/p&gt;
&lt;p&gt;Adam has been our President for the last year and Secretary the year before. He's made sure that we're always up-to-date with the Gnews and the latest in free software gaming. He also hosts our website out of his home (&lt;a href="http://freesoftware.org.au/about/"&gt;see why&lt;/a&gt;).&lt;/p&gt;
&lt;p&gt;Andrew has been Vice-President for the last year. He hasn't been able to attend our monthly meetups for a little while, but we're all missing him and hope to see him soon.&lt;/p&gt;
&lt;p&gt;Following the March meetup, Scott Junner and Ben Minerds now have joined Ben Finney and myself on the mostly Bens &lt;a href="http://freesoftware.org.au/melbourne/committee/"&gt;committee&lt;/a&gt; for the coming year. Our first audio conference was amusingly chaotic. We're looking forward to lots of fun free software activities this year.&lt;/p&gt;</summary><category term="Free Software Melbourne"></category><category term="Melbourne"></category></entry><entry><title>Peter Serwylo core developer of F-Droid + much Gnews, Melbourne 16 April</title><link href="http://www.freesoftware.org.au/blog/peter-serwylo-core-developer-of-f-droid-much-gnews-melbourne-16-april/" rel="alternate"></link><published>2015-04-09T04:33:24+00:00</published><updated>2019-01-17T03:59:34+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/peter-serwylo-core-developer-of-f-droid-much-gnews-melbourne-16-april/</id><summary type="html">&lt;p&gt;I was talking to Peter Serwylo about an app he's recently published in the F-Droid free software app store. I asked whether he'd be interested in coming to tell Free Software Melbourne about it. "I'll go one better", he said. "I'm actually one of the core developers of F-Droid. Would you like me to talk about that?"&lt;/p&gt;
&lt;p&gt;This month Peter will be talking about F-Droid. We'll also have Gnews including a report from LibrePlanet, followed by dinner nearby. Look forward to seeing you!&lt;/p&gt;
&lt;p&gt;Regards,&lt;br/&gt;Ben&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 16 April, 6-8pm (followed by dinner at nearby restaurant)&lt;br/&gt;VPAC Head Office Training Room&lt;br/&gt;Level 1, Building 91, 110 Victoria Street&lt;br/&gt;Map: http://osm.org/go/uG4HZ6JiV?m&lt;/p&gt;</summary></entry><entry><title>William Grant on working in free software + plenty of Gnews, Melbourne 19 March</title><link href="http://www.freesoftware.org.au/blog/william-grant-on-working-in-free-software-plenty-of-gnews-melbourne-19-march/" rel="alternate"></link><published>2015-02-24T01:00:18+00:00</published><updated>2019-01-17T03:59:30+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/william-grant-on-working-in-free-software-plenty-of-gnews-melbourne-19-march/</id><summary type="html">&lt;p&gt;There's always a lot of interest in getting a job working on free software. William Grant will be telling us about how he got started contributing to free software and ended up working with Canonical.&lt;/p&gt;
&lt;p&gt;The current committee's one year is up this month, so we'll be holding brief elections for President, Vice President, Secretary and Treasurer. As you may know, we're not actually an incorporated organisation, so this is more about sharing the work and keeping things vibrant than a formal requirement. Would you like to step up and help make Free Software Melbourne awesome?&lt;/p&gt;
&lt;p&gt;As always, lots of Gnews followed by dinner at Classic Curry. I'd say "look forward to seeing you", but I'll be heading off to present at &lt;a href="http://libreplanet.org/2015/"&gt;LibrePlanet&lt;/a&gt; in Boston which is exciting.&lt;/p&gt;
&lt;p&gt;Regards,&lt;/p&gt;
&lt;p&gt;Ben&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 19 March, 6-8pm (followed by dinner at nearby restaurant)&lt;br/&gt;VPAC Head Office Training Room&lt;br/&gt; Level 1, Building 91, 110 Victoria Street&lt;br/&gt;Map: &lt;a class="moz-txt-link-freetext" href="http://osm.org/go/uG4HZ6JiV?m"&gt;http://osm.org/go/uG4HZ6JiV?m&lt;/a&gt;&lt;/p&gt;</summary><category term="Meeting"></category><category term="Melbourne"></category></entry><entry><title>iPads in schools plus loads of Gnews, Melbourne 19 Feb</title><link href="http://www.freesoftware.org.au/blog/melbourne-19-feb-ipads-in-schools-plus-loads-of-gnews/" rel="alternate"></link><published>2015-02-13T05:08:09+00:00</published><updated>2019-01-17T03:58:43+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/melbourne-19-feb-ipads-in-schools-plus-loads-of-gnews/</id><summary type="html">&lt;p&gt;This Thursday we'll be talking about the widespread use of iPads in primary schools and how kids are introduced to technology. This topic really took off on the mailing list recently, so it's clearly important to many of you.&lt;/p&gt;
&lt;p&gt;During dinner discussion with Deb Nicholson last month, we touched on the idea of running  an &lt;a href="https://www.openhatch.org/"&gt;OpenHatch&lt;/a&gt; event to help people get started in contributing to free software. This sounded great, so we'll talk more about logistics of this.&lt;/p&gt;
&lt;p&gt;As always, there will be lots of Gnews, followed by dinner at nearby Big Mamas Korean restaurant. We're now back to our regular monthly meetup schedule, so be sure to mark 3rd Thursdays in your diary. Look forward to seeing you!&lt;/p&gt;</summary></entry><entry><title>Melbourne casual dinner with Deb Nicholson 22 Jan</title><link href="http://www.freesoftware.org.au/blog/melbourne-casual-dinner-with-deb-nicholson-22-jan/" rel="alternate"></link><published>2015-01-14T11:15:46+00:00</published><updated>2019-01-17T03:59:22+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/melbourne-casual-dinner-with-deb-nicholson-22-jan/</id><summary type="html">&lt;p&gt;Deb Nicholson is visiting Melbourne during her trip to linux.conf.au. She'll be joining us for a casual dinner next Thursday 22 January at 6pm.&lt;br/&gt;&lt;br/&gt;Deb is well known for her efforts with the Free Software Foundation, Open Invention Network and MediaGoblin. She's also a colleague of Andrea Casillas, whom we met last year.&lt;br/&gt;&lt;br/&gt;The Standard Hotel, 293 Fitzroy St, Fitzroy (between Bell St &amp;amp; Moor St) - &lt;a href="http://osm.org/go/uG4H0UE~1-?m"&gt;map&lt;/a&gt; &lt;br/&gt;&lt;br/&gt;Nearest tram lines are Tram 96 to East Brunswick (stop 14 on Nicholson St) or Tram 112 West Preston (stop 15 on Brunswick St).&lt;br/&gt;&lt;br/&gt;RSVP to ben@stumbles.id.au by 20 January.&lt;/p&gt;</summary></entry><entry><title>Melbourne casual dinner 18 December 6pm</title><link href="http://www.freesoftware.org.au/blog/casual-dinner-18-december-6pm/" rel="alternate"></link><published>2014-12-04T05:18:55+00:00</published><updated>2019-01-17T03:59:10+00:00</updated><author><name>Ben Sturmfels</name><uri>http://www.freesoftware.org.au/blog/author/bens/</uri></author><id>http://www.freesoftware.org.au/blog/casual-dinner-18-december-6pm/</id><summary type="html">&lt;p&gt;As I've said before, my favourite part of Free Software Melbourne is meeting other interesting people over dinner. This month we skip the regular meet up and just have dinner instead. I hope you can join us this Thursday at Classic Curry.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Free Software Melbourne Casual Dinner&lt;/strong&gt;&lt;br/&gt;Thursday 18 December, 6pm&lt;br/&gt;Classic Curry Restaurant&lt;br/&gt;597 Elizabeth Street (Corner of Queensberry St) North Melbourne&lt;br/&gt;&lt;a href="http://www.classiccurry.com/"&gt;http://www.classiccurry.com/&lt;/a&gt;&lt;br/&gt;&lt;a href="http://www.openstreetmap.org/?node=2274622026"&gt;http://www.openstreetmap.org/?node=2274622026&lt;/a&gt;&lt;/p&gt;</summary></entry></feed>