<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>News | Free Software Australia</title><link>http://www.freesoftware.org.au/blog/</link><description>&amp;nbsp;&amp;nbsp;</description><atom:link rel="self" href="http://www.freesoftware.org.au/blog/author/adamb/feeds/rss/"></atom:link><language>en</language><category>Article</category><category>Brisbane</category><category>Free Software Brisbane</category><category>Free Software Melbourne</category><category>Free Software Sydney</category><category>Meeting</category><category>Melbourne</category><category>News</category><category>Sydney</category><lastBuildDate>Mon, 18 Jul 2016 00:59:19 +0000</lastBuildDate><item><title>Free Software Melbourne - Meetup 21th July 2016 - Scientific Hooliganism</title><link>http://www.freesoftware.org.au/blog/free-software-melbourne-meetup-21th-july-2016-scientific-hooliganism/</link><description>&lt;p&gt;Free Software Melbourne - Meetup Thursday 21th July 2016&lt;/p&gt;
&lt;p&gt;“Are you a good witch, or a bad witch?”&lt;br/&gt;
    —Glinda the Good Witch; The Wizard of Oz&lt;/p&gt;
&lt;p&gt;In the drive to bring software quickly to our devices, and to lock it
down so its users have no legitimate access to it, who is motivated to
verify the security of the software we rely on for our communication
and identity?&lt;/p&gt;
&lt;p&gt;In 1903, Guglielmo Marconi prepared to unveil his world-first,
long-distance wireless communication technology to the Royal Institution
in London. He was looking forward to roaring success — but he didn't
count upon falling victim to the first crack in history.&lt;/p&gt;
&lt;p&gt;Over a century later, the tech industry is still repeating Marconi's
mistakes.&lt;/p&gt;
&lt;p&gt;Lilly Ryan, a software developer and digital rights activist, joins us
at this month's Free Software Melbourne meeting, with the topic of
Scientific Hooliganism: What we can learn from the first hack in
history.&lt;/p&gt;
&lt;p&gt;Come to talk with Lilly about claims of security, software freedom, and
what security cracking means for the technology we all use.&lt;/p&gt;
&lt;p&gt;We will also discuss the latest Gnews, and our involvement in the recent
City of Casey budget for software. Then we'll head out for dinner and
continued chatting in North Melbourne.&lt;/p&gt;
&lt;p&gt;Electron Workshop, 31 Arden Street, North Melbourne
(&lt;a href="https://www.openstreetmap.org/node/2556615434#map=19/-37.80118/144.95071"&gt;map&lt;/a&gt;)
on Thursday 2016-07-21, 18:00 (6p.m.) until dinner at 20:00.&lt;/p&gt;
&lt;p&gt;Bring a friend, bring a question or three. See you all there!&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Adam Bolte</dc:creator><pubDate>Mon, 18 Jul 2016 00:59:19 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/free-software-melbourne-meetup-21th-july-2016-scientific-hooliganism/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>Melbourne</category><category>News</category></item><item><title>Announcement - Dr Katherine Phelps on activism and free software in creative media</title><link>http://www.freesoftware.org.au/blog/announcement-dr-katherine-phelps-on-activism-and-free-software-in-creative-media/</link><description>&lt;p&gt;Hi Free Software Lovers,&lt;br/&gt;&lt;br/&gt;If the inspiring phone conversation I had last week with Katherine is anything to go by, this Thursday's meet-up should be one not to miss.&lt;br/&gt;&lt;br/&gt;Following a hugely successful Contributing to Free Software workshop in August and Software Freedom Day in September, this month we're back to our regular evening meet-up.&lt;br/&gt;&lt;br/&gt;Katherine will be telling us a little about how she uses free software programs in her comedy and theatre shows as well as her other writing and events. We'll hopefully also hear about her experience as social activist and gain some insights to be more effective activists ourselves.&lt;br/&gt;&lt;br/&gt;As always, we invite attendees to also join us for dinner at Classic Curry on Victoria Street after the organised part of the evening.&lt;br/&gt;&lt;br/&gt;Regards,&lt;br/&gt;Ben&lt;/p&gt;
&lt;h2&gt;Event details&lt;/h2&gt;
&lt;p&gt;Thursday 15 October, 6-8pm (followed by dinner at nearby restaurant)&lt;br/&gt;VPAC Head Office Training Room&lt;br/&gt;Level 1, Building 91, 110 Victoria Street&lt;br/&gt;Map: &lt;a href="http://osm.org/go/uG4HZ6JiV?m"&gt;http://osm.org/go/uG4HZ6JiV?m&lt;/a&gt;&lt;br/&gt;Running late or locked out? Call Scott on 0438 125 225.&lt;br/&gt;&lt;br/&gt;&lt;em&gt;Dr Katherine Phelps is the author of Surf's Up: Internet Australian Style published by Reed Books and distributed by Random House. She taught storytelling for computer game design for seven years at both RMIT and Victoria University. She is a lifetime member of Electronic Frontiers Australia and has been using Linux since 1994.&lt;/em&gt;&lt;br/&gt;&lt;br/&gt;&lt;em&gt;For the last five years Phelps has been producing comedy shows for both Melbourne Comedy Festival and Melbourne Fringe relying heavily on free  software and share community resources. For the last three years she has been running events for UN International Day of Peace. Currently, she is  founding a scholar owned cooperative university, where students, lecturers, and researchers share ownership of their institution.&lt;/em&gt;&lt;br/&gt;&lt;br/&gt;&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Adam Bolte</dc:creator><pubDate>Thu, 15 Oct 2015 02:42:34 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/announcement-dr-katherine-phelps-on-activism-and-free-software-in-creative-media/</guid></item></channel></rss>