<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>News | Free Software Australia</title><link>http://www.freesoftware.org.au/blog/</link><description>&amp;nbsp;&amp;nbsp;</description><atom:link rel="self" href="http://www.freesoftware.org.au/blog/author/LesKitchen/feeds/rss/"></atom:link><language>en</language><category>Article</category><category>Brisbane</category><category>Free Software Brisbane</category><category>Free Software Melbourne</category><category>Free Software Sydney</category><category>Meeting</category><category>Melbourne</category><category>News</category><category>Sydney</category><lastBuildDate>Mon, 17 Jan 2022 01:04:08 +0000</lastBuildDate><item><title>FSM Jan 20th - AGM and Committee Elections + planning FSA</title><link>http://www.freesoftware.org.au/blog/fsm-jan-20th-agm-and-committee-elections-planning-fsa/</link><description>&lt;p&gt;Welcome to a brand new year Free Software friends,&lt;/p&gt;
&lt;p&gt;Along with a new year we also thought it's a good time for us to refresh the committee and get back into the habit of having an Annual General Meeting.&lt;/p&gt;
&lt;p&gt;Currently we have three people standing for committee positions but traditionally we have had four committee members. So we would love to hear from anyone in the community interested in stepping forward and joining the committee. Committee members are expected to attend an additional committee meeting once a month, but beyond that you can contribute at your own pace and we will be renewing the committee annually during our January meeting so it's only a one year commitment.&lt;/p&gt;
&lt;p&gt;During the meeting we'll go over the job description for a committee member in a bit more detail. Then we will nominate the running committee members and hear a few words from each of the running members. We will then officially dissolve the existing committee and vote in the new committee.&lt;/p&gt;
&lt;p&gt;We will then have our first AGM in a while and discuss some of the current issues we face as Free Software Melbourne. Of particular note we are considering amalgamating all of the (mostly dormant) groups around Australia under the Free Software Australia banner.&lt;/p&gt;
&lt;p&gt;This will be a non technical event and all are welcome. Come along and have your say on Free Software Melbourne in 2022&lt;/p&gt;
&lt;dl&gt;
&lt;dt&gt;Details&lt;/dt&gt;
&lt;dd&gt;Thursday, 20th January 2022, 7:30pm–9:00pm &lt;br/&gt; Join us at: &lt;a href="https://venue.electronworkshop.com.au/b/fsm-7fm-etn-vj8"&gt;https://venue.electronworkshop.com.au/b/fsm-7fm-etn-vj8&lt;/a&gt; &lt;br/&gt; Join the FSM mailing list to be notified of events: &lt;a href="https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb"&gt;https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb&lt;/a&gt;&lt;/dd&gt;
&lt;dt&gt;Meeting Tips&lt;/dt&gt;
&lt;dd&gt;Be sure to test your audio on the way in. Your mic will be muted when you join the room. &lt;br/&gt; Headsets are recommended to reduce any feedback. &lt;br/&gt; Code of Conduct: &lt;a href="https://freesoftware.org.au/code-of-conduct"&gt;https://freesoftware.org.au/code-of-conduct&lt;/a&gt;&lt;/dd&gt;
&lt;/dl&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Les Kitchen</dc:creator><pubDate>Mon, 17 Jan 2022 01:04:08 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/fsm-jan-20th-agm-and-committee-elections-planning-fsa/</guid><category>Meeting</category></item><item><title>Software Freedom Day</title><link>http://www.freesoftware.org.au/blog/software-freedom-day/</link><description>&lt;h1&gt;Software Freedom Day — 18th of September 2021&lt;/h1&gt;
&lt;p&gt;&lt;em&gt;This should be the final &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#timetable"&gt;timetable for the day&lt;/a&gt; and &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#information"&gt;information about talks and speakers&lt;/a&gt;. We recommend checking back here before joining the meeting in case of any necessary last-minute changes.&lt;/em&gt;&lt;/p&gt;
&lt;div&gt;&lt;img alt="SFD Logo" src="https://freesoftware.org.au/static/media/uploads/sfdlogo_622wide.png" width="622"/&gt;&lt;/div&gt;
&lt;p style="text-align: justify;"&gt;It's almost time for Software Freedom Day, and this year Free Software Melbourne and Linux Users of Victoria are celebrating the 18th Software Freedom Day online. We'll be hosting a range of talks and presentations about the importance and benefits of Free Software to users and how this improves society and nurtures healthy communities.&lt;/p&gt;
&lt;p style="text-align: justify;"&gt;This year we will be hearing talks about hardware that respects your privacy, tools to empower you to take back control over your own data, privacy respecting searching on the web. As well as demonstrations of tools to help you collaborate and communicate online, and Free Software in the enterprise environment. All that and of course lots of Linux! Because this is the 30th anniversary for the first public release of the Linux kernel and the Linux kernel is arguably the most popular GPL licensed software on the planet. There will be plenty of Linux talks along with the official launch of the Longer Life with Linux campaign.&lt;/p&gt;
&lt;p style="text-align: justify;"&gt;Participation is no cost and we are of course holding the event online. The event link will open directly in your browser (we recommend Firefox or Chromium) so no additional software is required and it will work on any operating system.&lt;/p&gt;
&lt;p style="text-align: justify;"&gt;Software Freedom Day is a family friendly event welcoming to anyone, and open to people of all technical abilities. Pass on the invitation to anyone you think may enjoy it and help make it a great day. We have a code of conduct available on our website, but in short: Be respectful, Be inclusive and Be aware.&lt;/p&gt;
&lt;p style="text-align: justify;"&gt;Hope to see you all online for the best Software Freedom Day ever!&lt;/p&gt;
&lt;h2&gt;Details&lt;/h2&gt;
&lt;p&gt;&lt;strong&gt;Date:&lt;/strong&gt; Saturday the 18th of September 2021&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Time:&lt;/strong&gt; Talks start at 10:30am, wrapping up about 5:30pm. &lt;em&gt; For attendees from afar: Times are in AEST (Australian Eastern Standard Time), UTC+10. The meeting could start as early as Friday afternoon local time for some parts of the world. So check your timezone difference. &lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Location:&lt;/strong&gt; Online Meeting: &lt;a href="https://venue.electronworkshop.com.au/r/sfd-2021"&gt;https://venue.electronworkshop.com.au/r/sfd-2021&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Meeting Tips:&lt;/strong&gt; Mute microphone when not speaking. Headsets recommended to reduce feedback if you will be speaking. If you are having difficulty hearing or being heard there is a chat stream available. If you want to ask a question during the presentation either ask it in the chat or use the “raise hand” button.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Code of Conduct:&lt;/strong&gt; &lt;a href="http://freesoftware.org.au/code-of-conduct/"&gt;http://freesoftware.org.au/code-of-conduct/&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Mailing List:&lt;/strong&gt; Stay in touch by joining our mailing list here: &lt;a href="https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb"&gt;https://lists.softwarefreedom.com.au/cgi-bin/mailman/listinfo/free-software-melb&lt;/a&gt;&lt;/p&gt;
&lt;h2&gt;&lt;a id="timetable"&gt;&lt;/a&gt;Timetable&lt;/h2&gt;
&lt;p&gt;10:30am — Event opens &lt;br/&gt; 10:45am — Welcome and Introductions &lt;br/&gt; 11:00am — &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#purism"&gt;Todd Weaver — “Purism: Freedom, Privacy, and Diapers”&lt;/a&gt; &lt;br/&gt; 12:00 noon — &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#righttoask"&gt;Vanessa Teague &amp;amp; Andrew Conway — “The &lt;em&gt;Right To Ask&lt;/em&gt; Project”&lt;/a&gt; &lt;br/&gt; 1:00pm — &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#nextcloud"&gt;Tatiana Lenz — “Next Cloud: Why you need it”&lt;/a&gt; &lt;br/&gt; 2:00pm — Break — Online Discussion &lt;br/&gt; 2:30pm — &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#ewaste"&gt;Alexar Pendashteh &amp;amp; Tom Danby — “Linux against E-waste”&lt;/a&gt; &lt;br/&gt; 3:30pm — Linux and other Lightning Talks &lt;br/&gt; 4:30pm — &lt;a href="http://freesoftware.org.au/blog/author/LesKitchen/feeds/rss/#searx"&gt;Noémi Ványi — “Searx: Developing a privacy-respecting search engine”&lt;/a&gt; &lt;br/&gt; 5:30pm — Event Close&lt;/p&gt;
&lt;h2&gt;&lt;a id="information"&gt;&lt;/a&gt;About the Talks and our Speakers&lt;/h2&gt;
&lt;h3&gt;&lt;a id="purism"&gt;&lt;/a&gt;Todd Weaver — “Purism: Freedom, Privacy, and Diapers”&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Abstract:&lt;/strong&gt; In a series of stories, Todd Weaver will take the listener on a real journey on how the team at &lt;a href="https://puri.sm/"&gt;Purism&lt;/a&gt; solves the near-impossible time and time again.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Bio:&lt;/strong&gt; Todd Weaver is CEO and Founder of Purism. After a lifetime of work as a software engineer, developer, architect, and technology advocate, Todd Weaver founded Purism to make high quality, safe, and secure hardware that respects civil liberties, freedoms, and privacy. He did not want to be monitored nor recorded; he wanted an environment he could trust. He wanted that for everyone else, too. In 2014, Weaver started Purism with crowdfunding a 15-inch laptop for a quarter million-dollar funding goal. Purism has grown substantially and now has a sophisticated portfolio of digitally responsible, high-quality, and safe products, software, and services that allow people the default position of complete freedom with the choice to ‘opt’ into features they desire. Weaver also founded, IVI Inc in 2005, the first online cable company, delivering over-the-air broadcast television channels over the Internet to a downloadable cross-platform media player. He enjoys building products and companies that don't require a lot of upfront capital but garner tremendous growth.&lt;/p&gt;
&lt;h3&gt;&lt;a id="righttoask"&gt;&lt;/a&gt;Vanessa Teague &amp;amp; Andrew Conway — “The &lt;em&gt;Right To Ask&lt;/em&gt; Project”&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Abstract:&lt;/strong&gt; The Right To Ask project will use cryptographic techniques from end-to-end verifiable e-voting for a much simpler problem: voting on which questions are the most popular. These questions are meant to be asked in formal scenarios such as Parliamentary committee hearings and question time, or answered in written form in-app. We aim to open a channel of communication between parliamentarians and citizens so that Parliament can be more directly and immediately responsive to input from citizens.&lt;/p&gt;
&lt;p&gt;Questions have a name attached, but upvotes and downvotes can be aggregated anonymously and proven to be properly tallied using well-known techniques from the e-voting literature.&lt;/p&gt;
&lt;p&gt;Vanessa will describe the aims of the project, some of the underlying maths, and how to become involved if you'd like to help. Andrew will discuss his Rust implementation of the public bulletin board. It's a verifiable data structure based on Merkle trees, which allows every participant to verify that they have the same transcript, and prevents even a corrupt authority from undetectably rewriting history.&lt;/p&gt;
&lt;p&gt;With thanks to these contributors: Ishan Goyal, Chuanyuan Liu, Lillian McCann, Tim McCann, Eleanor McMurtry, Hanna Navissi, Pedro Rosas, Miguel Wood.&lt;/p&gt;
&lt;p&gt;Initial code at: &lt;a href="https://github.com/RightToAskOrg"&gt;https://github.com/RightToAskOrg&lt;/a&gt; &lt;br/&gt; Join the discussion on HackMD: &lt;a href="https://hackmd.io/@RightToAsk-Docs"&gt;https://hackmd.io/@RightToAsk-Docs&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Bios:&lt;/strong&gt; Vanessa Teague is a cryptographer living and working on Wurundjeri land in Southeastern Australia (near Melbourne). She is interested in cryptographic protocols that support a free and democratic society. She works on openly-available research and open source software for supporting democratic decision making and empowering ordinary people to make choices about their own data.&lt;/p&gt;
&lt;p&gt;Vanessa is CEO of Thinking Cybersecurity Pty. Ltd., and Adjunct Associate Professor in the Research School of Computer Science of The Australian National University, Canberra.&lt;/p&gt;
&lt;p&gt;In 1994 Andrew Conway made arguably the first device that would be recognisable now as an autonomous flying drone. In 1998 he founded and ran a software company, Silicon Genetics, making specialized data analysis software for gene expression experiments. Now he writes software that will hopefully turn out to be useful including covid genetic diversity visualization and STV vote counting.&lt;/p&gt;
&lt;h3&gt;&lt;a id="nextcloud"&gt;&lt;/a&gt;Tatiana Lenz — “Next Cloud: Why you need it”&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Abstract:&lt;/strong&gt; We'll be looking at what Nextcloud is, how and why it's useful and touching on why privacy and data sovereignty matter. As part of the presentation we will do a quick install of a Nextcloud instance and look at some ways of customising and leveraging core functionality.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Bio:&lt;/strong&gt; Tatiana Lenz is a software engineer living in Melbourne. She has worked in companies big and small and has been involved in government projects at state and federal levels. She is currently working on tools and software that guide people through the legal system in an empathetic way. “Divorce Helper”, the current project she is working on, is out in beta release at &lt;a href="https://dh.legaltechhelper.com/"&gt;https://dh.legaltechhelper.com/&lt;/a&gt;. Tatiana has always been passionate about software freedom both in her work life and on a more personal level. She credits FLOSS with changing her life in being able to escape a corporate monolith of proprietary software and out into the open fields of more meaningful work. She is speaking here today because she wants to show people that Nextcloud (and other free software) is very practical and useful in our everyday lives and our work and corporate ecosystems.&lt;/p&gt;
&lt;h3&gt;&lt;a id="ewaste"&gt;&lt;/a&gt;Alexar Pendashteh &amp;amp; Tom Danby — “Linux against E-waste”&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Abstract:&lt;/strong&gt; “The World has an E-Waste Problem” as Time put it; and there are ways we can potentially turn this threat into opportunities. In this talk we explore one of those ways, which is using Linux and the Free and Open Source Software. We will also be introducing “Longer Life with Linux”, an Electron Workshop project in partnership with Linux Users of Victoria and sponsored by the City of Melbourne that aims at establishing support services for Linux Desktop in the process of reviving old computers.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Bios:&lt;/strong&gt; Alexar Pendashteh is a technologist and a social entrepreneur. Trained as an Electrical Engineer, he changed course to IT and is now focusing on distributed technologies. Alexar actively participates in the tech and startup ecosystem in Australia and is passionate about enabling a tech industry around open source technologies that supports public innovation.&lt;/p&gt;
&lt;p&gt;Tom Danby comes from a publishing background and is presently working on community development projects. He is active in a number of sustainability groups and is on the committee of Transition Towns Australia Inc. — the national hub for Transition Town groups. He is the current editor of the Transition Streets community education and engagement program.&lt;/p&gt;
&lt;h3&gt;&lt;a id="searx"&gt;&lt;/a&gt;Noémi Ványi — “Searx: Developing a privacy-respecting search engine”&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Abstract:&lt;/strong&gt; &lt;a href="https://searx.thegpm.org/"&gt;Searx&lt;/a&gt; is a popular privacy-respecting replacement for many big search engines, however, it is capable of more things. In this talk, you will learn about what makes searx different from other search services. You will also see what is it like to develop a project with AGPL licence focused on privacy.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Bio:&lt;/strong&gt; I am an open-source enthusiast since high school and one of the maintainers of searx since 2016. I have been lucky to work on open-source software at my day job as well for most of my career. I love open source because I get to collaborate with smart people all around the world who are passionate about coding and freedom.&lt;/p&gt;
&lt;hr/&gt;
&lt;p&gt;&lt;a href="http://sfd.org.au/"&gt;Software Freedom Day 2021 in Melbourne&lt;/a&gt; is a joint activity of &lt;a href="https://freesoftware.org.au/"&gt;Free Software Melbourne&lt;/a&gt; and &lt;a href="https://www.luv.asn.au/"&gt;Linux Users of Victoria&lt;/a&gt; (a subcommittee of &lt;a href="https://linux.org.au/"&gt;Linux Australia&lt;/a&gt;). Our event is part of the &lt;a href="https://www.softwarefreedomday.org/"&gt;global celebration of Software Freedom Day&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;Thanks to &lt;a href="http://www.electronworkshop.com.au/"&gt;Electron Workshop&lt;/a&gt; for providing &lt;a href="https://bigbluebutton.org/"&gt;Big Blue Button&lt;/a&gt; hosting for the online meeting.&lt;/p&gt;
&lt;p&gt;The URL of this post is &lt;a href="https://freesoftware.org.au/blog/software-freedom-day/"&gt;https://freesoftware.org.au/blog/software-freedom-day/&lt;/a&gt;.&lt;/p&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Les Kitchen</dc:creator><pubDate>Sun, 05 Sep 2021 10:02:00 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/software-freedom-day/</guid></item><item><title>Free Software Melbourne meeting, 19 March 2020: How to unfriend Facebook</title><link>http://www.freesoftware.org.au/blog/free-software-melbourne-march-2020-meeting-how-to-unfriend-facebook/</link><description>&lt;!-- WORK IN PROGRESS, from post for January 2020 meeting --&gt;
&lt;!-- Free Software Melbourne meeting, 19 March 2020: How to unfriend Facebook --&gt;
&lt;div&gt;
&lt;p&gt;
    COVID-19 Update:
  &lt;/p&gt;
&lt;p&gt;
    Due to the current Corona virus pandemic we are joining all the other Melbourne meetups in suspending in person meetups until further notice. Due to this we will be delaying the start of the deFANNG campaign. We'd still love to catch up and talk all things Free Software so we're converting this meetup into a virtual meetup on Jitsi Meet: https://meet.jit.si/FSM where we'll try out some FLOSS video conferencing.
  &lt;/p&gt;
&lt;p&gt;
    Jitsi Meet Room: https://meet.jit.si/FSM
  &lt;/p&gt;
&lt;p&gt;
    Meeting Tips: Mute your mic when not talking and have a tasty beverage at hand
  &lt;/p&gt;
&lt;/div&gt;
&lt;hr/&gt;
&lt;div&gt;
&lt;p&gt;

    Dear Free-Software Friends and Family,

  &lt;/p&gt;&lt;p&gt;
        

    The “Big Tech” companies, such as Facebook,
    Amazon, Apple, Netflix, Google (FAANG) are familiar brands
    with worldwide reach in all corners of people’s affairs,
    from communicating with family, purchasing household goods
    and reading the news.

  &lt;/p&gt;&lt;p&gt;

    In recent years, the major negative effects on society have
    become apparent from the underlying business model of these
    multinationals, namely targeted advertising — where
    the more FAANG knows about you, your social connections and
    preferences, the more valuable you are to them. For example,
    period tracking apps for the Android OS and iOS share
    intimate information with Facebook that helps advertisers
    target women:

  &lt;/p&gt;&lt;blockquote&gt;&lt;tt&gt;
&lt;a href="https://www.privacyinternational.org/long-read/3196/no-bodys-business-mine-how-menstruation-apps-are-sharing-your-data"&gt;https://www.privacyinternational.org/long-read/3196/no-bodys-business-mine-how-menstruation-apps-are-sharing-your-data&lt;/a&gt;
&lt;/tt&gt;&lt;/blockquote&gt;&lt;p&gt;

    As part of a year-long series on how to De-FAANG your life,
    we are proud to present the first in the series:

  &lt;/p&gt;&lt;blockquote&gt;&lt;strong&gt;

      How to Unfriend Facebook (True friends don't spy on you!)

  &lt;/strong&gt;&lt;/blockquote&gt;&lt;p&gt;

    This talk will cover the negative impacts on people and
    society by Facebook's walled garden
    “social”-platform and related proprietary
    technologies. We will then present a practical and
    easy-to-follow guide on how to use Free Software to help you
    leave a bad friend and unfriend Facebook for good!

  &lt;/p&gt;&lt;p&gt;

    We look forward to seeing you there!

  &lt;/p&gt;&lt;p&gt;

    The FSM team.

  &lt;/p&gt;&lt;p&gt;
&lt;strong&gt;Details&lt;/strong&gt;
&lt;br/&gt;
    Thursday 19th March, 6:30–8:00pm
    &lt;br/&gt;
    Electron Workshop: 31 Arden St, North Melbourne, Victoria, 3051
    &lt;br/&gt;
    Map: &lt;tt&gt;&lt;a href="http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434"&gt;http://osm.org/go/uG4HWyqEz?m=&amp;amp;node=2556615434&lt;/a&gt;&lt;/tt&gt;
&lt;br/&gt;
    Travel Tips: &lt;tt&gt;&lt;a href="http://www.electronworkshop.com.au/map/"&gt;http://www.electronworkshop.com.au/map/&lt;/a&gt;&lt;/tt&gt;
&lt;/p&gt;
&lt;/div&gt;</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Les Kitchen</dc:creator><pubDate>Thu, 05 Mar 2020 09:42:53 +0000</pubDate><guid>http://www.freesoftware.org.au/blog/free-software-melbourne-march-2020-meeting-how-to-unfriend-facebook/</guid><category>Free Software Melbourne</category><category>Meeting</category><category>News</category></item></channel></rss>