<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en"><title>News | Free Software Australia</title><link rel="alternate" href="http://www.freesoftware.org.au/blog/"></link><link rel="self" href="http://www.freesoftware.org.au/blog/category/article/feeds/atom/"></link><id>http://www.freesoftware.org.au/blog/</id><updated>2022-03-07T13:51:11+00:00</updated><subtitle>&amp;nbsp;&amp;nbsp;</subtitle><category term="Article"></category><category term="Brisbane"></category><category term="Free Software Brisbane"></category><category term="Free Software Melbourne"></category><category term="Free Software Sydney"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category><category term="Sydney"></category><entry><title>Campaign and activities planning for 2021</title><link href="http://www.freesoftware.org.au/blog/campaign-and-activities-planning-for-2021/" rel="alternate"></link><published>2021-02-11T12:20:48+00:00</published><updated>2022-03-07T13:45:42+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/campaign-and-activities-planning-for-2021/</id><summary type="html">&lt;p&gt;Hi Freedom Lovers,&lt;/p&gt;
&lt;p&gt;Thanks to every one who came along to our meetup about a Right to Repair submission to the enquiry. We got a sold draft knocked out and had shaped it into a great submission by the weekend. I've posted a copy of the submission on our wiki: https://freesoftware.org.au/wiki/RightToRepairProductivityCommission and I was able to track down our pdf submission on the Productivity Commission website: https://www.pc.gov.au/__data/assets/pdf_file/0005/272318/sub043-repair.pdf&lt;/p&gt;
&lt;p&gt;This month we're going to put our heads together and plan out the campaigns for the year ahead. Do you want more hardware reviews, more campaigns like Right to Repair or just more games. Which campaigns should we continue our involvement in and what other campaigns are emerging that we could lend our weight to? Now's your chance to have your say about how the this year at Free Software Melbourne will be.&lt;/p&gt;
&lt;p&gt;We'll all take a look at the campaigns we are currently running and what we can do next. We'll also look at what we need to do to plan for and participate in events like Melbourne Knowledge Week and Privacy Week. If you're aware of any other events we could participate in come along and tell us about it or make suggestions on the mailing list before the meetup.&lt;/p&gt;
&lt;p&gt;So come along and help set course for this year at Free Software Melbourne. We’ll be meeting virtually via Big Blue Button at 7:30pm. This will be a non technical event so feel free to join the discussion, make suggestions or just listen in.&lt;/p&gt;
&lt;h3&gt;Details&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;Thursday 18th February, 7:30-9:00pm&lt;/li&gt;
&lt;li&gt;Join us at: &lt;a href="https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu"&gt;https://meet.glasswings.com.au/b/fsm-iv6-tce-vpu&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Short video intro to Big Blue Button (BBB): &lt;a href="https://www.youtube.com/watch?v=uYYnryIM0Uw"&gt;https://www.youtube.com/watch?v=uYYnryIM0Uw&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;Meeting Tips:
&lt;ul&gt;
&lt;li&gt;Be sure to test your audio on the way in.&lt;/li&gt;
&lt;li&gt;Your mic will be muted when you join the room.&lt;/li&gt;
&lt;li&gt;Headsets are recommended to reduce any feedback.&lt;/li&gt;
&lt;li&gt;Code of Conduct: https://freesoftware.org.au/code-of-conduct&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;</summary><category term="Article"></category><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Apple&amp;#39;s Sunset on Freedom</title><link href="http://www.freesoftware.org.au/blog/apples-sunset-on-freedom/" rel="alternate"></link><published>2020-11-15T00:25:41+00:00</published><updated>2022-03-07T13:50:52+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/apples-sunset-on-freedom/</id><summary type="html">Apple's Sunset on Freedom
&lt;p&gt;
&lt;p&gt;
On the 9th November 2020, Tim Cook the current CEO of Apple, posted a picture on Twitter of a sunset from the Apple Park Campus in Cupertino. The text said "One more sleep". This was in relation to the online event the next day. While the direct message was essentially two dimensional corporate marketing, the deeper meaning that one could gather from this is much more significant.
&lt;p&gt;
On 10th November, Apple announced their new in-house designed M1 processors for their laptops and eventually desktop computers. For all the hype surrounding the technical features and the specifications, with this move they will also very quietly disallow you to load in an operating system of your choice. Apple computers in future will run only Apple operating systems and Apple approved software. You have no choice any more. The slow creep of hostility towards real choice has finally given Apple total control over the machines the users purchase.
&lt;p&gt;
To highlight just how bad this can be, in what could be considered bad timing for Apple, on the 12th November 2020 there was a server outage on their Apple Certificate Validation server. Normally if a server goes out it can be a little inconvenient in terms of grabbing data but this was an exceptional circumstance. The server was responsible for app authorisation on MacOS. As a part of the 'Gatekeeper' security technology in MacOS, every time you run an application, it needs to be verified by Apples online serves to ensure that it is secure. That is, every time you open an application that is installed on the local machine, Apple knows what you are launching, where and when you are doing it. If there is an internet connection, it will check it every single time you launch the application and if it cannot get through to the Apple server - it will not allow you to open the program. 
&lt;p&gt;
If a server goes down on the opposite side of the world, you cannot use the programs you have installed on your computer right in front of you.  
&lt;p&gt;
Gate Keeper as a technology is not a bad idea. It essentially does a check of your software to make sure that it is still the same piece of software you originally installed. It protects against malware changing it without your knowledge. But by adding in the near mandatory online check to this function, Apple has essentially weaponized a decent technology and turned it into a massive spying system at the same time. 
&lt;p&gt;
Credit to the Apple OS team - at least there was a work around. If the users disabled their Wifi or access to the authorisation server, MacOS would fall back into an offline state for running these programs. While that works for know, how long until even that option becomes obsolete? And if you buy one of Apples new Laptops with the M1 processor, you will have absolutely no options against using this. 
&lt;p&gt;
Apple have been actively hostile against folks using their computers as they wish for a long time. The GPL code that we fight for in ensuring the users have the freedom to use, share, modify and share modified - is forbidden on their app stores. The bulk of GPL code that was in MacOS has either been replaced with proprietary code, removed all together or left untouched since 2006. 
&lt;p&gt;
NOTE: Apple uses some GPL 2 code in the form of GNU GCC and GNU Bash which were last updated in 2006. Apple will not use the newer GPL 3 code because it offers the users too much freedom over the rest of their machines. 
&lt;p&gt;
If these issues with Apple were just limited to Apple machines, it wouldn't be such a large issue. It would be awful but not the end of computing in freedom as we know it. The issue is Apple has a tendency to leading the pack in regards to other manufacturers and software vendors decisions. As more custom hardware is being implemented in the name of performance and security, there is more incentive for manufacturers to lock down these machines for "competitive advantages". Custom hardware that limits users choices are becoming much more prevalent. Microsoft has started making laptops that use Microsoft specific processors which cannot have custom operating systems installed and Windows 10 has a near identical feature to the Apple authorisation certificates. This is a trend I do not see going away any time soon, so long as people keep buying these devices.
&lt;p&gt;
You as the users still have control however. You do not have to buy these restrictive machines or use their oppressive software. By buying hardware that respects your freedoms, that allows you to install the software you wish, you vote with your money on which way you want to see computing go in the future. Buy using a Free/Libre operating system like GNU/Linux, you are voting against the surveillance systems and the control that the big players are forcing on to individuals. By telling others about these options and how they can benefit the users, you are actively helping in fighting against the unwanted slide towards dystopia. We the users ultimately still hold the power, we just need to use it for good.
&lt;p&gt;
The sunset Tim Cook was posting wasn't just a sunset for an event the next day, it was a sunset on digital freedoms. The day when the last light of freedom was finally cast into the shadows of history... at least from Apples perspective. From your perspective you can choose otherwise, you can choose a path to freedom.
&lt;p&gt;
NOTE : I did not link to the post from Tim Cook because to use Twitter is to use a non-free service that tracks the users and it executes non-free java script.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>Update on browser standards</title><link href="http://www.freesoftware.org.au/blog/update-on-browser-standards/" rel="alternate"></link><published>2019-12-17T02:57:24+00:00</published><updated>2022-03-07T13:51:00+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/update-on-browser-standards/</id><summary type="html">About a year ago we warned about the issues of the Chromium/Blink web rendering engine and how Google is essentially dictating the direction of web technology to their advantage.
&lt;p&gt;
&lt;a href="https://freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/"&gt;https://freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/&lt;/a&gt;
&lt;p&gt;
It now appears via multiple sources that this is becoming that case at least for their direct web services. 
&lt;p&gt;
&lt;a href="https://www.bleepingcomputer.com/news/google/google-now-bans-some-linux-web-browsers-from-their-services/"&gt;https://www.bleepingcomputer.com/news/google/google-now-bans-some-linux-web-browsers-from-their-services/&lt;/a&gt;
&lt;p&gt;
The short take on the story is that a lot of free software browsers, some of which happen to have provided the technology base of Chrome, are now being denied access under the guise of 'security'. While these browsers combined usage makes up less than 0.1% of Internet traffic, that Google has gone out of the way to deny the users access is a dangerous precident. To make matters worse, if you make these browsers report to Google that they are 'Google Chrome' - Googles own proprietary browser, then these sites work as intended making the whole idea look more preposterous.  
&lt;p&gt;
While this warning has not been seen universally by users and it appears to be in the trail stage, this is a very worrying for the free and open internet and the software that we use on it. Essentially the software maker, being Google, is able to dictate what people can use online using their software platform and online websites. 
&lt;p&gt;
Google has now made a few actions that are determined to control how the internet is used for their own gain.
&lt;p&gt;
Chrome is designed to dictate the technology base that people have to use, by having technology that can only be rendered properly by their browser, this sets the standards by which most web developers will aim to hit. This is to the detriment of anyone using non-google technology. 
&lt;p&gt;
It may be small user base browsers today, in future it might be things like Firefox and eventually all non-Chrome browsers - even ones that use the same 'open-source' code base. This is the situation we found the internet in at the end of the last decade with Microsoft's Internet Explorer dominating how internet technology would be shaped. It took the efforts of Mozilla and the Firefox project to finally break free from this situation.
&lt;p&gt;
Google is also directly dictating to web content providers to use their systems such as AMP technology so that run websites on their servers, making them load faster than they typically would and this is enhanced when using their browsers so that any competition looks bad by comparison.
&lt;p&gt;
Google uses many other techniques but these main ones are used to direct you into Googles profit machine at the expense of your choice of software and thus your privacy.
&lt;p&gt;
Over the last few years it has become apparent that more web browser technology is being dictated down from Google and less about letting technology find its own place via dis-census. That is, it is being designed rather than evolving. Technology is being used to squeeze out competition and free software based browsers are clearly being targeted. Google has misused API's to make performance run slowly on other browsers, dictated how DRM should be implemented online so that others cannot support the same standards and in general just made a technology target that favors it over other agreed standards.
&lt;p&gt;
The best solution to a problem is to prevent the problem in the first place. While we do not have much influence over standards committees, that doesn't mean you are powerless. This means having to avoid using these controlling technologies and to support those that have your back covered. By supporting free software and open standards that is what you are doing. Every time you use a Free-software browser and a website doesn't work properly, let the sites admin know about it. If they don't want to fix it - don't use it. You are better off not being forced into a compromised position. 
&lt;p&gt;
In the coming decade this will only get worse. With the increasing profit needs of Google, increasing operations costs, decline in return on computer hardware improvements, ever increasing demand so of users and the apathy of those same users that makes them accept these changes with little questioning, we are slowly walking down a road that is very difficult to recover from. It took almost a decade to turn it around last time with Firefox and that was through the arrogance of Microsoft not keeping their eye on the ball and assuming that they could never fall. This time it may not be possible as it is a very deliberate and targeted attack on users choices. If we don't try to fight this then we have lost already. If we wait until it is unbearable, it will be near impossible to overcome in any meaningful way.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>Software Freedom Day - 21st of September 2019</title><link href="http://www.freesoftware.org.au/blog/software-freedom-day-21st-of-september-2019/" rel="alternate"></link><published>2019-09-03T14:00:00+00:00</published><updated>2022-03-07T13:47:25+00:00</updated><author><name>Ben Minerds</name><uri>http://www.freesoftware.org.au/blog/author/benm/</uri></author><id>http://www.freesoftware.org.au/blog/software-freedom-day-21st-of-september-2019/</id><summary type="html">Free Software Melbourne and Linux Users Victoria are celebrating the 16th annual Software Freedom Day celebrations in Melbourne and we're going to be hosting a series of talks about using Free and Open Source Software in the real world.
&lt;br/&gt;
&lt;br/&gt;
We're going to be talking about what even is Free and Open Source software and why is Free Software so important we want to dedicate a whole day to it. We're also going to talk about using free software for audio production, and how open source is used in the development of open hardware and some demonstrations of projects you could even build yourself.  We'll also be having plenty of networking opportunities and introductions to many of Melbourne's Free and Open Source technology groups and organizations.
&lt;br/&gt;
&lt;br/&gt;
Entry is free any time and Software Freedom Day is a family friendly event welcoming to anyone, pass on the word to help make it a great day for everyone. We do have a code of conduct on our website, but in short: Be respectful. Be mindful. Work together.
&lt;br/&gt;
&lt;br/&gt;
We'll have light snacks and sodas available gratis throughout the afternoon and at the conclusion of the day we usually continue discussions over dinner along the nearby Errol st, so feel free to join us if you're enjoying the conversations.
&lt;br/&gt;
&lt;br/&gt;
Hope to see you all at Electron Workshop on the 21st for another exciting Software Freedom Day!
&lt;br/&gt;
&lt;br/&gt;
&lt;center&gt;&lt;img src="https://freesoftware.org.au/static/media/uploads/poster2.png"/&gt;&lt;/center&gt;
&lt;h3&gt;Details&lt;/h3&gt;
Date: Saturday the 21st of September
&lt;br/&gt;
Time: Talks starting at 1:00pm and wrapping up about 5:30pm
&lt;br/&gt;
Location: Electron Workshop co-working space
&lt;br/&gt;
Address: 31 Arden Street, North Melbourne
&lt;br/&gt;
Map: &lt;a href="https://www.openstreetmap.org/node/2556615434"&gt;https://www.openstreetmap.org/node/2556615434&lt;/a&gt;
&lt;br/&gt;
Travel Tips: &lt;a href="http://www.electronworkshop.com.au/map/"&gt;http://www.electronworkshop.com.au/map/&lt;/a&gt;
&lt;br/&gt;
Parking: On street parking in the area
&lt;br/&gt;
Code of Conduct: &lt;a href="http://freesoftware.org.au/code-of-conduct/"&gt;http://freesoftware.org.au/code-of-conduct/&lt;/a&gt;
&lt;br/&gt;
Software Freedom Day website: &lt;a href="http://wiki.softwarefreedomday.org/2019/Australia/Victoria/Melbourne/Free%20Software%20Melbourne%20and%20Linux%20Users%20Victoria"&gt;http://wiki.softwarefreedomday.org/2019/Australia/Victoria/Melbourne/Free%20Software%20Melbourne%20and%20Linux%20Users%20Victoria&lt;/a&gt;
&lt;br/&gt;
&lt;h3&gt;Time Table&lt;/h3&gt;
1:00 - Welcomes and Introductions
&lt;br/&gt;
1:15 - Paul - Why Free Software is Vital for Freedom
&lt;br/&gt;
2:00 - Damien - Freedom for Musicians
&lt;br/&gt;
3:15 - Open Source community get together
&lt;br/&gt;
4:00 - David - Open Hardware
&lt;br/&gt;
5:30 - Official event ending
&lt;br/&gt;
6:00 - Dinner at Errol St&lt;br/&gt;&lt;p&gt;&lt;/p&gt;</summary><category term="Article"></category><category term="Free Software Melbourne"></category><category term="Meeting"></category><category term="Melbourne"></category><category term="News"></category></entry><entry><title>Keeping up with the giants</title><link href="http://www.freesoftware.org.au/blog/keeping-up-with-the-giants/" rel="alternate"></link><published>2019-01-24T00:24:59+00:00</published><updated>2022-03-07T13:51:07+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/keeping-up-with-the-giants/</id><summary type="html">Keeping up with the giants
&lt;p&gt;
The title is a word play on the term 'Keep up with the jones' the idea that for people to be happy then they have to emulate their neighbors in terms of achievements and assets or fear being left behind socially.
&lt;p&gt;
A criticism of free software I hear frequently is "This (proprietary software) costs $(x) million dollars to make. How can people give away the same quality software at no cost?". It may seem like a valid argument initially but there are a few issues with statements like these.
&lt;p&gt;
The most obvious, you are free to charge for software. There are no restrictions on making money on free software. While there is a very good chance that the software will become no-cost after people have purchased it and used the freedom to redistribute; regardless, this is still a good contribution of society. Generally if the software is good and you have a means of payment, people will support it to keep the working going. In that sense, free software could be one of the most pure examples of basic capitalism at work. Supply and demand without restriction.
&lt;p&gt;
The bigger issue is that, to think purely along the lines of 'x money = x output' is to blind ourselves to the potential of communities over a non-free business structure. There are many non-free programs that have hundreds of millions of dollars of development time, Adobe Photoshop is a good example. Despite the huge amount of work put into projects like that, free software with similar functions such as GIMP or Krita have produced similar results with less that 1/100th the money backing them up. They did not sell out their morals to produce the same functional results but infinitely better ethical results.
&lt;p&gt;
The idea that a video game needs a Hollywood action movie like budget to be 'fun' - is to miss the point of what games can be. When a perfectly viable an entertaining game can be made on a fraction of the budget while respecting your freedom is possible.
&lt;p&gt;
It is possible to have excellent output without needing the budget backing of a small nation. 
&lt;p&gt;
When we compare free software with non-free software, to make the argument about budget is to miss the point. If we were to let the big players dictate the rules on how to engage people in software, free software would have never happened. In terms of the money we would think it takes millions of dollars to achieve anything and in terms of software ethics, we would think we would have to perform a power play an restrict the users in order to release software.
&lt;p&gt;
The psychological factor to this is the idea that more money has been put into a project somehow means it is a better product and yet there is no basis for this. Money is not the issue, it is how the program treats the users. Money is a tool, not a quality measurement device.
&lt;p&gt;
If we restricted our thinking to these lines, we would have never even tried to make an alternative. The GNU operating system is a excellent example of what happens when one person (Richard Stallman) goes out and tries to make a difference in the world to then find many like minded people to help achieve something amazing.  
&lt;p&gt;
There has potentially been billions of dollars in free-software development but it has been diffused over many decades and tens of thousands of projects, all the while turning out amazing results without restricting the user in the process. This should be considered one of the great achievements of the 20th century and beyond.
&lt;p&gt;
Even with that amount of money, it is only a small fraction of money that non-free software has controlled directly and untold amounts that are not accounted for by restricting the users. Without that money, software that respects you would still be made out of the pure passion for creation and sharing.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>On Microsoft Edge and the Chromium Engine</title><link href="http://www.freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/" rel="alternate"></link><published>2018-12-17T01:27:36+00:00</published><updated>2022-03-07T13:51:11+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/on-microsoft-edge-and-the-chromium-engine/</id><summary type="html">It has been confirmed in the last week that Microsoft will be changing their Edge web browser to use a free-software/open source render engine in the form of Chromium/Blink. 
&lt;p&gt;
The rendering engine is the base system that handles a large part of the functionality of the web browser. It typically draws the website for display on the screen and runs the Java script to animate and process the website content.
&lt;p&gt;
On the surface this looks like a win for the free software community - however, this is just another move to deeper entrench proprietary technology into free software.
&lt;p&gt;
While Microsoft is moving to a more open standard please beware that this new browser is no better than the one provided now. It still uses non-free components that you cannot study, share, modify and share the modified; and it still has a lot of spy ware in the form of website behavior tracking for which Microsoft collects. 
&lt;p&gt;
There is also the issue that Google has been implementing a lot of functionality into the Chromium system that effectively binds it to non-free programs and functions built by Google. This is Google trying to force dependence on their services and their user tracking. This should not be tolerated. 
&lt;p&gt;
With Microsoft now adopting this technology base it has further closed the gap on how browser standards are treated. With only two players left in the browser standards field, FireFox and the Chromium based browsers there is the real possibility of Microsoft/Google strong arming a monopoly on technology standards that depend on these non-free components - effectively locking the world wide web into a restrictive system. 
&lt;p&gt;
While Firefox has a lot of privacy issues, it still uses a free software base renderer that is being heavily developed. The variants of Firefox that strip out the anti-features are still viable and must be supported for a free and open Internet. The are projects like GNU IceCat, A-Browser on Trisquel and Pure Browser on Pure OS - browsers that treat the users right. 
&lt;p&gt;
Do not support this push towards mono-standards as it will only hurt us long term even if it is the easy path now.&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>Free as in Freedom</title><link href="http://www.freesoftware.org.au/blog/free-as-in-freedom/" rel="alternate"></link><published>2018-06-13T11:47:49+00:00</published><updated>2019-01-17T04:05:39+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/free-as-in-freedom/</id><summary type="html">&lt;p&gt;While we are not directly affiliated with the Free Software Foundation in the US, it is very obvious how much we are infulenced by their work.&lt;/p&gt;
&lt;p&gt;In particular is the works of Richard Stallman and as a part of this is the three books that have been produced by the Free Software Foundation - "Free as in Freedom".&lt;/p&gt;
&lt;p&gt;The first version of this was released in 2002 by Sam Williams. It profiles the founder of the Free software movement and the motivations for producing the movement. It is done mostly in a 'summer read' biography style about the founder and less about the works that where produced.&lt;/p&gt;
&lt;p&gt;The second version is a revised version of the book by Richard Stallman. It is a unique piece of work in that it is a biography has been produced both by a biographer and said subject.&lt;/p&gt;
&lt;p&gt;Third edition is a complete summary of Stallmans essays from GNU.org and is a great piece of work that shoudl be given to people that want to learn about the free software movement. While this is titled "Free Software Free Society" it is considered version 3.&lt;/p&gt;
&lt;p&gt;Over the last decade or so it has become somewhat difficult to find copies of these books, even online. For those who it may concern, we have compiled these books so that they are all in one place.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://freesoftware.org.au/static/media/uploads/faif-1.0.pdf"&gt;Free as in Freedom Version 1&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://freesoftware.org.au/static/media/uploads/faif-2.0.pdf"&gt;Free as in Freedom Version 2&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="http://freesoftware.org.au/static/media/uploads/faif-3.0.pdf"&gt;Free as in Freedom Version 3 AKA Free Software Free Society.&lt;/a&gt;&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>Amazon Echo’s to big brother</title><link href="http://www.freesoftware.org.au/blog/amazon-echos-to-big-brother/" rel="alternate"></link><published>2018-01-18T05:15:39+00:00</published><updated>2019-01-17T04:06:16+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/amazon-echos-to-big-brother/</id><summary type="html">&lt;p&gt;Recent reports have shown that Amazon will not disclose exactly what information they gather from the voice activated ‘Amazon Echo’ device.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://www.zdnet.com/article/amazon-the-least-transparent-tech-company/" title="Amazon the least transparent tech company"&gt;ZDNet - Amazon the least transparent tech company.&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;The Echo is an always on listening device that allows people to speak queries and get a verbal answers. All this information is processed and stored off site on an Amazon server. This means Amazon is collecting and storing audio recordings of peoples houses for later use. Amazon claims this is to improve the accuracy of the voice commands. This is probably not a lie as it is part of the data processing but it is not the only use of this information. Having a giant storage of millions of homes recording is a power grab and a tool that can be used against the people.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Privacy does not exist when there is 'an always on' listening recording device is present.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;The base functionality is not an issue. If this service was run locally on the users computer then there would not be a major problem. To store and process information in your own home is not an injustice to you as you control your information. You can change, delete and even share this information if you so wish – you would retain control.&lt;/p&gt;
&lt;p&gt;Having the data is sent off site for processing and storage is a malicious act - it ishanding the information straight to Big Brother. It serves Amazon, Governments and 3&lt;sup&gt;rd&lt;/sup&gt; parties that wish to purchase this information as the main beneficiaries. Only after those have been satisfied will they serve the customer. Large companies like Amazon will only change their tune when they fear being caught out. The risk of losing profits rather than the fear of mistreating people that they act.&lt;/p&gt;
&lt;p&gt;They prioritise convenience so that people can be sucked into their data capture system. Mass surveillance devices and the data they collection can be used against people that oppose those in power. Either this can lead to a situation where democracy is undermined by force or people stop voicing their thoughts for fear of being recorded and persecuted. This is called social cooling (https://www.socialcooling.com/). In peaceful times these ideas seem far fetched and alarmist but the swings of power can change quickly and be exploited very rapidly.&lt;/p&gt;
&lt;p&gt;The Echo is a prime demonstration of these problems. It is not alone in these issues. Google Home, Microsoft Cortana and Apple HomePod all function in the same fashion and all mistreat the users equally.&lt;/p&gt;
&lt;p&gt;They are all proprietary products. The software is non-free thus hiding this function from the users; unable to see exactly what is being sent or to make changes so that it can work for the users wishes – such as work offline or with a local computer system or only run at certain times. Any device of this nature that does not allow you to install, modify and share the software is attacking your freedom to use it as you please.&lt;/p&gt;
&lt;p&gt;If someone respects their privacy, they will not use these devices or even talk near them. If a machine like this is to exist then it must work for the user and no one else. Without transparency to those that use it, then you cannot trust it.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;center&gt;
&lt;p&gt;&lt;img height="562" src="http://freesoftware.org.au/static/media/uploads/.thumbnails/amazonecho.jpeg/amazonecho-480x562.jpeg" width="480"/&gt;&lt;/p&gt;
&lt;/center&gt;</summary><category term="Article"></category></entry><entry><title>On Meltdown and Spectre exploits</title><link href="http://www.freesoftware.org.au/blog/on-meltdown-and-spectre-exploits/" rel="alternate"></link><published>2018-01-06T22:23:13+00:00</published><updated>2019-01-17T04:06:21+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/on-meltdown-and-spectre-exploits/</id><summary type="html">&lt;p&gt;It has been revealed that there are‭ two major exploits that exist in the vast majority of computers the world over. Unlike most typical exploits that are a result of security issues in software, these newly discovered issues result from purely hardware based problems. &lt;br/&gt;&lt;br/&gt;&lt;a href="https://meltdownattack.com/"&gt;See here for full details of the exploit - https://meltdownattack.com/&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;‭Meltdown impacts only those with Intel based processors. It is an issue that allows software to potentially run outside of its defined memory bounds. This means a malicious program has the potential to read private information on your computer such as personal passwords used for website logins, file encryption, banking etc. An equivalent would be if your neighbours could walk into your house unannounced and look around at everything you had. While they wouldn’t directly steal any physical objects they could see all your private details of your life and use them against you if they so wish.&lt;br/&gt;&lt;br/&gt;‭For those running a free software based GNU/Linux system, the community has produced software solution that will mitigate the issues of Meltdown. A good example of how free software can allow us, the users, to control their computing rather than waiting for a controlling company to issue a patch when they see fit. That is if they even produce one for the users system. &lt;br/&gt;&lt;br/&gt;‭Spectre is a similar issue that impacts almost every modern computer build since the mid 90‘s due to a similar functioning hardware flaw. It is much more difficult to be exploited however. This is an exploit that cannot be directly patched since it is related to how computers process instructions. The only way to avoid having this flaw is to either use a computer built before 1995 or wait for the next generation of computer to come along. That said those computers nowadays will mistreat you as they are typically running the Intel (Mis)Management Engine or the AMD Platform Sercurity Processor - both which take control away from you.&lt;br/&gt;&lt;br/&gt;‭There are solutions being developed in the free software community to help prevent these attack vectors from being accessible to malicious players. In the last week - ‬Free software projects such as program compilers like GCC and browsers like those based on Firefox have put into place fixes that should prevent the majority of potential threats. While it is not a perfect fix, it is the most viable.&lt;br/&gt;&lt;br/&gt;‭There are a few long term issues in regards to Meltdown and Spectre that relate to free technology.&lt;br/&gt;&lt;br/&gt;‭The need for Free Hardware Designs is more important than ever (‬&lt;a href="https://www.gnu.org/philosophy/free-hardware-designs.html"&gt;https://www.gnu.org/philosophy/free-hardware-designs.html&lt;/a&gt;). Having all designs for computer processors available to everyone to read, modify and share. The functional and ethical benefits of free software can be used to improve hardware design so that it doesn’t mistreat the users and so that potential issues can be studied and fixed before they become an issue. &lt;br/&gt;&lt;br/&gt;In the case of Intel (and majority of processor/technology companies), they do not allow anyone outside of their corporate organisation know how these chips work and thus they can intentionally hide these issues from the public, as was the case with these current issues. This is a power play that has put potentially billions of peoples personal information at risk of being leaked and used against them. There also definitely are other issues that are being hidden from the public and in light of these attacks this information is slowly coming out.&lt;br/&gt;&lt;br/&gt;These companies have tried to cover up these issues before. &lt;br/&gt;&lt;br/&gt;&lt;a href="https://www.itwire.com/security/81328-when-f00f-bug-hit-20-years-ago,-intel-reacted-the-same-way.html"&gt;https://www.itwire.com/security/81328-when-f00f-bug-hit-20-years-ago,-intel-reacted-the-same-way.html&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;‭With Free Software it is possible to use software that has been audited by others to ensure that it doesn’t not have any malicious features that use these exploits. If any issues are discovered then the users are in control and can actively fix the issue as a community. With Proprietary Non-free software the users are completely hat the mercy of the software developers.&lt;br/&gt;&lt;br/&gt;‭As computer hardware gets ever more complex, it becomes easier for hardware designers to hide malicious functionality. Intentional or not. More we need to demand the need for Free hardware design, it is no longer something that can be ignored. In combination with Free Software, this can ensure that the users have control of the products they own.&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>Amazon Fire TV has Youtube blocked by Google</title><link href="http://www.freesoftware.org.au/blog/amazon-fire-tv-has-youtube-blocked-by-google/" rel="alternate"></link><published>2018-01-02T02:12:58+00:00</published><updated>2019-01-17T04:06:24+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/amazon-fire-tv-has-youtube-blocked-by-google/</id><summary type="html">&lt;p&gt;As we enter 2018 a stark reminder of the power of online service providers and the restrictive software on their own devices has come to our attention.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;The Amazon Fire TV is a device that a user plugs into the TV to get all sorts of streaming video content. The device is proprietary and as such you are entirely at the will of the parent company, Amazon, in regards to what content you can watch and what programs you can run. Amazon does a lot of nasty things to people on the service from login everyone purchases, tracking what people are reading through to large scale tax dodging and poor worker treatment and this latest issue is just another damning issue for the company. Amazon and Google are currently engaging in a corporate battle for living room video streaming services. The battle is between allowing Amazon content on the Google devices and the Google content allowed on the Amazon devices. This initially started with Amazon not allowing people to buy Google products via their online store as a means to push their online video platform. Google has responded by removing support for their own platform - YouTube - to run on Amazon based devices. This is a case of abuse of power by both companies involved with the users losing out. Both companies are to blame.&lt;/p&gt;
&lt;p&gt;Google by disallowing their service on a competitor device, and Amazon for disallowing the users from using their own programs to continue access to these service. With Free software, the users would still be in control of the programs that dictate what can be accessed. With the users in control, those that provide the service have to support the many that wish to use the service.&lt;/p&gt;
&lt;p&gt;If the people control the access point, the companies will support the access of the data from their services. The power in the hands of the many not the few. Without this setup these services almost always mistreat the user in a power grab. To begin with by not allowing the user to make copies and share the content they receive on the devices they own through to a combination of proprietary software, even on websites via non-free Java Script/Plugins, in combination with proprietary video formats locked up with DRM (Digital Restrictions Management) means that you are entirely under control by an external entity.&lt;/p&gt;
&lt;p&gt;Netflix, Youtube, Amazon Video – all these services and many similar all mistreat the users and you should say “No way!” if offered to view or host video on these sites. The convenience they provide is merely a trap to get you sucked into their structure of mistreatment.&lt;/p&gt;
&lt;p&gt;For more information on this issue please go to this link.&lt;/p&gt;
&lt;p&gt;&lt;a href="http://variety.com/2017/digital/news/google-blocks-youtube-fire-tv-echo-show-1202631248/"&gt;http://variety.com/2017/digital/news/google-blocks-youtube-fire-tv-echo-show-1202631248/&lt;/a&gt;&lt;/p&gt;</summary><category term="Article"></category></entry><entry><title>Non-free Android applications always listening</title><link href="http://www.freesoftware.org.au/blog/non-free-android-applications-always-listening/" rel="alternate"></link><published>2017-12-31T23:46:28+00:00</published><updated>2019-01-17T04:06:37+00:00</updated><author><name>michaelv</name><uri>http://www.freesoftware.org.au/blog/author/michaelv/</uri></author><id>http://www.freesoftware.org.au/blog/non-free-android-applications-always-listening/</id><summary type="html">&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;It has been brought to our attention that there are now a few hundered applications on the Android platform that are using the microphone on the users phones to listen to what they are watching on TV all without the users knowledge.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;There are two main issues with this.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;Firstly, this is one of the faults of using non-free software. Without the ability for people other than the developers to see how these applications are built, there is no easy way for others to figure out if the developers are hidding these ‘non-features’. It the program is initially free, they are also less likely to try and put these function into programs.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;Secondly is the privacy issues on the users that their personal information is being collected with their explicit knoledge. This is a power play that only stands to negatively impact all those that are using this applications. This is an example of how when users are forced into an uncontrolable power sturcture such as a non-free application store, it is only a matter of time until those make this applications will use it against the users whether they know it or not.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;The only way you can potentially avoid these kinds of issues is to use only free software. For Android this means getting it from a source like F-Droid (&lt;a href="https://f-droid.org/"&gt;https://f-droid.org/&lt;/a&gt;), the 100% free software application store. While Android in its typical form will still send out your private information via the invasive Google applications that are typically on by default, using free software for all other functions will help you to retain control over your own machines and the information on them.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;You can read more on this over at the XDA Developers website.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;a href="https://www.xda-developers.com/android-apps-tracking-mic-always-listening/"&gt;https://www.xda-developers.com/android-apps-tracking-mic-always-listening/&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p style="margin-bottom: 0cm; line-height: 100%;"&gt;&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;</summary><category term="Article"></category><category term="News"></category></entry></feed>